<h1 id="tos-title">Terms of Service, revised [<%= TosAcceptance.current_version %>]</h1>
<div id="tos-content">
  <%= render :partial => '/site/tos_content' %>
</div>
<%= form_for :tos, url: record_tos_action_path, html: {class: 'form', id: 'tos-form'} do |f| %>
  <%= f.hidden_field :action, value: 'accept' %>
  <%= link_to "Accept", '#', class: 'btn btn-lg btn-success submit-tos', id: 'accept-tos', data: {accept: 'accept'} %>
  <%= link_to "Cancel", '#', class: 'btn btn-lg btn-danger submit-tos', id: 'deny-tos', data: {accept: 'deny'} %>
<% end %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

  $('.submit-tos').on('click', function(e) {
      var form = $('#tos-form');
      var userResponse = $(e.target).data('accept');
      $('#tos_action').val(userResponse);
      form.submit();
  });

</script>