<div class="form-group">
  <%= label_tag "#{@target}-cluster".to_sym, 'Load cluster' %><br />
  <%= select_tag "#{@target}-cluster".to_sym, options_for_select(@options, set_cluster_value(@study, params)), class: 'form-control cluster-select global-gene-cluster' %>
</div>

<div class="form-group">
  <%= label_tag "#{@target}-annotation".to_sym, 'Select annotation' %><br />
  <%= select_tag "#{@target}-annotation".to_sym, grouped_options_for_select(@cluster_annotations, set_annotation_value(@study, params)), class: 'form-control annotation-select global-gene-annotation' %>
</div>

<div class="form-group">
  <%= label_tag "#{@target}-subsample".to_sym, 'Subsampling threshold' %>&nbsp;<i class='fas fa-question-circle' title="Take a representative subsample of the current cluster.  Choosing all cells may dramatically increase rendering time." data-toggle="tooltip"></i><br />
  <%= select_tag "#{@target}-subsample".to_sym, options_for_select(subsampling_options(@cluster), set_subsample_value(params) ), {include_blank: @cluster.points < ClusterGroup::MAX_THRESHOLD ? 'All Cells' : false, class: 'form-control subsample-select global-gene-subsample'} %>
  <%= render partial: 'subsample_warning', locals: {cluster: @cluster} %>
</div>
