<% @studies.each do |study| %>
  <% study_description = strip_tags(study.description).truncate_words(100, omission: '... (continued)') %>
  <div class="panel panel-default study-panel" data-page="<%= params[:page].nil? ? 1 : params[:page] %>">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to study.name, view_study_path(study_name: study.url_safe_name), title: 'View Study', data: {toggle: 'tooltip'} %>&nbsp;<%= link_to "<span class='fas fa-#{study_description.present? ? 'minus-square' : 'plus-square'} toggle-description'></span>".html_safe, "#study-#{study.url_safe_name}", data: {toggle: 'collapse', parent: '#search-studies'} %></h4>
      </div>
    </div>
    <div id="study-<%= study.url_safe_name %>" class="panel-collapse collapse <%= study_description.present? ? 'in' : nil %>">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <%= study_description %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>