<h1>Registered Species</h1>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <div class="well">
        <table class="table table-striped" id="species">
          <thead>
            <tr>
              <th>Common Name</th>
              <th>Scientific Name</th>
              <th>Restricted?</th>
              <th>NCBI Taxon ID</th>
              <th>Genome Assemblies (Genome Annotations)</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @taxons.each do |taxon| %>
              <tr>
                <td><%= taxon.common_name %></td>
                <td><%= taxon.scientific_name %></td>
                <td><%= taxon.restricted? ? "<span class='label label-danger'>Restricted</span>".html_safe : "<span class='label label-success'>Unrestricted</span>".html_safe %></td>
                <td><%= link_to taxon.ncbi_taxid, "https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=#{taxon.ncbi_taxid}", target: :_blank %></td>
                <td>
                  <% taxon.genome_assemblies.each do |assembly| %>
                    <%= link_to assembly.name, "https://www.ncbi.nlm.nih.gov/assembly/?term=#{assembly.name}", target: :_blank %>&nbsp;
                    <% assembly.genome_annotations.each do |annotation| %>
                      <%= link_to "#{annotation.display_name} <i class='fas fa-download'></i>".html_safe, download_genome_annotation_path(id: annotation.id), class: 'btn btn-xs btn-warning' %>
                    <% end %>
                    <br />
                  <% end %>
                </td>
                <td class="actions">
                  <%= link_to "<span class='fas fa-search'></span> Details".html_safe, taxon_path(taxon), class: "btn btn-xs btn-info taxon-show" %>
                  <%= link_to "<span class='fas fa-edit'></span> Edit".html_safe, edit_taxon_path(taxon), class: "btn btn-xs btn-primary taxon-edit" %>
                  <%= link_to "<span class='fas fa-trash'></span> Delete".html_safe, taxon, method: :delete, class: "btn btn-xs btn-danger delete-btn taxon-delete", data: { confirm: 'Are you sure you want to delete this species entry?' } %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <%= link_to "<i class='fas fa-plus'></i> Manually Register Species".html_safe, new_taxon_path, class: 'btn btn-success' %>
      </div>
      <div class="col-sm-4">
        <%= form_tag(upload_species_list_path, id: 'upload-species-list-form', multipart: true) do %>
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" id="submit-species-list-form">
                <i class="fas fa-upload"></i> Upload Species List
              </button>
            </span>
            <%= file_field_tag :upload, class: 'form-control', id: 'upload-species-file' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

      $('#species').dataTable({
          pagingType: "full_numbers",
          pageLength: 10,
          order: [[0, 'asc']],
          language: {
              search: "Filter Results By: "
          }
      });

      $('#submit-species-list-form').click(function() {
          $('#generic-modal-title').html('Parsing Upload... Please Wait');
          launchModalSpinner('#generic-modal-spinner', '#generic-modal', function() {
              return true;
          });
      });

  </script>
</div>



