<%= form_for(@analysis_configuration, html: {id: 'analysis-configuration-form', class: 'form'}) do |f| %>
  <% if @analysis_configuration.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@analysis_configuration.errors.count, "error") %> prohibited this analysis from being saved:</h4>

      <ul>
      <% @analysis_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :namespace %><br />
      <%= f.text_field :namespace, class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= f.label :name %><br />
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= f.label :snapshot %><br />
      <%= f.number_field :snapshot, class: 'form-control', min: 1, step: 1 %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :configuration_namespace, 'Configuration Namespace' %><br />
      <%= f.text_field :configuration_namespace, class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= f.label :configuration_name, 'Configuration Name' %><br />
      <%= f.text_field :configuration_name, class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= f.label :configuration_snapshot, 'Configuration Snapshot' %><br />
      <%= f.number_field :configuration_snapshot, class: 'form-control', min: 1, step: 1 %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.submit 'Save', class: 'btn btn-lg btn-success', id: 'save-analysis-configuration' %>
    </div>
  </div>
<% end %>
