<h2><%= @analysis_configuration.identifier %> <%= link_to "<i class='fas fa-external-link-square-alt'></i>".html_safe, @analysis_configuration.method_repo_url, target: :_blank %></h2>
<p class="lead"><%= @analysis_configuration.synopsis %></p>
<h3>Analysis Parameters</h3>
<p class="text-muted">These are input/output parameters that will be used to generate user interfaces for submitting
  this analysis, and also govern behavior when syncing successful submissions of this analysis.</p>

<% @analysis_configuration.analysis_parameters.each do |parameter| %>
  <%= render partial: 'analysis_parameter_form', locals: {analysis_parameter: parameter} %>
<% end %>

<p>
  <%= link_to "<span class='fas fa-edit'></span> Edit".html_safe, edit_analysis_configuration_path(@analysis_configuration), class: 'btn btn-info' %>
  <%= link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, analysis_configurations_path, class: 'btn btn-warning' %>
</p>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

    $('#analysis-parameters').DataTable({
        pagingType: 'full_numbers'
    });

</script>