<div class="form-group row">
  <div class="col-sm-4">
    <%= f.label :x_axis_label, 'X Axis Label' %><br />
    <%= f.text_field :x_axis_label, class: 'form-control' %>
  </div>
  <div class="col-sm-4">
    <%= f.label :y_axis_label, 'Y Axis Label' %><br />
    <%= f.text_field :y_axis_label, class: 'form-control' %>
  </div>
  <div class="col-sm-4">
    <%= f.label :z_axis_label, 'Z Axis Label' %><br />
    <%= f.text_field :z_axis_label, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-2">
    <%= f.label :x_axis_min, 'X Domain Min' %><br />
    <%= f.text_field :x_axis_min, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :x_axis_max, 'X Domain Max' %><br />
    <%= f.text_field :x_axis_max, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :y_axis_min, 'Y Domain Min' %><br />
    <%= f.text_field :y_axis_min, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :y_axis_max, 'Y Domain Max' %><br />
    <%= f.text_field :y_axis_max, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :z_axis_min, 'Z Domain Min' %><br />
    <%= f.text_field :z_axis_min, class: 'form-control' %>
  </div>
  <div class="col-sm-2">
    <%= f.label :z_axis_max, 'Z Domain Max' %><br />
    <%= f.text_field :z_axis_max, class: 'form-control' %>
  </div>
</div>