<%= form_for(directory, url: sync_directory_listing_study_path(@study.id), html: {class: "bs-callout bs-callout-#{directory.file_type == 'fastq' ? 'warning' : 'default'} #{directory.sync_status == true ? 'synced' : 'unsynced'}-directory-listing", id: "directory-listing-#{directory.id}"}, data: {remote: true}) do |f| %>
  <%= f.hidden_field :_id, value: directory.id %>
  <%= f.hidden_field :study_id, value: params[:id] %>
  <%= f.hidden_field :sync_status, value: 1 %>
  <% if directory.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(directory.errors.count, "error") %> prohibited this study from being saved:</h4>

      <ul>
        <% directory.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :name, 'Folder/Location' %><br />
      <%= f.text_field :name, class: 'form-control', readonly: true, autocomplete: 'off' %>
    </div>
    <div class="col-sm-8">
      <%= f.label :description, 'Description' %><br />
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :file_type, 'File Type' %><br/>
      <%= f.text_field :file_type, class: 'form-control', readonly: true %>
    </div>
    <div class="col-sm-2">
      <%= label_tag :human_data, 'Human Data?' %> <i class="fas fa-fw fa-question-circle" data-toggle="tooltip" title="Primary sequence data derived from humans should be stored in other biological databases.  If this directory contains human data, you will not be able to synchronize it with your study."></i> <br/>
      <%= select_tag :human_data, options_for_select(['Yes', 'No'], 'No'), {class: 'form-control human-data', data: {id: "directory-listing-#{directory.id}"}} %>
    </div>
    <div class="col-sm-2">
      <% if directory.file_type.match(DirectoryListing::TAXON_REQUIRED_REGEX).present? %>
        <%= f.label :taxon_id, 'Species' %><br />
        <%= f.select :taxon_id, options_from_collection_for_select(Taxon.sorted, :id, :display_name, f.object.taxon_id),
                     {prompt: 'None selected...'}, {class: 'form-control taxon-select'} %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= f.label :files, 'Files found' %> <span class="badge directory-files-found"> <%= directory.files.size %></span>
    </div>
    <div class="col-sm-4">
      <%= f.label :actions %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.submit 'Sync', class: 'btn btn-block btn-success save-directory-listing' %>
        </div>
        <div class="col-xs-6">
          <%= link_to "Don't Sync", delete_directory_listing_study_path(@study.id, directory.id), class: 'btn btn-block btn-danger delete-file-sync delete-directory-listing', id: "delete-directory-#{directory.id}", method: :delete, data: {remote: true} %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

      var restrictedTaxons = <%= raw Taxon::RESTRICTED_NCBI_TAXON_IDS %>;

      $("#delete-directory-<%= directory.id %>").click(function() {
          launchModalSpinner('#delete-modal-spinner', '#delete-modal', function() {
              $.ajax({
                  url: "<%= delete_directory_listing_study_path(@study.id, directory.id) %>",
                  method: 'DELETE',
                  dataType: 'script'
              });
          });
      });

      $('#directory-listing-<%= directory.id %> .human-data').change(function() {
          var hDSelect = $(this);
          if ( hDSelect.val() === 'Yes' ) {
              var humanData = confirm('Does this directory contain human data?\n\nThe Single Cell Portal does not ' +
                  'currently permit storing human data.  Selecting "OK" will remove this list from your study (source ' +
                  'data files will be unaffected).');
              if (humanData) {
                  launchModalSpinner('#delete-modal-spinner', '#delete-modal', function() {
                      $.ajax({
                          url: "<%= delete_directory_listing_study_path(@study.id, directory.id) %>",
                          method: 'DELETE',
                          dataType: 'script'
                      });
                  });
              } else {
                  hDSelect.val('No');
              }
          }
      });

      $('#directory-listing-<%= directory.id %>').find('.taxon-select').change(function() {
          var taxonSelect = $(this);
          var selectedTaxon = $(this).val();
          if (selectedTaxon !== '') {
              $.getJSON('<%= get_taxon_path %>?taxon=' + selectedTaxon, function(taxon) {
                  if ( restrictedTaxons.includes(taxon.taxon_identifier) ) {
                      var humanData = confirm('Does this directory contain ' + taxon.common_name + ' data?\n\nThe Single ' +
                          'Cell Portal does not currently permit storing ' + taxon.common_name + ' sequence data.  ' +
                          'Selecting "OK" will remove this list from your study (source data files will be unaffected).');
                      if (humanData) {
                          launchModalSpinner('#delete-modal-spinner', '#delete-modal', function() {
                              $.ajax({
                                  url: "<%= delete_directory_listing_study_path(@study.id, directory.id) %>",
                                  method: 'DELETE',
                                  dataType: 'script'
                              });
                          });
                      } else {
                          taxonSelect.val('');
                      }
                  }
              })
          }
      });
  </script>
<% end %>

