<div class="well well-sm external-resource-form" id="<%= f.object.new_record? ? 'new-external-resource-form' : "#{f.object.id}-external-resource-form" %>">
  <div class="form-group row">
    <div class="col-sm-3">
      <%= f.label :title, 'Link Name' %>
      <br />
      <%= f.text_field :title, class: 'form-control external-resource-title' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :description, 'Description (used as tooltip)' %>
      <br />
      <%= f.text_field :description, class: 'form-control external-resource-description' %>
    </div>
    <div class="col-sm-3">
      <%= f.label :url, 'URL' %>
      <br />
      <%= f.text_field :url, class: 'form-control external-resource-url' %>
    </div>
    <div class="col-sm-2">
      <%= f.label :publication_url, 'Is this a publication?' %>
      <%= f.select :publication_url, options_for_select([['Yes', 1],['No', 0]], f.object.publication_url ? 1 : 0), {}, class: 'form-control external-resource-publication-url' %>
    </div>
    <div class="col-sm-1">
      <%= f.label :delete, "&nbsp;".html_safe %><br />
      <%= f.link_to_remove "<span class='btn btn-sm btn-danger'><span class='fas fa-times'></span></span>".html_safe, data: {confirm: 'Are you sure?  This cannot be undone unless you reload the page before saving.'} %>
    </div>
  </div>
</div>