<%= form_for(study_file, url: update_study_file_study_path(@study._id), html: {id: "fastq_form_#{study_file._id}", class: 'bs-callout bs-callout-info initialize_fastq_form', remote: true}) do |f| %>
	<%= f.hidden_field :study_id, value: params[:id] %>
	<div class="form-group row">
		<div class="col-sm-4">
			<%= f.label :name %><br />
			<%= f.text_field :name, class: 'form-control filename', readonly: true, placeholder: 'Filename is taken from uploaded file...' %>
		</div>
		<div class="col-sm-8">
			<%= f.label :description %><br />
			<%= f.text_field :description, class: 'form-control' %>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<%= f.label :file_type %><br />
			<%= f.text_field :file_type, readonly: true, class: 'form-control' %>
		</div>
		<div class="col-sm-2">
			<%= f.label :human_data, "Primary Human Data?" %><br />
			<%= f.select :human_data, options_for_select([['Yes', true],['No', false]], study_file.human_data), {}, class: 'form-control human-data' %>
		</div>
		<div class="col-sm-5 upload-field <%= study_file.human_data? ? 'hidden' : nil %>">
			<%= f.label :upload, 'Upload Data File' %><br />
			<%= f.file_field :upload, class: 'btn btn-info fileinput-button upload-fastq' %>
			<%= f.hidden_field :status, value: 'uploading' %>
		</div>
		<div class="col-sm-5 fastq-field <%= study_file.human_data? ? nil : 'hidden' %>">
			<%= f.label :human_fastq_url, 'Link to primary human fastq file' %><br />
			<%= f.text_field :human_fastq_url, class: 'form-control', disabled: !f.object.human_data? %>
		</div>
		<div class="col-sm-3">
			<%= f.label :actions %>
			<div class="row">
				<div class="col-xs-6">
					<%= f.submit 'Save', class: 'btn btn-block btn-success save-study-file', disabled: !study_file.human_data? %>
				</div>
				<div class="col-xs-6">
					<%= link_to 'Delete', delete_study_file_study_path(@study._id, study_file._id, target: "#fastq_form_#{study_file._id}"), method: :delete, class: 'btn btn-block btn-danger delete-file', data: {remote: true} %>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group upload-progress">
		<table class="table table-condensed">
			<tbody class="files"></tbody>
		</table>
	</div>
	<script type="text/javascript">

		$('#fastq_form_<%= study_file._id %>').find('.human-data').change(function() {
			toggleFastqFields('fastq_form_<%= study_file._id %>');
		});

		$(function() {
			$('#fastq_form_<%= study_file._id %>').fileupload({
				url: "<%= upload_study_path(@study._id) %>",
				maxChunkSize: 10000000, // 10 MB
				type: 'PATCH',
				acceptFileTypes: /\.(fq|fastq)(\.tar)?\.gz$/i,
				add: function (e, data) {
					fileUploading = true;
					var that = this;
					var fileName = data.files[0].name.replace(/ /g, '_');
					// this is the chunked upload callback, will upload 10MB at a time until finished
					$.getJSON("<%= resume_upload_study_path %>", { file: fileName }, function (result) {
						var file = result.file;
						data.uploadedBytes = file && file.size;
						$.blueimp.fileupload.prototype.options.add.call(that, e, data);
					});
				},
				// on each chunk completion, update status
				chunkdone: function(e, data) {
					var perc = parseInt(data.loaded / data.total * 100, 10);
					$(data.context).find('h1').html(perc + "%");
				},
				// file upload is done, now clean up
				done: function(e, data) {
					var fileName = data.files[0].name.replace(/ /g, '_');
					// update upload status
					$.ajax({
						url: "<%= update_status_study_path %>",
						type: "PATCH",
						data: { status: 'uploaded', file: fileName}
					});
					fileUploading = false;
					$.get("<%= retrieve_wizard_upload_study_path(@study._id) %>", {file: fileName, selector: '#fastq_form_<%= study_file._id %>', partial: 'initialize_fastq_form'});
					if (<%= @study.study_files.select {|sf| sf.file_type == 'Fastq'}.size == 1 %>) {
						completeWizardStep('initialize_fastq_form_nav');
						setWizardProgress(getWizardStatus());
						console.log('incrementing status for fastq upload');
						$('#initialize_fastq_form_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: 'initialize_fastq_form_completed'}) %>");
						$('#initialize_fastq_form_nav_completed').html("<span class='fa fa-check text-success'></span>");
					}
				}
			});
		});

	</script>

	<% if !study_file.upload_file_name.nil? %>
		<p><label>Link to file </label><br /><%= render partial: '/layouts/download_link', locals: {study: @study, study_file: study_file} %></p>
	<% end %>
<% end %>
