<%= form_for(study_file, url: sync_orphaned_study_file_study_path(@study._id), html: {id: "study-file-#{study_file._id}" , class: "bs-callout bs-callout-danger" }, data: {remote: true}) do |f| %>
  <%= render partial: 'study_file_errors', locals: {study_file: study_file} %>
  <%= f.hidden_field :study_id, value: params[:id] %>
  <%= f.hidden_field :_id, value: study_file._id %>
  <%= f.hidden_field :upload_file_name %>
  <%= f.hidden_field :upload_file_size %>
  <%= f.hidden_field :status, value: 'uploaded' %>
  <%= f.hidden_field :upload_content_type %>
  <%= f.hidden_field :generation %>
  <%= f.hidden_field :remote_location %>
  <% study_file.options.each do |key, value| %>
    <%= hidden_field_tag "study_file_options_#{key}", value, name: "study_file[options][#{key}]" %>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-3">
      <% if study_file.file_type == 'Cluster' || study_file.file_type == 'Gene List' %>
        <%= f.label :upload_file_name, 'File Name' %><br />
        <%= f.text_field :upload_file_name, class: 'form-control filename', readonly: true %>
      <% else %>
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control filename', readonly: true, autocomplete: 'off' %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= label_tag :existing_file, 'Sync with existing file' %>
      <%= select_tag :existing_file, options_for_select(@available_files.map {|f| f[:name]}), {class: 'form-control existing-file-select', include_blank: 'Please select a file', id: "existing-file-#{study_file.id}", data: {study_file_id: "#{study_file.id}"} } %>
    </div>
    <div class="col-sm-6">
      <%= f.label :description, 'Description' %><br />
      <%= f.text_field :description, class: 'form-control' %>
    </div>
  </div>
  <div id="study-file-<%= study_file._id %>-extra-info">
    <% if study_file.file_type == 'Cluster'  %>
      <%= render partial: 'cluster_axis_fields', locals: {f: f.dup} %>
    <% elsif study_file.file_type == 'Metadata' %>
      <%= render partial: 'metadata_file_fields', locals: {f: f.dup} %>
    <% elsif study_file.file_type == 'Expression Matrix' || study_file.file_type == 'MM Coordinate Matrix' %>
      <%= render partial: 'expression_file_fields', locals: {f: f.dup} %>
    <% end %>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :file_type %><br />
      <%= f.text_field :file_type, class: 'form-control file-type', readonly: true %>
    </div>
    <div class="col-sm-4 taxon-select-target">
      <% if StudyFile::TAXON_REQUIRED_TYPES.include?(study_file.file_type) || study_file.file_type == 'Analysis Output' %>
        <%= render partial: 'taxon_fields', locals: {f: f.dup} %>
      <% end %>
    </div>
    <div class="col-sm-2">
      <%= label_tag :reparse, 'Reparse File?' %><br/>
      <%= select_tag :reparse, options_for_select(%w(Yes No)), {class: 'form-control'} %>
    </div>
    <div class="col-sm-2">
      <%= f.label :actions %>
      <div class="row">
        <div class="col-xs-6">
          <%= f.submit 'Sync', class: 'btn btn-block btn-success save-study-file', id: "sync-study-file-#{study_file.id}" %>
        </div>
        <div class="col-xs-6">
          <%= link_to "Delete", unsync_study_file_study_path(@study._id, study_file._id), method: :delete, title: "This will delete all database records associated with #{study_file.name} but leave the remote file in the workspace.", class: 'btn btn-block btn-danger delete-file-sync delete-study-file', data: {remote: true, toggle: 'tooltip'} %>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
      <%= render partial: 'shared_sync_functions.js.erb', locals: {study_file: study_file, f: f.dup} %>

      $('#sync-study-file-<%= study_file.id %>').click(function() {
          if ($("#existing-file-<%= study_file.id %> ").val() !== '') {
              return true;
          } else {
              alert('You must select an existing file to sync with first');
              return false;
          }
      });
  </script>
<% end %>
