<div class="bs-callout bs-callout-default">
	<h4>Parse uploaded file <span class="label label-info">Expression</span></h4>
	<%= form_for(:expression, url: launch_parse_job_study_path(@study._id), html: {class: 'form', remote: true, id: "#{study_file._id}_parse"}) do |f| %>
		<div class="form-group row">
			<div class="col-md-10">
				<%= f.label :expression_file, 'Expression Data file' %><br />
				<p><%= render partial: '/layouts/download_link', locals: {study_file: study_file, study: @study} %></p>
				<%= f.hidden_field :expression_file, value: study_file.name, class: 'form-control' %>
			</div>
			<div class="col-md-2">
				<%= f.label :parse, 'Actions' %><br />
				<%= f.submit 'Parse', class: 'btn btn-info parse-study-file', 'data-loading-text' => 'Parsing...'  %>
				<%= render partial: 'refresh_link', locals: {study_file: study_file} %>
			</div>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	var parser = "#<%= study_file._id %>_parse";

	$(parser).find('.download-btn').click(function() {
		var url = $(this).data('filepath');
		$.get(url);
	});

	// enable loading text for necessary buttons
	$(parser).find('.loading').on('click', function() {
		$(this).button('loading');
	});

</script>