<div class="bs-callout bs-callout-default">
	<h4>Parse uploaded file <span class="label label-info">Clusters</span></h4>
	<%= form_for(:clusters, url: launch_parse_job_study_path(@study._id), html: {class: 'form', remote: true}) do |f| %>
		<div class="form-group row">
			<div class="col-md-4">
				<%= f.label :assignment_file, 'Cluster assignment file' %><br />
				<p><%= @study.cluster_assignment_file.name %></p>
			</div>
			<div class="col-md-4">
				<%= f.label :cluster_file, 'Cluster coordinates file' %><br />
				<p><%= study_file.name %> <%= link_to "Download (#{number_to_human_size(study_file.upload_file_size, prefix: :si)}) <span class='fa fa-download'></span>".html_safe, study_file.download_path, class: 'btn btn-sm btn-primary pull-right' %></p>
				<%= f.hidden_field :cluster_file, value: study_file.name, class: 'form-control', readonly: true %>
			</div>
			<div class="col-md-2">
				<%= f.label :cluster_type, 'Cluster type' %><br />
				<%= f.select :cluster_type, options_for_select(['primary', 'sub']), {}, class: 'form-control' %>
			</div>
			<div class="col-md-2">
				<%= f.label :parse, 'Actions' %><br />
				<%= f.submit 'Parse', class: 'btn btn-info' %>
			</div>
		</div>
	<% end %>
</div>