<div class="bs-callout bs-callout-default">
	<h4>Parse uploaded file <span class="label label-info">Clusters</span></h4>
	<%= form_for(:clusters, url: launch_parse_job_study_path(@study._id), html: {class: 'form', remote: true, id: "#{study_file._id}_parse"}) do |f| %>
		<div class="form-group row">
			<div class="col-md-4">
				<%= f.label :assignment_file, 'Cluster assignment file' %><br />
				<p><%= @study.cluster_assignment_file.name %></p>
			</div>
			<div class="col-md-4">
				<%= f.label :cluster_file, 'Cluster coordinates file' %><br />
				<p><%= render partial: '/layouts/download_link', locals: {study_file: study_file, study: @study} %></p>
				<%= f.hidden_field :cluster_file, value: study_file.name, class: 'form-control', readonly: true %>
			</div>
			<div class="col-md-2">
				<%= f.label :cluster_type, 'Cluster type' %><br />
				<%= f.select :cluster_type, options_for_select([['Primary cluster','parent'], ['Sub-cluster','sub']]), {}, class: 'form-control' %>
			</div>
			<div class="col-md-2">
				<%= f.label :parse, 'Actions' %><br />
				<%= f.submit 'Parse', class: 'btn btn-info parse-study-file', disabled: study_file.parse_status != 'unparsed'  %>
				<%= render partial: 'refresh_link', locals: {study_file: study_file} %>
			</div>
		</div>
	<% end %>
</div>

<%= render partial: 'parser_script_tag', locals: {study_file: study_file} %>