<% if f.object.show_share? %>
<div class="well well-sm study-share-form" id="<%= f.object.new_record? ? 'new-share-form' : "#{f.object.email_as_id}-share-form" %>">
	<div class="form-group row">
		<div class="col-sm-6">
			<%= f.label :email %>
        <% if !f.object.new_record? %>
          <span class="fas fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="right" title="Editing share emails is not permitted.  If the email is incorrect, please delete the share and create a new one."></span>
        <% end %>
      <br />
			<%= f.text_field :email, class: 'form-control share-email', readonly: !f.object.new_record?, autocomplete: 'no' %>
		</div>
		<div class="col-sm-5">
			<%= f.label :permission %><br />
			<%= f.select :permission, options_for_select(StudyShare::PERMISSION_TYPES, f.object.permission), {}, class: 'form-control share-permission' %>
      <span class="help-block share-description"><%= StudyShare::PERMISSION_DESCRIPTION_MAP[f.object.permission] %></span>
		</div>
		<div class="col-sm-1">
			<%= f.label :delete, "&nbsp;".html_safe %><br />
			<%= f.link_to_remove "<span class='btn btn-sm btn-danger'><span class='fas fa-times'></span></span>".html_safe, data: {confirm: 'Are you sure?  This cannot be undone unless you reload the page before saving.'} %>
		</div>
	</div>
</div>
<% end %>