<div class="row">
  <div class="col-xs-6">
    <%= f.label :taxon_id, 'Species' %> <%= render partial: 'taxon_help_popover', locals: {id: f.object.id.to_s} %><br />
    <%= f.select :taxon_id, options_from_collection_for_select(Taxon.sorted, :id, :display_name, f.object.taxon_id.present? ? f.object.taxon_id.to_s : nil),
                 {include_blank: 'None selected...'}, {class: 'form-control taxon-select'} %>
  </div>
  <div class="col-xs-6 <%= StudyFile::ASSEMBLY_REQUIRED_TYPES.include?(f.object.file_type) || f.object.file_type == 'Analysis Output' ? nil : 'hidden' %> genome-assembly-association">
    <%= f.label :genome_assembly_id, 'Genome Assembly' %> <%= render partial: 'taxon_help_popover', locals: {id: f.object.id.to_s} %><br/>
    <% if f.object.taxon_id.present? %>
      <%= f.select :genome_assembly_id, options_for_select(f.object.taxon.genome_assemblies.map {|a| [a.name, a.id.to_s]},
                                                           f.object.genome_assembly_id.present? ? f.object.genome_assembly_id.to_s : nil),
                   {}, {class: 'form-control genome-assembly-select'} %>
    <% else %>
      <%= f.select :genome_assembly_id, options_for_select([]), {prompt: 'Please select species...'}, {class: 'form-control genome-assembly-select'} %>
    <% end %>
  </div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

    if (typeof isTaxonSelectHandlerDefined === 'undefined') {

      // Ensures event handler is attached only once;
      // needed for e.g. _share_sync_functions.js.erb
      window.isTaxonSelectHandlerDefined = true;

      $(document).on('change', '.taxon-select', function () {
        var speciesDropdown = $(this);
        var assemblyDropdown = speciesDropdown.parentsUntil('.taxon-select-target').find('.genome-assembly-select');
        var selectedTaxon = speciesDropdown.val();
        if (selectedTaxon !== '') {
          // perform check to see if human was selected
          var fileType = speciesDropdown.parentsUntil('form').parent().find('.file-type').val();
          $.getJSON('<%= get_taxon_path %>?taxon=' + selectedTaxon, function (taxon) {
            if ((fileType === 'BAM' || fileType === 'Fastq') && taxon.restricted ) {
              var restrictedData = confirm('Is this ' + fileType + ' file ' + taxon.common_name + ' data?\n\n' +
                'The Single Cell Portal does not currently permit storing ' + taxon.common_name + ' sequence data.  ' +
                'Selecting "OK" will remove this list from your study (source data files will be unaffected).');
              if (restrictedData) {
                speciesDropdown.remove();
              } else {
                speciesDropdown.val('');
                assemblyDropdown.empty();
                assemblyDropdown.append('<option value="">Please select species...</option>');
              }
            } else {
              $.getJSON('<%= get_taxon_assemblies_path %>?taxon=' + selectedTaxon, function (data) {
                  assemblyDropdown.empty();
                  $(data).each(function (index, assembly) {
                    assemblyDropdown.append($('<option />', {
                      value: assembly[1],
                      text: assembly[0]
                    }));
                  });
                }
              )
            }
          })

        } else {
          assemblyDropdown.empty();
          assemblyDropdown.append('<option value="">Please select species...</option>');
        }
      });
    }

</script>