<div class="terra-style">
<h1>MY STUDIES <%= scp_link_to "<span class='fas fa-fw fa-lg fa-plus-circle'>".html_safe, new_study_path, class: 'action', id: 'create-new-study' %></h1>
<div class="row">
	<div class="col-md-12">
		<div class="table-responsive">
			<div class="well">
				<table class="table" id="studies">
					<thead>
					<tr>
            <th>Name</th>
            <th>Owner</th>
						<th>Visibility</th>
            <th>#&nbsp;Files</th>
						<th class="actions">Actions</th>
					</tr>
					</thead>

					<tbody>
					<% @studies.each do |study| %>
						<tr class="study-entry">
              <td class="study-name"><%= scp_link_to study.name, view_study_path(accession: study.accession, study_name: study.url_safe_name), title: 'View Live', data: {toggle: 'tooltip', placement: 'right'}, id: "#{study.url_safe_name}-view-live-link" %><br>
                <%= strip_tags(truncate_html(study.description, length: 50)) %>
              </td>
              <td><%= study.user.email %></td>
							<td><%= study.visibility %></td>
              <td id="<%= study.url_safe_name %>-study-file-count"><%= study.total_file_count %></td>
							<td class="action-column">
                <% if study.can_edit?(current_user) %>
                  <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle btn-circle"
                            type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                      <span class="fas fa-ellipsis-v"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <%= scp_link_to "<span class='text-info fas fa-info-circle'></span> Show Details".html_safe, study_path(study), class: "#{study.url_safe_name}-show" %>
                      </li>
                      <li>
                         <%= scp_link_to "<span class='text-success fas fa-upload'></span> Upload/Edit Data".html_safe, initialize_study_path(study), class: "#{study.url_safe_name}-upload" %>
                      </li>
                      <li>
                        <%= scp_link_to "<span class='text-warning fas fa-sync-alt'></span> Sync Workspace".html_safe, sync_study_path(study), class: "#{study.url_safe_name}-sync sync-button" %>
                      </li>
                      <li>
                        <%= scp_link_to "<span class='text-primary fas fa-edit'></span> Edit Study".html_safe, edit_study_path(study), class: "#{study.url_safe_name}-edit" %>
                      </li>
                    </ul>
                  </div>
                  <% if study.can_delete?(current_user) %>
                    <div class="btn-group">
                      <button class="btn btn-default dropdown-toggle btn-circle btn-danger"
                              type="button"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false">
                        <span class='fas fa-trash'></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <%= scp_link_to "<span class='text-danger fas fa-trash'></span> Delete Study & Workspace".html_safe, study_path(study),
                                          class: "#{study.url_safe_name}-delete",
                                          title: 'Delete everything, including Terra workspace' , method: :delete,
                                          data: {toggle: 'tooltip', placement: 'top'} %>
                        </li>
                        <li>
                          <%= scp_link_to "<span class='text-danger fas fa-trash'></span> Delete Study Only".html_safe, study_path(id: study.id, workspace: 'persist'),
                                          class: "#{study.url_safe_name}-delete-local",
                                          title: 'Delete all database records but keep Terra workspace' , method: :delete,
                                          data: {toggle: 'tooltip', placement: 'top', workspace: 'persist'} %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                <% end %>
              </td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="sync-modal" role="dialog" aria-labelledby="sync-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Syncing Files and Permissions... Please Wait.</h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="sync-modal-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

    $('#studies').dataTable({
        pagingType: "full_numbers",
        pageLength: 25,
        order: [[0, 'asc']],
        language: {
            search: "Filter Results By: "
        }
    });

    // ask user to confirm delete, then show modal
    // use event delegation to attach to all delete-btn regardless
    // of whether they are visible yet or not
    $('#studies').on('click', '.delete-btn', function(){
        // get name of study for confirmation
        var study = $(this).parent().parent().find('.study-name').text();
        var keepWorkspace = $(this).data('workspace');
        var deleteMessage = 'Are you sure you want to delete \"' + study + '\"?' +
        ' This will remove all associated portal records for your study,';
        if (keepWorkspace === 'persist') {
            deleteMessage += ' but will keep the associated Terra workspace in place.';
        } else {
            deleteMessage += ' including the Terra workspace and all uploaded files.';
        }
        deleteMessage += "\n\nThis cannot be undone.";
        if ( confirm(deleteMessage)) {
            launchModalSpinner('#delete-modal-spinner','#delete-modal', function() {
                return true;
            });
        } else {
            return false;
        }
    });

    $('.sync-button').click(function() {
        launchModalSpinner('#sync-modal-spinner','#sync-modal', function() {
            return true;
        });
    });

</script>
