<h1>Initialize Study Data for '<%= @study.name %>'</h1>

<div id="rootwizard">
	<ul class="nav wizard-nav">
		<li role="presentation"><a href="#assignment" data-toggle="tab">1. Cluster Assignments </a></li>
		<li role="presentation"><a href="#clusters" data-toggle="tab">2. Primary Cluster Coordinates </a></li>
		<li role="presentation"><a href="#expression" data-toggle="tab">3. Expression Matrix </a></li>
		<li role="presentation"><a href="#sub-clusters" data-toggle="tab">4. Sub-Cluster Coordinates </a></li>
		<li role="presentation"><a href="#marker-genes" data-toggle="tab">5. Marker Gene Lists </a></li>
		<li role="presentation"><a href="#fastq" data-toggle="tab">6. Fastq Data </a></li>
		<li role="presentation"><a href="#misc" data-toggle="tab">7. Miscellaneous </a></li>
	</ul>

	<div id="bar" class="progress progress-striped active">
		<div class="progress-bar"></div>
	</div>
	<div class="tab-content">
		<div class="tab-pane" id="assignment">
			<div class="well well-sm">
				<h2>Step 1. Upload Cluster Assignments File <small class="initialize-label"><span class="label label-danger">Required</span></small></h2>
				<p class="lead">Upload a tab-delimited text file containing all of your cluster and sub-cluster assignments for each single cell.  The file must be a plain text (.txt) file with 3 columns and a header row containing the values 'CELL_NAME', 'CLUSTER', and 'SUB-CLUSTER'.</p>
			</div>
			<%= render partial: 'initialize_assignments_form', locals: {study_file: @assignment_file} %>
		</div>
		<div class="tab-pane" id="clusters">
			<div class="well well-sm">
				<h2>Step 2. Upload Primary Cluster Coordinates File <small class="initialize-label"><span class="label label-danger">Required</span></small></h2>
				<p class="lead">Upload a tab-delimited text file containing your primary cluster coordinates.  The file must be a plain text (.txt) file with 3 columns and a header row containing the values 'CELL_NAME', 'X', and 'Y'.</p>
			</div>
			<%= render partial: 'initialize_clusters_form', locals: {study_file: @parent_cluster} %>
		</div>
		<div class="tab-pane" id="expression">
			<div class="well well-sm">
				<h2>Step 3. Upload Expression Matrix File <small class="initialize-label"><span class="label label-danger">Required</span></small></h2>
				<p class="lead">Upload a tab-delimited text file containing all of your gene expression scores for all genes and single cells.  The file must be a plain text (.txt) file with with a header row containing the value 'GENE' in the first column, and single cell names in each successive column.</p>
			</div>
			<%= render partial: 'initialize_expression_form', locals: {study_file: @expression_file} %>
		</div>
		<div class="tab-pane" id="sub-clusters">
			<div id="sub-clusters-target">
				<div class="well well-sm">
					<h2>Step 4. Upload Sub Cluster Coordinates File <small class="initialize-label"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload a tab-delimited text file containing any sub-cluster coordinates.  These sub-clusters must be identified in your cluster assignment file.  The file must be a plain text (.txt) file with 3 columns and a header row containing the values 'CELL_NAME', 'X', and 'Y'.</p>
				</div>
				<% @sub_clusters.each do |study_file| %>
					<%= render partial: 'initialize_sub_clusters_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					// check if upload has already happened
					if (<%= !@sub_clusters.first.upload_file_name.nil? %>) {
						completeWizardStep();
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Sub-Cluster File".html_safe, new_study_file_study_path(@study._id, file_type: 'Cluster Coordinates', cluster_type: 'sub', target: '#sub-clusters-target', form: 'initialize_sub_clusters_form'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>
		</div>
		<div class="tab-pane" id="marker-genes">
			<div id="marker-genes-target">
				<div class="well well-sm">
					<h2>Step 5. Upload Marker Genes List File <small class="initialize-label"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload a tab-delimited text file containing a list of marker genes and their expression values across any clusters.  The file must be a plain text (.txt) with the value 'GENE NAMES' in the first column, and cluster names in each successive column.</p>
				</div>
				<% @marker_lists.each do |study_file| %>
					<%= render partial: 'initialize_marker_genes_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					// check if upload has already happened
					if (<%= !@marker_lists.first.upload_file_name.nil? %>) {
						completeWizardStep();
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Marker Gene List File".html_safe, new_study_file_study_path(@study._id, file_type: 'Marker Gene List', target: '#marker-genes-target', form: 'initialize_marker_genes_form'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>

		</div>
		<div class="tab-pane" id="fastq">
			<div id="fastq-target">
				<div class="well well-sm">
					<h2>Step 6. Upload Fastq Files <small class="initialize-label"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload any non-primary human fastq data files.  If your data is primary human data, you can link to it here by selecting 'Yes' in the 'Primary Human Data' field.</p>
				</div>
				<% @fastq_files.each do |study_file| %>
					<%= render partial: 'initialize_fastq_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					// check if upload has already happened
					if (<%= !@fastq_files.first.upload_file_name.nil? %>) {
						completeWizardStep();
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Fastq File".html_safe, new_study_file_study_path(@study._id, file_type: 'Fastq', target: '#fastq-target', form: 'initialize_fastq_form'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>

		</div>
		<div class="tab-pane" id="misc">
			<div id="misc-target">
				<div class="well well-sm">
					<h2>Step 7. Upload Documentation/Other Files <small class="initialize-label"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload any documentation or other support files you have.</p>
				</div>
				<% @other_files.each do |study_file| %>
					<%= render partial: 'initialize_misc_form', locals: {study_file: study_file} %>
				<% end %>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Study File".html_safe, new_study_file_study_path(@study._id, file_type: 'Documentation',  target: '#misc-target', form: 'initialize_misc_form'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>

		</div>
		<ul class="pager wizard">
			<li class="previous"><a href="#">Previous</a></li>
			<li class="next"><a href="#" id="next-btn">Next</a></li>
			<li class="next skip"><a href="#" id="skip-btn">Skip</a></li>
			<li class="next finish" style="display:none;"><%= link_to "Finish", study_path(@study) %></li>
		</ul>
	</div>
</div>
<div id="study-files-notice-target"></div>
<%= render 'fileupload_templates' %>

<script>
	$(document).ready(function() {
		var wizard = $('#rootwizard');

		wizard.bootstrapWizard({'tabClass': 'nav-tabs',
			onTabShow: function(tab, navigation, index) {
				var total = navigation.find('li').length;
				var current = index+1;
				var percent = (current/total) * 100;
				$('#bar').find('.progress-bar').css({width:percent+'%'});
				if(current >= total) {
					wizard.find('.pager .next').hide();
					wizard.find('.pager .skip').hide();
					wizard.find('.pager .finish').show();
					wizard.find('.pager .finish').removeClass('disabled');
				} else if (current <= completed && current <= 3) {
					wizard.find('.pager .skip').hide();
				} else if (current <= completed && completed > 3 && current >= 3) {
					wizard.find('.pager .skip').show();
				} else if (current > completed && completed >= 3) {
					wizard.find('.pager .next').show();
					wizard.find('.pager .skip').show();
					$('#next-btn').parent().addClass('disabled');
					$('#next-btn').click(disableNext());
				} else {
					wizard.find('.pager .skip').hide();
					$('#next-btn').parent().addClass('disabled');
					$('#next-btn').click(disableNext());
				}
		},
			// disable tabs
			onTabClick: function() {return false},
			onNext: function(tab, navigation, index) {
				if (index > completed && completed < 3) {
					alert('You must complete your current step before continuing');
					return false;
				}
			},
			onPrevious: function(tab, navigation, index) {
				if (completed >= index  || completed >= 3) {
					$('#next-btn').parent().removeClass('disabled');
					$('#next-btn').off(disableNext());
				}
			}
		});
	});
</script>