<h1>Upload/Edit Study Data for '<%= @study.name %>' <%= render partial: 'initialize_study_label' %></h1>

<div id="rootwizard">
	<ul class="nav wizard">
    <li role="presentation" class="wizard-nav" id="initialize_expression_form_nav"><a href="#expression" data-toggle="tab">1. Expression Matrix <span id="initialize_expression_form_nav_completed"></span></a></li>
    <li role="presentation" class="wizard-nav" id="initialize_metadata_form_nav"><a href="#metadata" data-toggle="tab">2. Metadata <span id="initialize_metadata_form_nav_completed"></span></a></li>
    <li role="presentation" class="wizard-nav" id="initialize_ordinations_form_nav"><a href="#ordinations" data-toggle="tab">3. Clusters <span id="initialize_ordinations_form_nav_completed"></span></a></li>
		<li role="presentation" class="wizard-nav" id="initialize_primary_data_form_nav"><a href="#primary-data" data-toggle="tab">4. Primary Data <span id="initialize_primary_data_form_nav_completed"></span></a></li>
    <li role="presentation" class="wizard-nav" id="initialize_marker_genes_form_nav"><a href="#marker-genes" data-toggle="tab">5. Gene Lists <span id="initialize_marker_genes_form_nav_completed"></span></a></li>
		<li role="presentation" class="wizard-nav" id="initialize_misc_form_nav"><a href="#misc" data-toggle="tab">6. Miscellaneous <span id="initialize_misc_form_nav_completed"></span></a></li>
	</ul>

	<div id="bar" class="progress">
		<div class="progress-bar"><span id="progress-count"></span></div>
	</div>
	<div class="tab-content">
    <div class="tab-pane" id="expression">
      <div class="well well-sm">
        <h2>Step 1. Upload Expression Matrix File <small class="initialize-label" id="initialize_expression_form_completed"><span class="label label-danger">Required</span></small></h2>
        <p class="lead">Upload a tab- or comma-delimited text file containing all of your gene expression scores for all genes and single cells.  The file must be a plain text (.txt) or <%= link_to 'gzipped', 'http://www.gnu.org/software/gzip/manual/gzip.html' %> (.txt.gz) file with with a header row containing the value '<strong>GENE</strong>' in the first column, and single cell names in each successive column.</p>
        <p><%= link_to "Example Expression Matrix <span class='fa fa-download'></span>".html_safe, 'https://raw.githubusercontent.com/broadinstitute/single_cell_portal/master/demo_data/expression_example.txt', class: 'btn btn-default', download: 'expression_matrix_example.txt' %></p>
      </div>
      <%= render partial: 'initialize_expression_form', locals: {study_file: @expression_file} %>
    </div>
    <div class="tab-pane" id="metadata">
      <div class="well well-sm">
        <h2>Step 2. Upload Metadata File <small class="initialize-label" id="initialize_metadata_form_completed"><span class="label label-danger">Required</span></small></h2>
        <p class="lead">Upload a tab- or comma-delimited text file containing all of your single cells and at least one additional metadata column.  The file must be a plain text (.txt) file with at least 2 columns and a header row containing the value '<strong>NAME</strong>' and a second row with the header of '<strong>TYPE</strong>' to declare metadata types (see below).</p>
        <h3>Metadata Columns</h3>
        <p class="lead">The second row in this file (beginning with the header 'TYPE') must contain a value for each metadata column declaring its datatype.  The two accepted values are <strong>group</strong> (set membership) or <strong>numeric</strong> (continuous scores).  Group values are treated as literal strings, and numerics as floating-point numbers.</p>
        <p><%= link_to "Example Metadata File <span class='fa fa-download'></span>".html_safe, 'https://raw.githubusercontent.com/broadinstitute/single_cell_portal/master/demo_data/metadata_example.txt', class: 'btn btn-default', download: 'metadata_example.txt' %></p>
      </div>
      <%= render partial: 'initialize_metadata_form', locals: {study_file: @metadata_file} %>
    </div>
		<div class="tab-pane" id="ordinations">
			<div id="ordinations-target">
				<div class="well well-sm">
					<h2>Step 3. Upload Cluster File <small class="initialize-label" id="initialize_ordinations_form_completed"><span class="label label-danger">Required</span></small></h2>
					<p class="lead">Upload a tab- or comma-delimited text file containing any cluster ordinations and optional cluster-specific metadata.  The file must be a plain text (.txt) file with at least 3 columns and a header row containing the values '<strong>NAME</strong>', '<strong>X</strong>', and '<strong>Y</strong>', and a second row with the header of '<strong>TYPE</strong>' to declare metadata types (see below). The file may have an optional column of '<strong>Z</strong>' (for 3d clusters) and an arbitrary number of columns containing cell-level metadata specific to this cluster.  The column headers for metadata will be used as display names in dropdown menus.</p>
          <h3>Metadata Columns</h3>
          <p class="lead">The second row in this file (beginning with the header 'TYPE') must contain a value for each coordinate or metadata column declaring its datatype.  The two accepted values are <strong>group</strong> (set membership) or <strong>numeric</strong> (continuous scores).  The values for the 'X', 'Y', and 'Z' columns must be set to 'numeric'.  Group values are treated as literal strings, and numerics as floating-point numbers.</p>
					<p><%= link_to "Example Cluster File <span class='fa fa-download'></span>".html_safe, 'https://raw.githubusercontent.com/broadinstitute/single_cell_portal/master/demo_data/coordinates_example.txt', class: 'btn btn-default', download: 'coordinates_example.txt' %></p>
				</div>
				<% @cluster_ordinations.each do |study_file| %>
					<%= render partial: 'initialize_ordinations_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					if (<%= !@cluster_ordinations.first.new_record? %>) {
						completeWizardStep('initialize_ordinations_form_nav');
						console.log('incrementing status for cluster ordinations upload');
						$('#initialize_ordinations_form_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: 'initialize_ordinations_form_completed'}) %>");
						$('#initialize_ordinations_form_nav_completed').html("<span class='fa fa-check text-success'></span>");
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Cluster File".html_safe, new_study_file_study_path(@study._id, file_type: 'Cluster', target: '#ordinations-target', form: 'initialize_ordinations_form'), class: 'btn btn-sm btn-primary add-cluster', 'data-remote' => true %></p>
		</div>
    <div class="tab-pane" id="primary-data">
      <div id="primary-data-target">
        <div class="well well-sm">
          <h2>Step 4. Upload Primary Data Files <small class="initialize-label" id="initialize_primary_data_form_completed"><span class="label label-info">Optional</span></small></h2>
          <p class="lead"><strong>Primary Human Data</strong>: Primary sequence data derived from humans should be stored in other biological databases and can be linked here by selecting 'Yes' for 'Primary Human Data' and then providing a link in the text field.</p>
          <p class="lead"><strong>Non-human Data</strong>: If you have a few, small (under 2GB) non-human fastq.gz files, they can be uploaded here. For uploading many or larger files, please refer to the instructions <%= link_to 'on our wiki', 'https://github.com/broadinstitute/single_cell_portal/wiki/Uploading-Files-Using-Gsutil-Tool', target: :_blank %>.</p>
          <p class="lead">If you already have <code>gsutil</code> installed you can upload files directly using the following command:</p>
          <pre class="lead">gsutil -m cp *.fastq.gz gs://<%= @study.bucket_id %></pre>
          <p class="lead"><strong class="text-danger">If you are uploading fastq files through the wizard, they must be compressed first using gzip.</strong></p>
          <p><%= link_to "FASTQ File Format <span class='fa fa-info-circle'></span>".html_safe, 'https://en.wikipedia.org/wiki/FASTQ_format#Format', class: 'btn btn-default', target: :_blank %>&nbsp;<%= link_to "gzip Documentation <span class='fa fa-info-circle'></span>".html_safe, 'http://www.gnu.org/software/gzip/manual/gzip.html', class: 'btn btn-default', target: :_blank %></p>
        </div>
        <% @fastq_files.each do |study_file| %>
          <%= render partial: 'initialize_primary_data_form', locals: {study_file: study_file} %>
        <% end %>
        <script type="text/javascript">
          if (<%= !@fastq_files.first.new_record? %>) {
            completeWizardStep('initialize_primary_data_form_nav');
            console.log('incrementing status for fastq upload');
            $('#initialize_primary_data_form_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: 'initialize_primary_data_form_completed'}) %>");
            $('#initialize_primary_data_form_nav_completed').html("<span class='fa fa-check text-success'></span>");
          }
        </script>
      </div>
      <p><%= link_to "<span class='fa fa-plus'></span> Add a Primary Data File".html_safe, new_study_file_study_path(@study._id, file_type: 'Fastq', target: '#primary-data-target', form: 'initialize_primary_data_form'), class: 'btn btn-sm btn-primary add-primary-data', 'data-remote' => true %></p>

    </div>
		<div class="tab-pane" id="marker-genes">
			<div id="marker-genes-target">
				<div class="well well-sm">
					<h2>Step 5. Upload Gene List File <small class="initialize-label" id="initialize_marker_genes_form_completed"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload a tab- or comma-delimited text file containing a list of genes and their mean expression values across any clusters.  The file must be a plain text (.txt) with the value 'GENE NAMES' in the first column, and cluster names in each successive column.</p>
					<p><%= link_to "Example Gene List <span class='fa fa-download'></span>".html_safe, 'https://raw.githubusercontent.com/broadinstitute/single_cell_portal/master/demo_data/marker_gene_list_example.txt', class: 'btn btn-default', download: 'marker_gene_list_example.txt' %></p>
				</div>
				<% @marker_lists.each do |study_file| %>
					<%= render partial: 'initialize_marker_genes_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					if (<%= !@marker_lists.first.new_record? %>) {
						completeWizardStep('initialize_marker_genes_form_nav');
						console.log('incrementing status for marker gene upload');
						$('#initialize_marker_genes_form_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: 'initialize_marker_genes_form_completed'}) %>");
						$('#initialize_marker_genes_form_nav_completed').html("<span class='fa fa-check text-success'></span>");
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Gene List File".html_safe, new_study_file_study_path(@study._id, file_type: 'Gene List', target: '#marker-genes-target', form: 'initialize_marker_genes_form'), class: 'btn btn-sm btn-primary add-gene-list', 'data-remote' => true %></p>

		</div>
		<div class="tab-pane" id="misc">
			<div id="misc-target">
				<div class="well well-sm">
					<h2>Step 6. Upload Documentation/Other Files <small class="initialize-label" id="initialize_misc_form_completed"><span class="label label-info">Optional</span></small></h2>
					<p class="lead">Upload any documentation or other support files you have.</p>
				</div>
				<% @other_files.each do |study_file| %>
					<%= render partial: 'initialize_misc_form', locals: {study_file: study_file} %>
				<% end %>
				<script type="text/javascript">
					if (<%= !@other_files.first.new_record? %>) {
						completeWizardStep('initialize_misc_form_nav');
						console.log('incrementing status for other upload');
						$('#initialize_misc_form_completed').replaceWith("<%= escape_javascript(render partial: 'step_completed', locals: {id: 'initialize_misc_form_completed'}) %>");
						$('#initialize_misc_form_nav_completed').html("<span class='fa fa-check text-success'></span>");
					}
				</script>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Study File".html_safe, new_study_file_study_path(@study._id, file_type: 'Documentation',  target: '#misc-target', form: 'initialize_misc_form'), class: 'btn btn-sm btn-primary add-misc', 'data-remote' => true %></p>

		</div>
		<ul class="pager wizard">
			<li class="previous"><a href="#" id="prev-btn">Previous</a></li>
			<li class="next"><a href="#" id="next-btn">Next</a></li>
			<li class="next finish" style="display:none;"><%= link_to "Finish", study_path(@study), id: 'finish-btn' %></li>
		</ul>
	</div>
</div>
<div id="study-files-notice-target"></div>
<%= render 'fileupload_templates' %>
<%= render 'required_modal' %>

<script>
	$(document).ready(function() {
		var wizard = $('#rootwizard');
		var requiredDialogShow = false;
		wizard.bootstrapWizard({'tabClass': 'nav-tabs',
			onTabShow: function(tab, navigation, index, clickedIndex, clickedTab) {
				var step = $(tab[0]).attr('id');
				var total = navigation.find('li').length;
				var done = getWizardStatus();
				var pctCompleted = Math.round((done/total) * 100);
				$('#bar').find('.progress-bar').css({width:pctCompleted+'%'});
				$('#progress-count').html(pctCompleted+'% Completed');
				// user has finished wizard, show finish button
				if (index > 0) {
					wizard.find('.pager .previous').removeClass('disabled');
				}
				if (step == 'initialize_misc_form_nav') {
					wizard.find('.pager .next').hide();
					wizard.find('.pager .finish').show();
					wizard.find('.pager .finish').removeClass('disabled');
					wizard.find('.pager .finish').addClass('enabled');
					// next step is ready to be done, enable button
				} else {
					wizard.find('.pager .next').show();
				}
			},
			onTabClick: function(tab, navigation, index, clickedIndex, clickedTab) {
				var step = $(tab[0]).attr('id');
				if (showSkipWarning(step) && !requiredDialogShow && !completed[step]) {
					$('#required-modal').modal({show: true, backdrop: 'static'});
					requiredDialogShow = true;
					return true;
				}
			},
			onNext: function(tab, navigation, index) {
				var step = $(tab[0]).attr('id');
				if (showSkipWarning(step) && !requiredDialogShow && !completed[step]) {
					$('#required-modal').modal({show: true, backdrop: 'static'});
					requiredDialogShow = true;
				}
				wizard.find('.pager .previous').removeClass('disabled');
				return true;
			}
		});

		$('#show-gsutil-command').click(function() {
		   $('#gsutil-command-wrapper').slideToggle('slow');
    });
	});
</script>