<h1>Initialize Study Data for '<%= @study.name %>'</h1>

<div id="rootwizard">
	<ul class="nav wizard-nav">
		<li role="presentation"><a href="#assignment" data-toggle="tab">1. Cluster Assignments </a></li>
		<li role="presentation"><a href="#clusters" data-toggle="tab">2. Primary Cluster Coordinates </a></li>
		<li role="presentation"><a href="#expression" data-toggle="tab">3. Expression Matrix </a></li>
		<li role="presentation"><a href="#sub-clusters" data-toggle="tab">4. Sub-Cluster Coordinates </a></li>
		<li role="presentation"><a href="#marker-genes" data-toggle="tab">5. Marker Gene Lists </a></li>
		<li role="presentation"><a href="#fastq" data-toggle="tab">6. Fastq Data </a></li>
		<li role="presentation"><a href="#misc" data-toggle="tab">7. Miscellaneous </a></li>
	</ul>

	<div id="bar" class="progress progress-striped active">
		<div class="progress-bar"></div>
	</div>
	<div class="tab-content">
		<div class="tab-pane" id="assignment">
			<%= render 'initialize_assignments_form' %>
		</div>
		<div class="tab-pane" id="clusters">
			<%= render 'initialize_clusters_form' %>
		</div>
		<div class="tab-pane" id="expression">
			<%= render 'initialize_expression_form' %>
		</div>
		<div class="tab-pane" id="sub-clusters">
			<div id="sub-clusters-target">
				<div class="well well-sm">
					<h2>Step 4. Upload Sub Cluster Coordinates File (optional)</h2>
					<p class="lead">Upload a tab-delimited text file containing any sub-cluster coordinates.  These sub-clusters must be identified in your cluster assignment file.  The file must be a plain text (.txt) file with 3 columns and a header row containing the values 'CELL_NAME', 'X', and 'Y'.</p>
				</div>
				<% @sub_clusters.each do |study_file| %>
					<%= render partial: 'initialize_sub_clusters_form', locals: {study_file: study_file} %>
				<% end %>
			</div>
			<p><%= link_to "<span class='fa fa-plus'></span> Add a Sub-Cluster File".html_safe, new_study_file_study_path(@study._id, file_type: 'Cluster Coordinates', cluster_type: 'sub', target: '#sub-clusters-target', form: 'initialize_sub_clusters_form'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>
		</div>
		<div class="tab-pane" id="marker-genes">
			4
		</div>
		<div class="tab-pane" id="fastq">
			5
		</div>
		<div class="tab-pane" id="misc">
			6
		</div>
		<ul class="pager wizard">
			<li class="previous"><a href="#">Previous</a></li>
			<li class="next skip"><a href="#" id="next-btn">Next</a></li>
			<li class="next"><a href="#" id="skip-btn">Skip</a></li>
			<li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
		</ul>
	</div>
</div>
<div id="messages"></div>
<%= render 'fileupload_templates' %>

<script>
	$(document).ready(function() {
		var wizard = $('#rootwizard');
		wizard.bootstrapWizard({'tabClass': 'nav-tabs',
			onTabShow: function(tab, navigation, index) {
				var total = navigation.find('li').length;
				var current = index+1;
				var percent = (current/total) * 100;
				wizard.find('.progress-bar').css({width:percent+'%'});

				if(current >= total) {
					wizard.find('.pager .next').hide();
					wizard.find('.pager .skip').hide();
					wizard.find('.pager .finish').show();
					wizard.find('.pager .finish').removeClass('disabled');
				} else if (current <= completed && completed < 3 && current < 3) {
					wizard.find('.pager .next').show();
				} else if (current <= completed && completed >= 3 && current >= 3) {
					wizard.find('.pager .next').show();
					wizard.find('.pager .skip').show();
				} else if (current == completed && completed < 3) {
					wizard.find('.pager .next').show();
					wizard.find('.pager .next').addClass('disabled');
				} else if (current == completed && completed >= 3) {
					wizard.find('.pager .next').show();
					wizard.find('.pager .skip').show();
				}
		},
			// disable tabs
			onTabClick: function() {return false},
			onNext: function(tab, navigation, index) {
				if (index > completed && completed < 3) {
					alert('You must complete your current step before continuing');
					return false;
				}
			}
		});
	});
</script>