<h1>New Study <%= link_to "<i class='fa fa-question-circle'></i>".html_safe, 'javascript:;', class: 'text-info', id: 'firecloud-help' %></h1>
<div class="bs-callout bs-callout-default" id="firecloud-disclaimer">
  <h4>Data File Storage & Workspaces</h4>
  <p>All uploaded data files for studies are stored in <%= link_to 'FireCloud', 'https://portal.firecloud.org', target: :_blank %> workspaces.
    If you do not already have a FireCloud account, you will receive an invitation email at <%= current_user.email %> after you create your study.
    While you can interact with your uploaded files directly through the Single Cell Portal, you must complete the FireCloud registration process
    before you can see or use your files in your FireCloud workspace.  You will also receive an email letting you know that the Single Cell Portal
    service account has shared the study workspace with you.</p>
  <p>You may also create a study based on an existing workspace you already own.  To do so, click <strong>'Use Existing Workspace'</strong>
    and then provide the name in the text box.</p>
</div>

<%= render 'form' %>

<%= link_to "<span class='fa fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %>

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Creating study and provisioning workspace... Please wait<br/></h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="create-study-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#save-study').click(function() {
        launchSpinner('create-study-spinner');
        $('#create-modal').modal('show');
    });

    $('#firecloud-help').click(function() {
        $('#firecloud-disclaimer').slideToggle();
    });

</script>