<h1>Parse Data Files for '<%= @study.name %>'</h1>
<p class="lead">Use these forms to parse your source data to create entries for plotting cluster points, expression scores, and marker gene heatmaps.</p>
<div id="parse">
	<ul id="parse-nav" class="nav nav-tabs" role="tablist">
		<li role="presentation" id='cluster-nav' class="active"><%= link_to 'Cluster Points', '#clusters', role: 'tab', 'data-toggle' => 'tab' %></li>
		<li role="presentation" id='expression-nav' ><%= link_to 'Expression Scores', '#expression', role: 'tab', 'data-toggle' => 'tab' %></li>
		<li role="presentation" id='marker-genes-nav' ><%= link_to 'Marker Genes', '#marker-genes', role: 'tab', 'data-toggle' => 'tab' %></li>
	</ul>
	<div id="parse-tabs" class="tab-content top-pad">
		<div id="clusters" class="tab-pane active fade in">
			<% if @can_parse[:clusters] %>
				<%= render 'parse_cluster_form' %>
			<% end %>
		</div>
		<div id="expression" class="tab-pane fade">
			<% if @can_parse[:expression] %>
				<%= form_for(:expression, url: launch_parse_job_study_path(@study._id), html: {class: 'form', id: 'cluster-form', data: {remote: true}}) do |f| %>
					<div class="form-group row">

					</div>
				<% end %>
			<% end %>
		</div>
		<div id="marker-genes" class="tab-pane fade">
			<% if @can_parse[:markers] %>
				<%= form_for(:markers, url: launch_parse_job_study_path(@study._id), html: {class: 'form', id: 'cluster-form', data: {remote: true}}) do |f| %>
					<div class="form-group row">

					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<div id="parse-notices"></div>
<p><%= link_to "<span class='fa fa-edit'></span> Edit Study".html_safe, edit_study_path(@study), class: 'btn btn-primary' %>
<%= link_to "<span class='fa fa-upload'></span> Upload Data".html_safe, upload_study_path(@study), class: 'btn btn-success' %>
<%= link_to "<span class='fa fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %></p>