<h1><%= @study.name %> <%= @study.visibility %> <%= link_to "<span class='fa fa-area-chart'></span> View Study".html_safe, view_study_path(@study.url_safe_name), class: 'btn btn-lg btn-info pull-right' %></h1>
<%= @study.description.html_safe %>
<div class="panel panel-default" id="stats-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Statistics <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#stats', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>
	<div class="panel-collapse collapse in" id="stats">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<h4>Clusters <span class="badge"><%= @study.clusters.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="clusters">
							<thead>
								<tr>
									<th>Name</th>
									<th>Type</th>
									<th>Parent</th>
									<th>Size</th>
								</tr>
							</thead>
							<tbody>
								<% @study.clusters.each do |cluster| %>
									<tr>
										<td><%= cluster.name %></td>
										<td><%= cluster.cluster_type %></td>
										<td><%= cluster.parent_cluster %></td>
										<td><%= cluster.cluster_points.count %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Marker Gene Lists <span class="badge"><%= @study.precomputed_scores.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="precomputed">
							<thead>
							<tr>
								<th>Name</th>
								<th>Clusters</th>
								<th>Genes</th>
							</tr>
							</thead>
							<tbody>
							<% @study.precomputed_scores.each do |pc_score| %>
								<tr>
									<td><%= pc_score.name %></td>
									<td><%= pc_score.clusters.count %></td>
									<td><%= pc_score.gene_list.count %></td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-info" id="study-files-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Study Files <span class='badge'>#{@study.study_files.size}</span> <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#study-files', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-files">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>File Type</th>
						<th>Parsed</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<% @study.study_files.sort_by(&:name).each do |study_file| %>
						<tr>
							<td><%= study_file.name %></td>
							<td><%= study_file.description %></td>
							<td><%= study_file.file_type %></td>
							<td><%= study_file.parseable? ? get_boolean_label(study_file.parsed?) : get_na_label %></td>
							<td><%= render partial: '/layouts/download_link', locals: {study: @study, study_file: study_file} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="panel panel-success" id="study-shares-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Sharing <span class='badge'>#{@study.study_shares.size}</span> <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#study-shares', class: 'text-success', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-shares">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Email</th>
					<th>Permission</th>
					<th>Date</th>
				</tr>
				</thead>
				<tbody>
				<% @study.study_shares.each do |study_share| %>
					<tr>
						<td><%= study_share.email %></td>
						<td><%= study_share.permission %></td>
						<td><%= study_share.updated_at.to_s(:long) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<%= render partial: '/layouts/download_helper' %>
<p><%= link_to "<span class='fa fa-edit'></span> Edit Study".html_safe, edit_study_path(@study), class: 'btn btn-primary' %>
	<%= link_to "<span class='fa fa-upload'></span> Upload/Edit Data".html_safe, upload_study_path(@study), class: 'btn btn-success' %>
	<%= link_to "<span class='fa fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %></p>

<script type="text/javascript">

		$('#clusters').dataTable({
			pagingType: "simple",
			order: [[1, 'asc'],[3, 'desc']],
			language: {
				search: "Filter records:"
			}
		});

		$('#precomputed').dataTable({
			pagingType: "simple",
			order: [[0, 'asc']],
			language: {
				search: "Filter records:"
			}
		});

</script>