<h1>
  <%= @study.name %> <%= get_initialized_icon(@study.initialized) %> <%= @study.visibility %> <span class="badge" id="cell-count"><%= @study.cell_count %> cells</span> <span class="badge" id="gene-count"><%= @study.gene_count %> genes</span>
  <%= link_to "Toggle All Panels <i class='fas fa-toggle-on'></i>".html_safe, '#/', class: 'btn btn-default btn-sm pull-right', id: 'toggle-panels' %>
</h1>
<p class="lead">Accession: <span id="study-accession"><%= @study.accession %></span></p>
</p>
<% if @study.check_embargo? %>
  <p class="lead text-danger">Embargoed until: <%= @study.embargo.to_s(:long) %></p>
<% end %>

<%= @study.description.html_safe %>

<div class="panel panel-default top-pad" id="info-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "General Info & Defaults <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#info', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>
  <div class="panel-collapse collapse in" id="info">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-condensed" id="info-table">
              <thead>
              <tr>
                <th>Type</th>
                <th>ID/Link</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Study URL</td>
                  <td><%= view_study_url(accession: @study.accession, study_name: @study.url_safe_name) %></td>
                  <td><%= scp_link_to "<span class='fas fa-eye'></span> View Study".html_safe, view_study_path(accession: @study.accession, study_name: @study.url_safe_name), class: 'btn btn-primary', id: 'study-link' %></td>
                </tr>
                <tr>
                  <td>Accession URL (permanent, for external use)</td>
                  <td><%= site_url %>/study/<%= @study.accession %></td>
                  <td><%= scp_link_to "<span class='fas fa-eye'></span> View Study".html_safe, view_study_path(accession: @study.accession, study_name: @study.url_safe_name), class: 'btn btn-primary', id: 'study-accession-link' %></td>
                </tr>
                <tr>
                  <td>FireCloud Project & Workspace</td>
                  <td><%= @study.firecloud_project %>/<%= @study.firecloud_workspace %></td>
                  <td><%= link_to_if !@study.firecloud_workspace.nil?, "<span class='fas fa-cloud'></span> View FireCloud Workspace".html_safe, @study.workspace_url, class: 'btn btn-info', id: 'firecloud-link', target: :_blank %>
                  </td>
                </tr>
                <tr>
                  <td>Google Storage Bucket</td>
                  <td><%= @study.bucket_id %></td>
                  <td><%= link_to_if !@study.bucket_id.nil?, "<span class='fas fa-database'></span> View Google Bucket".html_safe, @study.google_bucket_url, class: 'btn btn-success', id: 'gcs-link', target: :_blank %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <%= render partial: 'study_default_options_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info top-pad" id="stats-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Statistics <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#stats', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>
	<div class="panel-collapse collapse in" id="stats">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<h4>Clusters <span class="badge" id="cluster-count"><%= @study.cluster_groups.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="clusters">
							<thead>
								<tr>
									<th>Name</th>
									<th>Type</th>
                  <th>Points</th>
                  <th>Annotations</th>
								</tr>
							</thead>
							<tbody>
								<% @study.cluster_groups.each do |cluster| %>
									<tr>
										<td><%= cluster.name %></td>
										<td><%= cluster.cluster_type %></td>
                    <td><%= cluster.points %></td>
                    <td><%= cluster.cell_annotations.size %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Gene Lists <span class="badge" id="precomputed-count"><%= @study.precomputed_scores.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="precomputed">
							<thead>
							<tr>
								<th>Name</th>
								<th>Clusters</th>
								<th>Genes</th>
							</tr>
							</thead>
							<tbody>
							<% @study.precomputed_scores.each do |pc_score| %>
								<tr>
									<td><%= pc_score.name %></td>
									<td><%= pc_score.clusters.count %></td>
									<td><%= pc_score.gene_list.count %></td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-info" id="metadata-annotations-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "Cell Metadata <span class='badge' id='metadata-count'>#{@study.cell_metadata.count}</span> & Cluster Annotations <span class='badge' id='cluster-annotation-count'>#{@study.cluster_annotation_count}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#metadata-annotations', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="metadata-annotations">
    <div class="panel-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Kind</th>
          <th>Name</th>
          <th>Type</th>
          <th>Size/Range</th>
          <th>Values</th>
        </tr>
        </thead>
        <tbody>
          <% @study.cell_metadata.each do |metadata| %>
            <tr>
              <td>Cell Metadata</td>
              <td><%= metadata.name %></td>
              <td><%= metadata.annotation_type %></td>
              <td><%= metadata.annotation_type == 'group' ? metadata.values.size : metadata.cell_annotations.values.minmax.join(', ') %></td>
              <td><%= Naturally.sort(metadata.values).join(', ') %></td>
            </tr>
          <% end %>
          <% @study.cluster_groups.keep_if {|c| c.cell_annotations.any?}.each do |cluster_group| %>
            <% cluster_group.cell_annotations.each do |annotation| %>
              <tr>
                <td class="actions">Cluster Annotation: <%= cluster_group.name %></td>
                <td><%= annotation[:name] %></td>
                <td><%= annotation[:type] %></td>
                <td><%= annotation[:type] == 'group' ? annotation[:values].size : cluster_group.concatenate_data_arrays(annotation[:name], 'annotations').minmax.join(', ') %></td>
                <td><%= Naturally.sort(annotation[:values]).join(', ') %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-info" id="analysis-metadata-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "Submission Info <span class='badge' id='analysis-count'>#{@analysis_metadata.size}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#analysis-metadata', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="analysis-metadata">
    <div class="panel-body table-responsive">
      <table class="table table-striped" id="analysis-metadata-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Submission</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
          <% @analysis_metadata.each do |analysis| %>
            <tr>
              <td><%= analysis.name %></td>
              <td><%= link_to analysis.submission_id, @study.submission_url(analysis.submission_id), target: :_blank %></td>
              <td><%= analysis.created_at.strftime("%F %R") %></td>
              <td class="actions">
                <%= link_to("<i class='fas fa-fw fa-code'></i> View Run Info".html_safe, '#/', class: 'btn btn-xs btn-info view-submission-metadata', title: 'View HCA-formatted analysis metadata', data: {toggle: 'tooltip', id: analysis.submission_id, url: get_submission_metadata_path(accession: @study.accession, study_name: @study.url_safe_name, submission_id: analysis.submission_id)}) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-primary" id="study-files-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Study Files <span class='badge' id='study-file-count'>#{@study.study_files.non_primary_data.size}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#study-files', 'data-toggle' => 'collapse', class: 'white' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-files">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
            <th>File Type</th>
            <th>Species/Assembly</th>
						<th>Parse Status</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<% @study.study_files.non_primary_data.sort_by(&:name).each do |study_file| %>
						<tr id="study-file-<%= study_file.id %>">
							<td class="study-file-name"><%= study_file.name %></td>
							<td class="study-file-description"><%= study_file.description %></td>
              <td class="study-file-file-type"><%= study_file.file_type %></td>
              <td class="study-file-species-info">
                <% if study_file.taxon.present? %>
                  <%= study_file.species_name %> <%= study_file.genome_assembly.present? ? " (#{study_file.genome_assembly_name})" : nil %>
                <% end %>
              </td>
							<td class="study-file-parsed" data-parsed="<%= study_file.parsed? %>"><%= study_file.parseable? ? get_parse_label(study_file.parse_status) : get_na_label %></td>
							<td><%= render partial: '/layouts/download_link', locals: {study: @study, study_file: study_file} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="panel panel-warning" id="fastq-files-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "Sequence Data <span class='badge' id='primary-data-count'>#{@study.primary_data_file_count}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#fastq-files', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="fastq-files">
    <div class="panel-body table-responsive">
      <table class="table table-striped tabled-condensed" id="fastq-table">
        <thead>
        <tr>
          <th class="col-sm-3">Filename</th>
          <th class="col-sm-3">Description</th>
          <th class="col-sm-3">File Type</th>
          <th class="col-sm-2">Species/Assembly</th>
          <th class="col-sm-1">Download</th>
        </tr>
        </thead>
        <tbody id="fastq-files-target">
          <% @study_fastq_files.each do |file| %>
            <tr class="fastq-entry">
              <td><%= file.name %></td>
              <td class="dl-description"><%= file.description %></td>
              <td><%= file.file_type %></td>
              <td>
              <td>
                <%= file.species_name %> <%= file.genome_assembly.present? ? " (#{file.genome_assembly_name})" : nil %>
              </td>
              </td>
              <td>
                <% if @allow_downloads %>
                  <%= render partial: '/layouts/download_link', locals: {study: @study, study_file: file} %>
                <% else %>
                  <%= button_to 'Currently Unavailable', '#/', class: 'btn btn-danger disabled-download', disabled: true %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @primary_data.each do |directory| %>
            <% directory.files.each do |file| %>
              <% basename = file[:name].split('/').last %>
              <tr class="<%= directory.file_type %>-entry">
                <td><%= basename %></td>
                <td class="dl-description"><%= directory.description %></td>
                <td class="dl-description"><%= directory.file_type %></td>
                <td class="dl-description">
                  <%= directory.species_name %>
                </td>
                <td><%= link_to("<span class='fas fa-download'></span> #{number_to_human_size(file[:size], prefix: :si)}".html_safe, directory.download_path(file[:name]), class: "btn btn-primary dl-link fastq", download: basename) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-warning" id="other-files-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "Other Data <span class='badge' id='other-data-count'>#{@study.misc_directory_file_count}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#other-files', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="other-files">
    <div class="panel-body table-responsive">
      <table class="table table-striped tabled-condensed" id="other-data-table">
        <thead>
        <tr>
          <th class="col-sm-3">Filename</th>
          <th class="col-sm-2">Type</th>
          <th class="col-sm-6">Description</th>
          <th class="col-sm-1">Download</th>
        </tr>
        </thead>
        <tbody id="other-files-target">
        <% @other_data.each do |directory| %>
          <% directory.files.each do |file| %>
            <% basename = file[:name].split('/').last %>
            <tr class="<%= directory.file_type %>-entry">
              <td><%= basename %></td>
              <td><%= directory.file_type %></td>
              <td class="dl-description"><%= directory.description %></td>
              <td><%= link_to("<span class='fas fa-download'></span> #{number_to_human_size(file[:size], prefix: :si)}".html_safe, directory.download_path(file[:name]), class: "btn btn-primary dl-link fastq", download: basename) %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-success" id="study-shares-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Sharing <span class='badge' id='share-count'>#{@study.study_shares.visible.size}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#study-shares', class: 'text-success', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-shares">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Email</th>
					<th>Permission</th>
					<th>Date</th>
				</tr>
				</thead>
				<tbody>
				<% @study.study_shares.each do |study_share| %>
          <%#=% Don't show entry for read-only service account %>
          <% if study_share.show_share? %>
					<tr id="study-share-<%= study_share.email.gsub(/[@.]/, '-') %>">
						<td class="share-email"><%= study_share.email %></td>
						<td class="share-permission">
              <%= study_share.permission %><br />
              <span class="help-block share-description"><%= StudyShare::PERMISSION_DESCRIPTION_MAP[study_share.permission] %></span>
            </td>
						<td><%= study_share.updated_at.to_s(:long) %></td>
					</tr>
          <% end %>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="panel panel-success" id="external-resources-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "External Resources <span class='badge' id='resources-count'>#{@study.external_resources.size}</span> <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#external-resources', class: 'text-success', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="external-resources">
    <div class="panel-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Link</th>
          <th>Description</th>
          <th>Publication URL?</th>
          <th>Added On</th>
        </tr>
        </thead>
        <tbody>
        <% @study.external_resources.each do |resource| %>
          <tr id="external-resource-<%= resource.id %>" class="external-resource-row">
            <td><%= link_to resource.title, resource.url, class: "btn btn-#{ resource.publication_url ? 'primary' : 'default'}",
                            target: :_blank %></td>
            <td><%= resource.description %></td>
            <td><%= get_boolean_label(resource.publication_url) %></td>
            <td><%= resource.updated_at.to_s(:long) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="notice-target"></div>
<p><%= scp_link_to "<span class='fas fa-edit'></span> Edit Study".html_safe, edit_study_path(@study), class: 'btn btn-primary' %>
	<%= scp_link_to "<span class='fas fa-upload'></span> Upload/Edit Data".html_safe, upload_study_path(@study), class: 'btn btn-success' %>
	<%= scp_link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %></p>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

		$('#clusters, #precomputed').dataTable({
			pagingType: "simple",
			order: [[0, 'asc']],
			language: {
				search: "Filter records:"
			}
		});

    $('#fastq-table').dataTable({
        pagingType: 'full',
        order: [[0, 'asc']],
        autoWidth: false
    });

    $('#other-data-table').dataTable({
        pagingType: 'full',
        order: [[1, 'asc'],[0, 'asc']],
        autoWidth: false
    });

    $('#analysis-metadata-table').dataTable({
        pagingType: 'full',
        order: [[1, 'asc'],[0, 'asc']],
        autoWidth: false
    }).on('click', '.view-submission-metadata', function () {
        console.log('view metadata');
        var submissionUrl = $(this).data('url');
        $('#generic-modal-title').html("Getting Run Info... Please Wait");
        launchModalSpinner('#generic-modal-spinner', '#generic-modal', function() {
            $.ajax({
                url: submissionUrl,
                method: 'GET',
                dataType: 'script'
            });
        });
    });

    $('#toggle-panels').click(function() {
        $('.collapse').collapse('toggle');
        $('#toggle-panels').children().toggleClass('fa-toggle-on fa-toggle-off')
    });

</script>