<h1><%= @study.name %> <%= @study.visibility %> <span class="badge" id="cell-count"><%= @study.cell_count %> cells</span> <span class="badge"><%= @study.gene_count %> genes</span></h1>
<%= @study.description.html_safe %>
<div class="panel panel-default top-pad" id="info-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "General Info <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#info', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>
  <div class="panel-collapse collapse in" id="info">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-condensed" id="info-table">
              <thead>
              <tr>
                <th>Type</th>
                <th>ID/Link</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Study URL</td>
                  <td><%= view_study_url(@study.url_safe_name) %></td>
                  <td><%= link_to "<span class='fa fa-area-chart'></span> View Study".html_safe, view_study_path(@study.url_safe_name), class: 'btn btn-primary', id: 'study-link' %></td>
                </tr>
                <tr>
                  <td>FireCloud Workspace</td>
                  <td><%= @study.firecloud_workspace %></td>
                  <td><%= link_to_if !@study.firecloud_workspace.nil?, "<span class='fa fa-cloud'></span> View FireCloud Workspace".html_safe, @study.workspace_url, class: 'btn btn-info', id: 'firecloud-link', target: :_blank %>
                  </td>
                </tr>
                <tr>
                  <td>Google Storage Bucket</td>
                  <td><%= @study.bucket_id %></td>
                  <td><%= link_to_if !@study.bucket_id.nil?, "<span class='fa fa-database'></span> View Google Bucket".html_safe, @study.google_bucket_url, class: 'btn btn-success', id: 'gcs-link', target: :_blank %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-info top-pad" id="stats-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Statistics <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#stats', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>
	<div class="panel-collapse collapse in" id="stats">
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6">
					<h4>Clusters <span class="badge"><%= @study.cluster_groups.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="clusters">
							<thead>
								<tr>
									<th>Name</th>
									<th>Type</th>
                  <th>Points</th>
                  <th>Annotations</th>
								</tr>
							</thead>
							<tbody>
								<% @study.cluster_groups.each do |cluster| %>
									<tr>
										<td><%= cluster.name %></td>
										<td><%= cluster.cluster_type %></td>
                    <td><%= cluster.points %></td>
                    <td><%= cluster.cell_annotations.size %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<h4>Gene Lists <span class="badge"><%= @study.precomputed_scores.count %></span></h4>
					<div class="table-responsive">
						<table class="table table-condensed" id="precomputed">
							<thead>
							<tr>
								<th>Name</th>
								<th>Clusters</th>
								<th>Genes</th>
							</tr>
							</thead>
							<tbody>
							<% @study.precomputed_scores.each do |pc_score| %>
								<tr>
									<td><%= pc_score.name %></td>
									<td><%= pc_score.clusters.count %></td>
									<td><%= pc_score.gene_list.count %></td>
								</tr>
							<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-info" id="metadatas-annotations-panel">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "Metadata <span class='badge'>#{@study.study_metadatas.count}</span> & Cluster Annotations <span class='badge'>#{@study.cluster_groups.keep_if {|c| c.cell_annotations.any?}.count}</span> <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#metadatas-annotations', 'data-toggle' => 'collapse' %></h4>
    </div>
  </div>

  <div class="panel-collapse collapse in" id="metadatas-annotations">
    <div class="panel-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Kind</th>
          <th>Name</th>
          <th>Type</th>
          <th>Size/Range</th>
          <th>Values</th>
        </tr>
        </thead>
        <tbody>
          <% @study.study_metadatas.each do |metadata| %>
            <tr>
              <td>Metadata</td>
              <td><%= metadata.name %></td>
              <td><%= metadata.annotation_type %></td>
              <td><%= metadata.annotation_type == 'group' ? metadata.values.size : metadata.cell_annotations.values.minmax.join(', ') %></td>
              <td><%= Naturally.sort(metadata.values).join(', ') %></td>
            </tr>
          <% end %>
          <% @study.cluster_groups.keep_if {|c| c.cell_annotations.any?}.each do |cluster_group| %>
            <% cluster_group.cell_annotations.each do |annotation| %>
              <tr>
                <td class="actions">Cluster Annotation: <%= cluster_group.name %></td>
                <td><%= annotation[:name] %></td>
                <td><%= annotation[:type] %></td>
                <td><%= annotation[:type] == 'group' ? annotation[:values].size : cluster_group.concatenate_data_arrays(annotation[:name], 'annotations').minmax.join(', ') %></td>
                <td><%= Naturally.sort(annotation[:values]).join(', ') %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-primary" id="study-files-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Study Files <span class='badge'>#{@study.study_files.size}</span> <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#study-files', 'data-toggle' => 'collapse', class: 'white' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-files">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>File Type</th>
						<th>Parsed</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<% @study.study_files.sort_by(&:name).each do |study_file| %>
						<tr>
							<td><%= study_file.name %></td>
							<td><%= study_file.description %></td>
							<td><%= study_file.file_type %></td>
							<td><%= study_file.parseable? ? get_boolean_label(study_file.parsed?) : get_na_label %></td>
							<td><%= render partial: '/layouts/download_link', locals: {study: @study, study_file: study_file} %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="panel panel-success" id="study-shares-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4><%= link_to "Sharing <span class='badge'>#{@study.study_shares.size}</span> <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#study-shares', class: 'text-success', 'data-toggle' => 'collapse' %></h4>
		</div>
	</div>

	<div class="panel-collapse collapse in" id="study-shares">
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Email</th>
					<th>Permission</th>
					<th>Date</th>
				</tr>
				</thead>
				<tbody>
				<% @study.study_shares.each do |study_share| %>
					<tr>
						<td><%= study_share.email %></td>
						<td><%= study_share.permission %></td>
						<td><%= study_share.updated_at.to_s(:long) %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<p><%= link_to "<span class='fa fa-edit'></span> Edit Study".html_safe, edit_study_path(@study), class: 'btn btn-primary' %>
	<%= link_to "<span class='fa fa-upload'></span> Upload/Edit Data".html_safe, upload_study_path(@study), class: 'btn btn-success' %>
	<%= link_to "<span class='fa fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning' %></p>

<script type="text/javascript">

		$('#clusters, #precomputed').dataTable({
			pagingType: "simple",
			order: [[0, 'asc']],
			language: {
				search: "Filter records:"
			}
		});

</script>