<div class="row">
  <div class="col-sm-10">
    <h1>Sync Study Data for '<%= @study.name %>' <%= render partial: 'initialize_study_label' %></h1>
  </div>
  <div class="col-sm-2">
    <p class="top-pad pull-right">
      <%= scp_link_to "<span class='fas fa-eye'></span> View Study".html_safe,
                      view_study_path(accession: @study.accession, study_name: @study.url_safe_name),
                      class: 'btn btn-primary', title: 'View Live', data: {toggle: 'tooltip', placement: 'left'} %>
    </p>
  </div>
</div>
<% if params[:configuration_name].present? && @special_sync %>
  <div class="bs-callout bs-callout-default">
    <h4>Specialized Sync for: <span class="label label-primary"><%= params[:configuration_name] %></span></h4>
    <p class="lead">Based on the type of workflow, some output files have been configured with their correct types & associations.  You may edit descriptions,
      but note that changing file types and associations can result in parse failures.</p>
  </div>
<% end %>

<div id="sync-files-target">
  <% if @orphaned_study_files.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "<i class='fas fa-exclamation'></i> Orphaned Study Files <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#orphaned-study-files', class: 'red', 'data-toggle' => 'collapse' %></h4>
        </div>
      </div>
      <div id="orphaned-study-files" class="panel-collapse collapse in unsynced">
        <div class="panel-body">
          <p class="text-danger">The following study files entries no longer have a corresponding file in your study workspace and may need to be deleted or re-parsed.</p>
          <div id="orphaned-study-files-forms" class="unsynced-content">
            <% @orphaned_study_files.each do |study_file| %>
              <%= render partial: 'orphaned_study_file_form', locals: {study_file: study_file} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @unsynced_files.any? %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "<i class='fas fa-question'></i> Unsynced Study Files <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-study-files', 'data-toggle' => 'collapse' %></h4>
        </div>
      </div>
      <div id="unsynced-study-files" class="panel-collapse collapse in unsynced">
        <div class="panel-body">
          <p class="help-block">These are files that are possibly new and are ready to sync with your study.</p>
          <div id="unsynced-study-files-forms" class="unsynced-content">
            <% @unsynced_files.each do |study_file| %>
              <%= render partial: 'study_file_form', locals: {study_file: study_file} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @unsynced_primary_data_dirs.any? %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "<i class='fas fa-question'></i> Unsynced Sequence Data Directories <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-primary-directories', 'data-toggle' => 'collapse' %></h4>
        </div>
      </div>
      <div id="unsynced-primary-directories" class="panel-collapse collapse in unsynced">
        <div class="panel-body">
          <p class="help-block">These are directories containing new or updated primary data (fastq) for which you can supply a block description.</p>
          <div id="unsynced-primary-dirs-forms" class="unsynced-content">
            <% @unsynced_primary_data_dirs.each do |directory| %>
              <%= render partial: 'directory_listing_form', locals: {directory: directory} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <% if @unsynced_other_dirs.any? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "<i class='fas fa-question'></i> Unsynced Miscellaneous Data Directories <span class='fas fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-misc-directories', 'data-toggle' => 'collapse' %></h4>
        </div>
      </div>
      <div id="unsynced-misc-directories" class="panel-collapse collapse in unsynced">
        <div class="panel-body">
          <p class="help-block">These are directories containing groups of 10 or more files of the same extension (20+ for text files) for which you can supply a block description.</p>
          <div id="unsynced-misc-dirs-forms" class="unsynced-content">
            <% @unsynced_other_dirs.each do |directory| %>
              <%= render partial: 'directory_listing_form', locals: {directory: directory} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <hr class="divider" />
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "<i class='fas fa-check'></i> Synced Data <span class='fas fa-chevron-right toggle-glyph'></span>".html_safe, '#synced-data', 'data-toggle' => 'collapse', id: 'synced-data-panel-toggle' %></h4>
      </div>
    </div>
    <div id="synced-data" class="panel-collapse collapse">
      <div class="panel-body">
        <h4>Study Files</h4>
        <div id="synced-study-files">
          <% @synced_study_files.each do |sf| %>
            <div class="bs-callout bs-callout-primary" id="<%= sf.form_container_id %>">
              <%= render partial: 'synced_study_file_form', locals: {study_file: sf} %>
              <% if sf.is_bundle_parent? %>
                <h4>Bundled Files</h4>
                <% sf.bundled_files.each do |bundled_file| %>
                  <%= render partial: 'synced_bundled_study_file_form', locals: {study_file: bundled_file} %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <h4>Sequence Data & Other Directories</h4>
        <div id="synced-directory-listings">
          <% @synced_directories.each do |dir| %>
            <%= render partial: 'directory_listing_form', locals: {directory: dir} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sync-notices">

</div>

<%= scp_link_to "<i class='fas fa-chevron-left'></i> Back".html_safe, studies_path, class: 'btn btn-warning back-btn' %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">


    // when changing the existing file dropdown, dynamically update the file generation value for the specified form
    $('.existing-file-select').change(function() {
        var selectedFile = $(this).val();
        if (selectedFile != '') {
            console.log('updating existing file');
            var availableFiles = <%= raw @available_files.to_json %>;
            var studyFileId = $(this).data('study-file-id');
            console.log('study file: ' + studyFileId);
            console.log('choosing file: ' + selectedFile);
            var result = $.grep(availableFiles, function(e) {return e.name == selectedFile})[0];
            if (result != undefined) {
                console.log('found result: ' + result);
                var form = $('#study-file-' + studyFileId);
                form.find('#study_file_generation').val(result.generation);
                form.find('#study_file_upload_file_name').val(result.name);
                form.find('#study_file_upload_file_size').val(result.size);
            }
        }
    });

    // re-enable save/synch buttons when a user selects a valid matrix association for genes/barcodes files
    $('#sync-files-target').on('change', '.bundle-select', function(e) {
        var select = e.target;
        var form = $(select).closest('form');
        var submit = form.find('.save-study-file');
        if ( $(select).val() !== '' ) {
            console.log('enabling submit');
            submit.attr('disabled', false);
        } else {
            console.log('disabling submit');
            submit.attr('disabled', 'disabled');
        }
    });

    // pre-select all MM coordinate matrix & BAM associations, if present
    $(document).ready(function() {
        var allMatrices = gatherFilesByType('MM Coordinate Matrix');
        var allBams = gatherFilesByType('BAM');
        var disabledCss = {
            'pointer-events' : 'none'
        };
        $('.file-type').each(function(index, fileType) {
            if ($(fileType).val() === '10X Genes File' || $(fileType).val() === '10X Barcodes File') {
                var assocForm = $(fileType).closest('form');
                var matrixSelect = $(assocForm).find('.matrix-file-select');
                var matrixId = $(assocForm).find('#study_file_options_matrix_id').val();
                $(allMatrices).each(function(index, matrix) {
                    matrixSelect.append($('<option />', {
                        value: matrix[1],
                        text: matrix[0]
                    }));
                });
                // set correct value and disable necessary selects to prevent user error
                matrixSelect.val(matrixId);
                matrixSelect.css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
                $(fileType).css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
                var matrixForm = $('#study-file-' + matrixId);
                matrixForm.find('.file-type').css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
            } else if ( $(fileType).val() === 'BAM Index') {
                var bamIdxForm = $(fileType).closest('form');
                var bamSelect = $(bamIdxForm).find('.bam-file-select');
                var bamId = $(bamIdxForm).find('#study_file_options_bam_id').val();
                $(allBams).each(function(index, bam) {
                    bamSelect.append($('<option />', {
                        value: bam[1],
                        text: bam[0]
                    }));
                });
                // set correct value and disable necessary selects to prevent user error
                bamSelect.val(bamId);
                bamSelect.css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
                $(fileType).css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
                var bamForm = $('#study-file-' + bamId);
                bamForm.find('.file-type').css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
            }
        });
    });

</script>
