<h1>Sync Study Data for '<%= @study.name %>' <%= render partial: 'initialize_study_label' %></h1>

<% if params[:configuration_name].present? %>
  <div class="bs-callout bs-callout-default">
    <h4>Specialized Sync for: <span class="label label-primary"><%= params[:configuration_name] %></span></h4>
    <p class="lead">Based on the type of workflow, some output files have been configured with their correct types & associations.  You may edit descriptions,
      but those pre-set file types and associations have been locked as changing them will result in parse failures.</p>
  </div>
<% end %>

<% if @orphaned_study_files.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "<i class='fa fa-exclamation'></i> Orphaned Study Files <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#orphaned-study-files', class: 'red', 'data-toggle' => 'collapse' %></h4>
      </div>
    </div>
    <div id="orphaned-study-files" class="panel-collapse collapse in unsynced">
      <div class="panel-body">
        <p class="text-danger">The following study files entries no longer have a corresponding file in your study workspace and may need to be deleted or re-parsed.</p>
        <div id="orphaned-study-files-forms" class="unsynced-content">
          <% @orphaned_study_files.each do |study_file| %>
            <%= render partial: 'orphaned_study_file_form', locals: {study_file: study_file} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @unsynced_files.any? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "<i class='fa fa-question'></i> Unsynced Study Files <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-study-files', 'data-toggle' => 'collapse' %></h4>
      </div>
    </div>
    <div id="unsynced-study-files" class="panel-collapse collapse in unsynced">
      <div class="panel-body">
        <p class="help-block">These are files that are possibly new and are ready to sync with your study.</p>
        <div id="unsynced-study-files-forms" class="unsynced-content">
          <% @unsynced_files.each do |study_file| %>
            <%= render partial: 'study_file_form', locals: {study_file: study_file} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @unsynced_primary_data_dirs.any? %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "<i class='fa fa-question'></i> Unsynced Primary Data Directories <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-directories', 'data-toggle' => 'collapse' %></h4>
      </div>
    </div>
    <div id="unsynced-directories" class="panel-collapse collapse in unsynced">
      <div class="panel-body">
        <p class="help-block">These are directories containing new or updated primary data (fastq) for which you can supply a block description.</p>
        <div id="unsynced-primary-dirs-forms" class="unsynced-content">
          <% @unsynced_primary_data_dirs.each do |directory| %>
            <%= render partial: 'directory_listing_form', locals: {directory: directory} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<% if @unsynced_other_dirs.any? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "<i class='fa fa-question'></i> Unsynced Miscellaneous Data Directories <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#unsynced-directories', 'data-toggle' => 'collapse' %></h4>
      </div>
    </div>
    <div id="unsynced-directories" class="panel-collapse collapse in unsynced">
      <div class="panel-body">
        <p class="help-block">These are directories containing groups of 10 or more files of the same extension (20+ for text files) for which you can supply a block description.</p>
        <div id="unsynced-misc-dirs-forms" class="unsynced-content">
          <% @unsynced_other_dirs.each do |directory| %>
            <%= render partial: 'directory_listing_form', locals: {directory: directory} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<hr class="divider" />
<div class="panel panel-success">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= link_to "<i class='fa fa-check'></i> Synced Data <span class='fa fa-chevron-right toggle-glyph'></span>".html_safe, '#synced-data', 'data-toggle' => 'collapse', id: 'synced-data-panel-toggle' %></h4>
    </div>
  </div>
  <div id="synced-data" class="panel-collapse collapse">
    <div class="panel-body">
      <h4>Study Files</h4>
      <div id="synced-study-files">
        <% @synced_study_files.each do |sf| %>
          <%= render partial: 'synced_study_file_form', locals: {study_file: sf} %>
        <% end %>
      </div>
      <h4>Primary Data & Other Directories</h4>
      <div id="synced-directory-listings">
        <% @synced_directories.each do |dir| %>
          <%= render partial: 'directory_listing_form', locals: {directory: dir} %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="sync-notices">

</div>

<%= link_to "<i class='fa fa-chevron-left'></i> Back".html_safe, studies_path, class: 'btn btn-warning back-btn' %>

<script type="text/javascript">

    // when changing the existing file dropdown, dynamically update the file generation value for the specified form
    $('.existing-file-select').change(function() {
        var selectedFile = $(this).val();
        if (selectedFile != '') {
            console.log('updating existing file');
            var availableFiles = <%= raw @available_files.to_json %>;
            var studyFileId = $(this).data('study-file-id');
            console.log('study file: ' + studyFileId);
            console.log('choosing file: ' + selectedFile);
            var result = $.grep(availableFiles, function(e) {return e.name == selectedFile})[0];
            if (result != undefined) {
                console.log('found result: ' + result);
                var form = $('#study-file-' + studyFileId);
                form.find('#study_file_generation').val(result.generation);
                form.find('#study_file_upload_file_name').val(result.name);
                form.find('#study_file_upload_file_size').val(result.size);
            }
        }
    });

    // pre-select all MM coordinate matrix associations, if present
    $(document).ready(function() {
        var allMatrices = gatherCoordinateMatrices();
        var disabledCss = {
            'pointer-events' : 'none'
        };
        $('.file-type').each(function(index, fileType) {
            if ($(fileType).val() == '10X Genes File' || $(fileType).val() == '10X Barcodes File') {
                var form = $(fileType).closest('.unsynced-study-file');
                var matrixSelect = $(form).find('.matrix-file-select');
                var matrixId = $(form).find('#study_file_options_matrix_id').val();
                $(allMatrices).each(function(index, matrix) {
                    matrixSelect.append($('<option />', {
                        value: matrix[1],
                        text: matrix[0]
                    }));
                });
                matrixSelect.val(matrixId);
                matrixSelect.css(disabledCss);
                matrixSelect.attr('readonly', 'readonly');
                matrixSelect.parent().css('cursor', 'not-allowed');
                $(fileType).css(disabledCss);
                $(fileType).attr('readonly', 'readonly');
                $(fileType).parent().css('cursor', 'not-allowed');
                var matrixForm = $('#study-file-' + matrixId);
                matrixForm.find('.file-type').css(disabledCss).attr('readonly', 'readonly').parent().css('cursor', 'not-allowed');
            }
        });
    });

</script>