<h1>Upload/Edit Study Files for '<%= @study.name %>'</h1>

<div class="row">
	<div class="col-md-12" id="uploads-target">
		<% @study_files.each do |study_file| %>
			<%= render partial: 'study_file_fields', locals: {study_file: study_file} %>
		<% end %>
	</div>

</div>
<p><%= link_to "<span class='fa fa-plus'></span> Add a Study File".html_safe, new_study_file_study_path(@study._id, target: '#uploads-target', form: 'study_file_fields'), class: 'btn btn-sm btn-primary', 'data-remote' => true %></p>
<p><%= link_to "<span class='fa fa-edit'></span> Edit Study".html_safe, edit_study_path(@study), class: 'btn btn-primary check-upload' %>
	<%= link_to "<span class='fa fa-chevron-left'></span> Back".html_safe, studies_path, class: 'btn btn-warning check-upload' %></p>
<div id="study-files-notice-target"></div>

<div id="download-target"></div>

<script type="text/javascript">
	function refreshUpload(fileName, selector) {
		var refreshPath = "<%= retrieve_upload_study_path(@study) %>";
		$.get(refreshPath, {file: fileName, selector: selector});
	}

	var parseableTypes = /(<%= StudyFile::PARSEABLE_TYPES.join('|') %>)/;

	function setAcceptedFiletypes(type) {
		if ( parseableTypes.test(type) ) {
			return /(\.|\/)(txt|text|fq|fastq)$/i
		} else {
			return /.*/
		}
	}

</script>

<%= render 'fileupload_templates' %>