<h2>Submit a Workflow</h2>
<p class="lead help-block">Configure and submit a workflow using the wizard below. You will be able to check the status of this workflow in the table above once submitted.</p>
<%= form_for(:workflow, url: create_workspace_submission_path, html: {class: 'form', id: 'workflow-submission'}, data: {remote: true}) do |f| %>
  <div id="workflow-wizard">
    <ul class="nav wizard">
      <li role="presentation" class="wizard-nav" id="select-workflow-nav"><a href="#select-workflow" data-toggle="tab">1. Select Workflow</a></li>
      <li role="presentation" class="wizard-nav" id="select-inputs-nav"><a href="#configure-submission" data-toggle="tab">2. Configure Inputs & Submit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane workflow-tab" id="select-workflow">
        <div class="form-group row">
          <div class="col-sm-9">
            <%= f.label :identifier, 'Workflow' %><br />
            <%= f.select :identifier, options_for_select(@workflows_list), {include_blank: 'Please select a workflow...'}, {class: 'form-control'} %>
          </div>
          <div class="col-sm-3">
            <label>View Workflow</label><br />
            <%= link_to 'View Selected WDL', '#/', class: 'btn btn-default', id: 'view-selected-wdl', 'data-loading-text' => 'Loading... Please wait.' %>
          </div>
        </div>
        <div id="wdl-content-target">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <h4></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane workflow-tab" id="configure-submission">
        <div id="analysis-configuration-inputs">
          <p class="lead">Please select a workflow before continuing.</p>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6 hidden text-center">
            <%= f.submit 'Submit Workflow', class: 'btn btn-lg btn-success', id: 'submit-workflow' %>
          </div>
        </div>
      </div>
    </div>

    <ul class="pager wizard">
      <li class="previous"><a href="#/" id="prev-btn">Previous</a></li>
      <li class="next"><a href="#/" id="next-btn">Next</a></li>
    </ul>
  </div>
<% end %>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

  $('#workflow_identifier').change(function() {
    var selectedWdl = $(this).val();
    $('#selected-inputs').html('');
    if (selectedWdl !== '') {
      var displayWdlText = selectedWdl.split('--').join('/');
      $('#selected-workflow').html(displayWdlText);
      // get any optional parameters
      $.ajax({
        url: "<%= get_analysis_configuration_path(accession: @study.accession, study_name: @study.url_safe_name) %>&workflow_identifier=" + selectedWdl,
        dataType: 'script'
      });
    } else {
      $('#selected-workflow').html('');
      $('#analysis-configuration-inputs').html('<p class="lead">Please select a workflow before continuing.</p>');
      $('#submit-workflow').parent().addClass('hidden');
    }
  });

  // view wdl contents of selected workflow
  $('#view-selected-wdl').click(function () {
    var selectedWdl = $('#workflow_identifier').val();
    if (selectedWdl === '') {
      alert('You must select a workflow first.')
    } else {
      var workflowNameSpace, workflowName, workflowSnapshotId;
      [workflowNameSpace, workflowName, workflowSnapshotId] = selectedWdl.split('--');
      $.ajax({
        url: '<%= view_workflow_wdl_path %>?namespace=' + workflowNameSpace + '&workflow=' + workflowName + '&snapshot=' + workflowSnapshotId,
        dataType: 'script'
      });
    }
  });



  $('.refresh-submissions-table').click(function() {
    $(this).addClass('disabled');
    $.ajax({
      url: "<%= get_workspace_submissions_path(accession: @study.accession, study_name: @study.url_safe_name) %>",
      dataType: 'script'
    });
  });

  // main workflow submit function
  $('#submit-workflow').click(function () {
      $('#generic-modal-title').html('Submitting... Please wait.');
      launchModalSpinner('#generic-modal-spinner', '#generic-modal', function() {
          return true;
      });
  });

  // workflow submit wizard
  $(document).ready(function() {
      var wizard = $('#workflow-wizard');
      wizard.bootstrapWizard({
          tabClass: 'nav-tabs',
          onTabShow: function(tab, navigation, index, clickedIndex, clickedTab) {
              var step = $(tab[0]).attr('id');
              if (step === 'select-inputs-nav') {
                  wizard.find('.pager .next').hide();
              } else {
                  wizard.find('.pager .next').show();
                  wizard.find('.pager .next').removeClass('disabled');
              }
          },
          onNext: function(tab, navigation, index) {
              wizard.find('.pager .previous').removeClass('disabled');
              wizard.find('.pager .next').addClass('disabled');
              return true;
          },
          onPrevious: function(tab, navigation, index) {
              wizard.find('.pager .next').removeClass('disabled');
          }
      });
  });

</script>
