<h2>Submit a Workflow</h2>
<p class="lead help-block">Configure and submit a workflow using the wizard below. You will be able to check the status of this workflow in the table above once submitted.</p>
<%= form_for(:workflow, url: create_workspace_submission_path, html: {class: 'form', id: 'workflow-submission'}, data: {remote: true}) do |f| %>
  <div id="workflow-wizard">
    <ul class="nav wizard">
      <li role="presentation" class="wizard-nav" id="select-workflow-nav"><a href="#select-workflow" data-toggle="tab">1. Select Workflow</a></li>
      <li role="presentation" class="wizard-nav" id="select-inputs-nav"><a href="#select-inputs" data-toggle="tab">2. Select Inputs</a></li>
      <li role="presentation" class="wizard-nav" id="review-submission-nav"><a href="#review-submission" data-toggle="tab">3. Review & Submit</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane workflow-tab" id="select-workflow">
        <div class="form-group row">
          <div class="col-sm-9">
            <%= f.label :identifier, 'Workflow' %><br />
            <%= f.select :identifier, options_for_select(@workflows_list), {include_blank: 'Please select a workflow...'}, {class: 'form-control'} %>
          </div>
          <div class="col-sm-3">
            <label>View Workflow</label><br />
            <%= link_to 'View Selected WDL', 'javascript:;', class: 'btn btn-default', id: 'view-selected-wdl', 'data-loading-text' => 'Loading... Please wait.' %>
          </div>
        </div>
        <div id="wdl-content-target">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <h4></h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane workflow-tab" id="select-inputs">
        <%= render partial: '/site/analysis/input_sample_browser' %>
      </div>

      <div class="tab-pane workflow-tab" id="review-submission">
        <div class="form-group">
          <div class="bs-callout bs-callout-default">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-6">
                <h4>Submission Parameters</h4>
                <dl class="dl-horizontal">
                  <dt>Workflow</dt>
                  <dd id="selected-workflow"></dd>
                  <dt id="selected-input-name">Input(s)</dt>
                  <dd id="selected-inputs"></dd>
                </dl>
              </div>
              <div class="col-sm-offset-3 col-sm-6">
                <h4>Additional Parameters</h4>
                <div id="additional-parameters-target">
                  <p class="help-block">There are no additional parameters for this workflow.  Click 'Submit Workflow' to launch your submission.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <%= f.submit 'Submit Workflow', class: 'btn btn-lg btn-success', id: 'submit-workflow', disabled: true %>
          </div>
        </div>
      </div>
    </div>

    <ul class="pager wizard">
      <li class="previous"><a href="javascript:;" id="prev-btn">Previous</a></li>
      <li class="next"><a href="javascript:;" id="next-btn">Next</a></li>
    </ul>
  </div>
<% end %>

<script type="text/javascript">

  $('#workflow_identifier').change(function() {
    var selectedWdl = $(this).val();
    $('#selected-inputs').html('');
    if (selectedWdl !== '') {
      var displayWdlText = selectedWdl.split('--').join('/');
      $('#selected-workflow').html(displayWdlText);
      // get any optional parameters
      $.ajax({
        url: "<%= get_workflow_options_path(study_name: @study.url_safe_name) %>&workflow_identifier=" + selectedWdl,
        dataType: 'script'
      });
    } else {
      $('#selected-workflow').html('');
      $('#optional-parameters-target').empty();
    }
  });

  // view wdl contents of selected workflow
  $('#view-selected-wdl').click(function () {
    var selectedWdl = $('#workflow_identifier').val();
    if (selectedWdl === '') {
      alert('You must select a workflow first.')
    } else {
      $(this).button('loading');
      var workflowNameSpace, workflowName, workflowSnapshotId;
      [workflowNameSpace, workflowName, workflowSnapshotId] = selectedWdl.split('--');
      $.ajax({
        url: '<%= view_workflow_wdl_path %>?namespace=' + workflowNameSpace + '&workflow=' + workflowName + '&snapshot=' + workflowSnapshotId,
        dataType: 'script'
      });
    }
  });



  $('.refresh-submissions-table').click(function() {
    $(this).button('loading');
    $.ajax({
      url: "<%= get_workspace_submissions_path(study_name: @study.url_safe_name) %>",
      dataType: 'script'
    });
  });

  // main workflow submit function
  $('#submit-workflow').click(function () {
      var inputs;
      if ($('#workflow_inputs_samples').length == 0) {
          inputs = $('#workflow_inputs_input_file').val()
      } else {
          inputs = $('#workflow_inputs_samples').val()
      }
      var selectedSamples = $('#workflow_input_samples').val();
      var selectedWdl = $('#workflow_identifier').val();
      if (selectedWdl === '') {
          alert('You must select a workflow before continuing.');
          $('#workflow_identifier').parent().addClass('has-error');
          return false;
      } else if (inputs === null || typeof inputs === 'undefined' || inputs === '') {
          alert('You must create and select an input before submitting a workflow.');
          $('#workflow_samples').parent().addClass('has-error');
          return false;
      } else {
          $('#generic-modal-title').html('Submitting... Please wait.');
          launchModalSpinner('#generic-modal-spinner', '#generic-modal', function() {
              return true;
          });
      }
  });

  // workflow submit wizard
  $(document).ready(function() {
    var wizard = $('#workflow-wizard');
    wizard.bootstrapWizard({
      tabClass: 'nav-tabs',
      onTabShow: function(tab, navigation, index, clickedIndex, clickedTab) {
        var step = $(tab[0]).attr('id');
        if (index > 0) {
          wizard.find('.pager .previous').removeClass('disabled');
        }
        if (step == 'review-submission-nav') {
          wizard.find('.pager .next').hide();
          var workflow = $('#workflow_identifier').val();
          var samples = $('#workflow_samples').val();
          if (workflow !== '' && samples !== null) {
            $('#submit-workflow').attr('disabled', false);
          } else {
            $('#submit-workflow').attr('disabled', 'disabled');
          }
        } else {
          wizard.find('.pager .next').show();
        }
      },
      onNext: function(tab, navigation, index) {
        var step = $(tab[0]).attr('id');
        wizard.find('.pager .previous').removeClass('disabled');
        return true;
      }
    });
  });

</script>
