<h1>Branding Groups</h1>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <div class="well">
        <table class="table table-striped" id="branding-groups">
          <thead>
            <tr>
              <th>Name</th>
              <th>User</th>
              <th># Studies</th>
              <th>Created</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @branding_groups.each do |branding_group| %>
              <tr id="<%= branding_group.name_as_id %>">
                <td class="branding-group-name"><%= link_to branding_group.name, site_path(scpbr: branding_group.name_as_id) %></td>
                <td class="branding-group-user"><%= branding_group.user.email %></td>
                <td class="branding-group-study-count"><%= branding_group.studies.count %></td>
                <td><%= branding_group.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
                <td class="actions">
                  <%= scp_link_to "<i class='fas fa-search'></i> Info".html_safe, branding_group_path(branding_group), class: "btn btn-xs btn-info #{branding_group.name_as_id}-show" %>
                  <%= scp_link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_branding_group_path(branding_group), class: "btn btn-xs btn-primary #{branding_group.name_as_id}-edit" %>
                  <%= scp_link_to "<i class='fas fa-trash'></i> Destroy".html_safe, branding_group_path(branding_group), method: :delete, class: "btn btn-xs btn-danger delete-btn #{branding_group.name_as_id}-delete" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <p><%= scp_link_to "<i class='fas fa-plus'></i> New Branding Group".html_safe, new_branding_group_path, class: 'btn btn-lg btn-success', id: 'new-branding-group' %></p>
  </div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

        $('#branding-groups').dataTable({
            pagingType: "full_numbers",
            order: [[0, 'asc']],
            language: {
                search: "Filter Results By: "
            }
        });

        // ask user to confirm delete, then show modal
        // use event delegation to attach to all delete-btn regardless
        // of whether they are visible yet or not
        $('#branding-groups').on('click', '.delete-btn', function(){
            // get name of study for confirmation
            var brandingGroup = $(this).parent().parent().find('.branding-group-name').text();
            if ( confirm('Are you sure you want to delete \"' + brandingGroup + '\"?')) {
                launchModalSpinner('#delete-modal-spinner','#delete-modal', function() {
                    return true;
                });
            } else {
                return false;
            }
        });

</script>

