<div class='form-inline navigation-form top-pad'>
	<%= label_tag :centered, 'Row centering' %> <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="For each value in each row, subtract the mean of the entire row from the value"></span><br />
	<%= check_box_tag :centered %>
</div>
<%= javascript_tag do %>

	$('#centered').change(function() {
		if ( $(this).prop('checked') ) {
			$.get('<%= javascript_safe_url(render_heatmap_path(study_name: params[:study_name], search: {genes: params[:search][:genes]}, centered: '1')) %>');
		} else {
			$.get('<%= javascript_safe_url(render_heatmap_path(study_name: params[:study_name], search: {genes: params[:search][:genes]}, centered: '0')) %>');
		}
	});

<% end %>
