<div class='form-inline navigation-form'>
	<%= label_tag :cluster, 'Sub-cluster' %><br />
	<%= select_tag :cluster, options_for_select(@options, params[:cluster]), class: 'form-control' %>
</div>
<%= javascript_tag do %>

	$("#cluster").change(function() {
		var url = '<%= params[:gene] ? render_gene_expression_plots_path(study_name: params[:study_name], gene: params[:gene]) : render_gene_set_expression_plots_path(study_name: params[:study_name], search: {gene_set: params[:search][:gene_set]}) %>';
		var target1 = document.getElementById('box-plot');
		var target2 = document.getElementById('scatter-wrapper');
		var spinner1 = new Spinner(opts).spin(target1);
		var spinner2 = new Spinner(opts).spin(target2);
		$(target1).data('spinner', spinner1);
		$(target2).data('spinner', spinner2);
		var cluster = $('#cluster').val();
		if (cluster == "") {
			$.get(url);
		} else {
			var delimeter = "<%= params[:gene] ? "?".html_safe : "&".html_safe %>";
			$.get(url + delimeter + 'cluster=' + cluster);
		}
	});

<% end %>

