$('#distribution-link').html('Annotated Scatter');

// If 'Distribution' panel is open, close it
if ($('#distribution-panel-link').hasClass('collapsed') === false) {
  $('#distribution-panel-link').click();
}
$('#expression-options-panel').removeClass('panel-info').addClass('panel-default');

// load 2-d scatter data
var expressionData = [];
<% @values.each do |cluster, data| %>
	var expressionAnnotation = {
		x: <%= raw data[:x] %>,
		y: <%= raw data[:y] %>,
		text: <%= raw data[:text] %>,
		name: "<%= data[:name] %>",
		mode: 'markers',
		type: 'scattergl',
		hoverinfo: 'text'
	};

  expressionData.push(expressionAnnotation);
<% end %>

<%= render partial: 'expression_annotation_scatter_layout' %>

Plotly.newPlot('box-plot', expressionData, expressionLayout);

// load expression scatter plot
var exp = {
  x: <%= raw @expression[:all][:x] %>,
  y: <%= raw @expression[:all][:y] %>,
  <% if @cluster.is_3d? %>
    z: <%= raw @expression[:all][:z] %>,
  <% end %>
  text: <%= raw @expression[:all][:text] %>,
  mode: 'markers',
  type: '<%= @cluster.is_3d? ? 'scatter3d' : 'scattergl' %>',
  hoverinfo: 'text',
  opacity: <%= @study.default_cluster_point_alpha %>,
  marker: <%= raw @expression[:all][:marker].to_json %>
};

var clusterData = [exp];

<%= render partial: 'expression_scatter_layout' %>

Plotly.newPlot('scatter-plot', clusterData, scatterLayout);

// load static cluster scatter for reference
var data = [];
<% if @cluster.is_3d? %>
  var static_clst = {
    x: <%= raw @coordinates[:all][:x] %>,
    y: <%= raw @coordinates[:all][:y] %>,
    z: <%= raw @coordinates[:all][:z] %>,
    text: <%= raw @coordinates[:all][:text] %>,
    name: '<%= raw @coordinates[:all][:name] %>',
    textposition: 'bottom left',
    mode: 'markers',
    type: 'scatter3d',
    opacity: <%= @study.default_cluster_point_alpha %>,
    marker: <%= raw @coordinates[:all][:marker].to_json %>
  };
<% else %>
  var static_clst = {
    x: <%= raw @coordinates[:all][:x] %>,
    y: <%= raw @coordinates[:all][:y] %>,
    text: <%= raw @coordinates[:all][:text] %>,
    name: '<%= raw @coordinates[:all][:name] %>',
    mode: 'markers',
    type: 'scattergl',
    opacity: <%= @study.default_cluster_point_alpha %>,
    marker: <%= raw @coordinates[:all][:marker].to_json %>
  };
<% end %>


data.push(static_clst);

<%= render partial: 'static_scatter_layout' %>

Plotly.newPlot('reference-plot', data, staticLayout);

$('#cluster-figure-legend').html("<p class='text-center help-block'><%= escape_javascript(render text: @cluster.study_file.description) %></p>");

// listener to redraw expression scatter with new color profile
// will also redraw reference plot if needed
$("#colorscale").change(function() {

	  var theme = $(this).val();
    clusterData[0].marker.colorscale = theme;
	  console.log("setting colorscale to " + theme);
	  Plotly.newPlot('scatter-plot', clusterData, scatterLayout);

    // re-render reference plot if showing numeric annotations
    if (<%= @selected_annotation[:type] == 'numeric' %>) {
        data[0].marker.colorscale = theme;
        Plotly.newPlot('reference-plot', data, staticLayout);
    }
});

<%= render partial: 'expression_scatter_camera' %>

$(document).trigger('scpPlotsDidRender');