<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene<%= action_name =~ /set/ ? ' Set' : nil %> Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %></h1>
	</div>
</div>
<div id="expression-plots">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h4><%= link_to "Expression Values for #{params[:cluster] ? params[:cluster] : 'All Cell Types'} <span class='fa fa-chevron-down'></span>".html_safe, '#box-controls', 'data-toggle' => 'collapse'  %></h4>
			</div>
		</div>
		<div id="box-controls" class="panel-collapse collapse in">
			<div class="panel-body">
				<%= render partial: 'cluster_nav' %>
				<%= render partial: 'boxpoints_picker' %>
				<%= render partial: 'gene_search_form' %>
				<% if action_name == 'view_gene_set_expression' %>
					<%= render partial: 'gene_nav' %>
			<% end %>
				<div class="row">
					<div class="col-md-12">
						<div id="box-plot"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">
				<h4><%= link_to "Expression Values as Scatter Plot <span class='fa fa-chevron-down'></span>".html_safe, '#scatter-plots', 'data-toggle' => 'collapse'  %></h4>
			</div>
		</div>
		<div id="scatter-plots" class="panel-collapse collapse in">
			<div class="panel-body">
				<%= render partial: 'colorscale_picker' %>
				<div class="row" id="scatter-wrapper">
					<div class="col-md-8">
						<div id="scatter-plot"></div>
					</div>
					<div class="col-md-4">
						<div id="reference-plot"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
