<%= link_to "Gene Sets", '#', class: 'btn btn-info', 'data-toggle' => 'modal', 'data-target' => '#gene-set-modal' %>
<div class="modal fade" id="gene-set-modal" role="dialog" aria-labelledby="gene-set-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">View Gene Set Expression</h4>
			</div>
			<div class="modal-body">
				<%= form_for(:search, url: view_gene_set_expression_path, html: {class: 'form', id: 'gene-set-search-form', method: :get}) do |f| %>
					<%= f.label :gene_set, "Paste in your gene set to view expression scores averaged across all genes" %><br>
					<%= f.text_area :gene_set, value: !params[:search].nil? ? params[:search][:gene_set] : nil, class: 'form-control' %>
					<%= link_to 'Clear Form', "javascript:;", class: 'btn btn-warning pull-right', onclick: "clearForm('search_gene_set')" %>
					<%= f.submit 'Load Genes', class: 'btn btn-success' %>
				<% end %>
			</div>
			<div class="modal-footer">
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>