<%= form_for(:search, url: search_genes_path(@study.url_safe_name), html: {class: 'form-inline navigation-form', id: 'search-genes-form'}) do |f| %>
	<%= f.hidden_field :cluster, value: params[:cluster] %>
	<%= f.hidden_field :boxpoints, value: params[:boxpoints] %>
	<%= f.label :genes, 'Search for genes' %><br />
	<div class="input-group">
		<%= f.text_field :genes, {class: 'form-control', placeholder: 'Search genes...', value: set_search_value} %>
		<div class="input-group-btn">
			<button class="btn btn-success" type="submit"><span class="fa fa-search"></span></button>
		</div>
	</div>
<% end %>