<div class="mask" id="main-banner">

  <% if @selected_branding_group.present? %>
    <div id="main-banner-logo">
      <% if @selected_branding_group.splash_image.present? %>
        <%= image_tag @selected_branding_group.splash_image.url, style: 'padding: 5px 0;' %>
      <% end %>
      <p id='main-banner-name'><%= @selected_branding_group.name %></p>
      <p id='main-banner-tag-line'><%= @selected_branding_group.tag_line %></p>
    </div>
  <% else %>
    <div id="main-banner-logo">
      <%= image_tag "SCP-logo.png", id: 'scp-logo' %><small id="beta-main" class="label label-danger">BETA</small>
      <p id='main-banner-tag-line' class="scp-banner-position">Reducing barriers and accelerating single-cell research</p>
    </div>
  <% end %>
  <div id="main-banner-counts">
    <span class="counts-text">Featuring<br />
      <span class="green-count"><%= @study_count %></span> <%= pluralize_without_count(@study_count, 'study') %><br />
      <span class="blue-count"><%= number_with_delimiter @cell_count %></span> <%= pluralize_without_count(@cell_count, 'cell') %>
    </span>
  </div>

</div>