<div class="panel panel-info" id="search-options-panel">
	<div class="panel-heading">
		<div class="panel-title">
			<h4>Search Options <span class='fa fa-search'></span><%= link_to "<span class='fa fa-compress'></span>&nbsp;<span class='fa fa-search'></span>".html_safe, 'javascript:toggleSearch();', 'data-toggle' => 'tooltip', title: 'Collapse Search Options', 'data-placement' => 'left', class: 'btn btn-sm btn-danger pull-right', style: 'margin-top: -5px;' %></h4>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<%= form_for(:search, url: search_genes_path(@study.url_safe_name), html: {class: 'form', id: 'search-genes-form'}) do |f| %>
					<%= f.hidden_field :cluster, value: set_cluster_value(@options, params) %>
          <%= f.hidden_field :boxpoints, value: params[:boxpoints].nil? ? 'all' : params[:boxpoints] %>
          <%= f.hidden_field :annotation, value: set_annotation_value(@cluster_annotations, params) %>
					<div class="form-group">
						<%= f.label :genes, 'Search for genes of interest (autocomplete)' %>
						<%= f.autocomplete_field :genes, autocomplete_expression_score_gene_expression_score_index_path(study_id: @study._id), {multiple: true, class: 'form-control search-genes-input', placeholder: 'Search genes...', value: set_search_value, data: {delimiter: ' '}} %>
					</div>
					<div class="form-group">
						<%= f.label :upload, "Or upload a list of genes (one gene per line)" %><br>
						<%= f.file_field :upload, class: 'form-control' %>
					</div>
					<%= link_to "<span class='fa fa-ban'></span> Clear Search".html_safe, "javascript:", class: 'btn btn-warning pull-right', id: 'clear-gene-search' %>
					<%= link_to "<span class='fa fa-search'></span> Search Genes ".html_safe, "javascript:", class: 'btn btn-success', id: 'submit-gene-search' %>
					<script type="text/javascript">
            $('#clear-gene-search').click(function(){
                clearForm('search_genes');
            });

            $('#submit-gene-search').click(function(){
                $('#search-genes-form').submit();
            });

						$('#search-genes-form').on('submit', function() {
							if ( $('#search_genes').val() == '' && $('#search_upload').val() == '' ) {
								alert('You must specify at least one gene or upload a list of genes to search');
								setErrorOnBlank($('.search-genes-input'));
							} else {
								var target = $('#spinner_target')[0];
								new Spinner(opts).spin(target);
								$('#loading-modal').modal('show');
								return true
							}
						});
					</script>
				<% end %>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-sm-12">
				<%= form_tag(view_gene_set_expression_path(study_name: params[:study_name]), id: 'gene-sets', method: :get) do %>
					<%= label_tag :gene_set, 'View curated gene lists as mean-centered expression (box & scatter plots)' %>
					<%= select_tag :gene_set, options_for_select(@precomputed, params[:gene_set]), {include_blank: 'Please select a gene list', class: 'form-control'} %>
          <%= hidden_field_tag :gene_set_cluster %>
          <%= hidden_field_tag :gene_set_annotation %>
					<script type="text/javascript">

            // set default values on render
            $('#gene_set_cluster').val($('#search_cluster').val());
            $('#gene_set_annotation').val($('#search_annotation').val());

						$('#gene_set').change(function() {
						    if ($(this).val() != '') {
						        launchSpinner('spinner_target');
                    $('#gene-sets').submit();
							  }
						});

					</script>
				<% end %>
			</div>
		</div>
		<hr />
		<% if action_name =~ /(set|heatmap)/ && action_name !~ /(all|precomputed)/ %>
			<div class="row">
				<div class="col-sm-12">
					<%= label_tag :gene, 'Load single gene-level expression' %><br />
					<%= select_tag :gene, options_for_select(load_gene_nav(@genes)), {class: 'form-control'} %>
					<br />
					<script type="text/javascript">
						$('#gene').change(function() {
              if ($(this).val() != '') {
                launchSpinner('spinner_target');
                var url = $(this).val();
                var cluster = $('#search_cluster').val();
                var annotation = $('#search_annotation').val();
                window.location.href = url + '?cluster=' + cluster + '&annotation=' + annotation;
              }
						});

					</script>
				</div>
			</div>
			<hr />
		<% end %>
		<div class="row">
			<div class="col-sm-12">
				<%= form_tag(search_precomputed_results_path(study_name: params[:study_name]), id: 'precomputed-expression') do %>
					<%= label_tag :expression, 'View curated gene lists as heatmaps' %><br />
					<%= select_tag :expression, options_for_select(@precomputed, params[:precomputed]), {include_blank: 'Please select a gene list', class: "form-control"} %>
					<% if action_name !~ /precomputed/ %>
						<script type="text/javascript">

							$('#expression').change(function() {
								if ($(this).val() != '') {
                  launchSpinner('spinner_target');
									$('#precomputed-expression').submit();
								}
							});

						</script>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog" aria-labelledby="loading-modal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="text-center">Loading... Please Wait</h4>
				</div>
				<div class="modal-body">
					<div id="spinner_target"></div>
				</div>
				<div class="modal-footer">
					<button class="close" data-dismiss="modal">×</button>
				</div>
			</div>
		</div>
	</div>
</div>