<div class="modal fade" id="notebookModal" tabindex="-1" role="dialog" aria-labelledby="notebookModalLabel"
     aria-hidden="true" xmlns="http://www.w3.org/1999/html">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="notebookModallabel">Start Notebook</h2>
      </div>
      <div class="modal-body row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <form class="form form-group" id="start-notebook-form">
            <div class="form-group">
              <div class="row">
                <label for="localizeFiles">Select files to Localize</label>
              </div>
              <% @study_files.each do |study_file| %>
                <% if study_file.file_type != 'Notebook' %>
                  <div class="row">
                    <input type="checkbox" class="form-check-input localizeFiles" value="<%= study_file.upload_file_name.nil? ? study_file.name : study_file.upload_file_name %>">
                    </input>
                    <label class="form-check-label" for="<%= study_file.upload_file_name.nil? ? study_file.name : study_file.upload_file_name %>">
                      <%= study_file.upload_file_name.nil? ? study_file.name : study_file.upload_file_name %>
                    </label>
                  </div>
                <% end %>
              <% end %>
            </div>

            <label for="clusterSelect">Select Cluster</label>
            <select name="clusterSelect" id="clusterSelect" class="form-control">
              <option value='create_new'>Create A New Cluster</option>
            </select>
            <p>
              <a data-toggle="collapse" href="#collapseCreateOptions" role="button" aria-expanded="false" aria-controls="collapseCreateOptions">
                <span class="fa-caret-right fa fa-fw"></span>Cluster Options
              </a>
            </p>
            <div class="collapse" id="collapseCreateOptions">
              <div class="card card-body">

                  <label for="name">Name</label>
                  <input class="form-control" type="text" placeholder="Lower Case Letters Only" name="name" id="name"/>
                  <p>
                    <a data-toggle="collapse" href="#collapseMachineNotebookOptions" role="button" aria-expanded="false" aria-controls="collapseMachineNotebookOptions">
                      <span class="fa-caret-right fa fa-fw"></span>Optional Settings
                    </a>
                  </p>
                  <div class="collapse" id="collapseMachineNotebookOptions">
                    <div class="card card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <label for="masterMachineType">Master Machine Type</label>
                          <select name="masterMachineType" id="masterMachineType" class="form-control">
                            <option value="n1-standard-1">n1-standard-1</option>
                            <option value="n1-standard-2">n1-standard-2</option>
                            <option value="n1-standard-4" selected="">n1-standard-4</option>
                            <option value="n1-standard-8">n1-standard-8</option>
                            <option value="n1-standard-16">n1-standard-16</option>
                            <option value="n1-standard-32">n1-standard-32</option>
                            <option value="n1-standard-64">n1-standard-64</option>
                            <option value="n1-standard-96">n1-standard-96</option>
                            <option value="n1-highcpu-4">n1-highcpu-4</option>
                            <option value="n1-highcpu-8">n1-highcpu-8</option>
                            <option value="n1-highcpu-16">n1-highcpu-16</option>
                            <option value="n1-highcpu-32">n1-highcpu-32</option>
                            <option value="n1-highcpu-64">n1-highcpu-64</option>
                            <option value="n1-highcpu-96">n1-highcpu-96</option>
                            <option value="n1-highmem-2">n1-highmem-2</option>
                            <option value="n1-highmem-4">n1-highmem-4</option>
                            <option value="n1-highmem-8">n1-highmem-8</option>
                            <option value="n1-highmem-16">n1-highmem-16</option>
                            <option value="n1-highmem-32">n1-highmem-32</option>
                            <option value="n1-highmem-64">n1-highmem-64</option>
                            <option value="n1-highmem-96">n1-highmem-96</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="masterDiskSize">Master Disk Size (GB)</label>
                          <input class="form-control" type="number" value="500" name="masterDiskSize" id ="masterDiskSize"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="numberOfWorkers">Workers</label>
                          <input class="form-control" type="number" value="0" name="numberOfWorkers" id="numberOfWorkers"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="numberOfWorkerLocalSSDs">Worker Local SSDs</label>
                          <input class="form-control" type="number" value="0" name="numberOfWorkerLocalSSDs" id ="numberOfWorkerLocalSSDs"/>
                        </div>
                        <div class="col-md-6">
                          <label for="numberOfPreemptibleWorkers">Preemptible Workers</label>
                          <input class="form-control" type="number" value="0" name="numberOfPreemptibleWorkers" id ="numberOfPreemptibleWorkers"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="workerMachineType">Worker Machine Type</label>
                          <select name="workerMachineType" id="workerMachineType" class="form-control">
                            <option value="n1-standard-1">n1-standard-1</option>
                            <option value="n1-standard-2">n1-standard-2</option>
                            <option value="n1-standard-4" selected="">n1-standard-4</option>
                            <option value="n1-standard-8">n1-standard-8</option>
                            <option value="n1-standard-16">n1-standard-16</option>
                            <option value="n1-standard-32">n1-standard-32</option>
                            <option value="n1-standard-64">n1-standard-64</option>
                            <option value="n1-standard-96">n1-standard-96</option>
                            <option value="n1-highcpu-4">n1-highcpu-4</option>
                            <option value="n1-highcpu-8">n1-highcpu-8</option>
                            <option value="n1-highcpu-16">n1-highcpu-16</option>
                            <option value="n1-highcpu-32">n1-highcpu-32</option>
                            <option value="n1-highcpu-64">n1-highcpu-64</option>
                            <option value="n1-highcpu-96">n1-highcpu-96</option>
                            <option value="n1-highmem-2">n1-highmem-2</option>
                            <option value="n1-highmem-4">n1-highmem-4</option>
                            <option value="n1-highmem-8">n1-highmem-8</option>
                            <option value="n1-highmem-16">n1-highmem-16</option>
                            <option value="n1-highmem-32">n1-highmem-32</option>
                            <option value="n1-highmem-64">n1-highmem-64</option>
                            <option value="n1-highmem-96">n1-highmem-96</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <label for="workerDiskSize">Worker Disk Size (GB)</label>
                          <input class="form-control" type="number" value="500" name="workerDiskSize" id ="workerDiskSize"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="extensionUri">Extension Uri</label>
                          <input class="form-control" type="text" name="extensionUri" id="extensionUri"/>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <label for="customScriptUri">Custom Script Uri</label>
                          <input class="form-control" type="text" name="customScriptUri" id="customScriptUri"/>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        <button type="button" id="start-notebook-button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    <%= render partial: 'notebooks_api_functions.js.erb'%>
</script>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    <% if user_signed_in? %>
        // headers and api parametrs
        var workspace = "<%= @study.firecloud_project %>";
        var access_token = "Bearer <%= current_user.access_token['access_token']%>";

        // api headers
        var headers = {
            "Authorization": access_token,
            "Content-Type": "application/json"
        };

        var clusterList = listClusters(workspace, headers);
        var clusterArr = [];
        // if the call was successful parse the json response
        if (clusterList.status === 200) {
            clusterArr = JSON.parse(clusterList.response);
        }

        for(var i in clusterArr){
            var clusterResponse = clusterArr[i];
            var status = clusterResponse.status ? clusterResponse.status : "";
            var masterMachineType = clusterResponse.machineConfig.masterMachineType ? clusterResponse.machineConfig.masterMachineType : "";
            var clusterName = clusterResponse.clusterName ? clusterResponse.clusterName : "";
            $('#clusterSelect').prepend($.parseHTML("<option value='" + clusterName + "'>" + clusterName + " " + masterMachineType + "</option>"));
        }

        // bind create button to form submit
        $('#start-notebook-button').click(function () {
            $('#start-notebook-form').submit();
        });

        $('#start-notebook-form').submit(function (event) {
            // stop submit to nothing
            event.preventDefault();
            var notebook_name = $('#notebookModallabel').data( "notebook");
            $('#notebookModallabel').text(this.id);
            // get form inputs
            var formParams = $(this).serializeArray().reduce((map, obj) => (map[obj.name] = obj.value, map), {});

            var clusterName = formParams.clusterSelect;
            if(cluster  === "create_new"){
                clusterName = createParams.name;
            }

            // format payload for api call
            var parsedCreateParams = {
                "labels": {},
                "machineConfig": {
                    "numberOfWorkers": parseInt(formParams.numberOfWorkers),
                    "masterMachineType": formParams.masterMachineType,
                    "masterDiskSize": parseInt(formParams.masterDiskSize),
                    "workerMachineType": formParams.workerMachineType,
                    "workerDiskSize": parseInt(formParams.workerDiskSize),
                    "numberOfWorkerLocalSSDs": parseInt(formParams.numberOfWorkerLocalSSDs),
                    "numberOfPreemptibleWorkers": parseInt(formParams.numberOfPreemptibleWorkers)
                }
            };
            var bucket = "gs://<%= @study.bucket_id %>/";
            var parsedLocalizeCommands = {};
            parsedLocalizeCommands["./" + notebook_name] = bucket + notebook_name;
            $('.localizeFiles').each(function(){
                if($(this).prop('checked')){
                    parsedLocalizeCommands["./"+$(this).val()] = bucket + $(this).val();
                }
            });

            // createCluster api call
            var link = base_url + openNotebook(googleProject, clusterName, headers, notebook_name, parsedCreateParams, parsedLocalizeCommands);

            $.cookie('LeoToken', "<%= current_user.access_token['access_token']%>", {
                path: '/'
            });
            var setCookieRequest = setCookie(workspace, clusterName, headers);
            var notebookRequest = getNotebook(workspace, clusterName, headers);
            notebookRequest.onload = function (e) {
                if (notebookRequest.readyState === 4) {
                    if (notebookRequest.status === 200) {
                        var container = $('#iframe-container');
                        var iframe = "<iframe id='iframe-container' class=\"col-sm-10\" style=\"height: 700px\" src='" + link + "'/>";
                        container.replaceWith($.parseHTML(iframe,undefined,true));
                    } else {
                        console.error(notebookRequest.statusText);
                    }
                }
            };
            notebookRequest.onerror = function (e) {
                console.error(xhr.statusText);
            };
            notebookRequest.send(null);
            refreshTable()
        });
    <% end %>
</script>