<div class="row">
  <div class="col-md-12">
    <h2>Current Submissions <span class="badge"><%= @submissions.size %></span></h2>
      <div class="table-responsive">
        <div class="well well-sm">
          <table class="table table-striped" id="submissions-table">
            <thead>
            <tr>
              <th>Submitted On</th>
              <th>Submission ID</th>
              <th>Workflow Name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% @submissions.each do |submission| %>
              <tr id="submission-<%= submission['submissionId'] %>">
                <td id="submission-<%= submission['submissionId'] %>-date"><%= submission['submittedOn'] %></td>
                <td id="submission-<%= submission['submissionId'] %>-id"><%= submission['submissionId'] %></td>
                <td id="submission-<%= submission['submissionId'] %>-name"><%= submission['methodName'] %></td>
                <td id="submission-<%= submission['submissionId'] %>-status"><%= workflow_status_label(submission['status']) %></td>
                <td class="actions">
                  <% if !%w(Completed Error).include?(submission['status']) %>
                    <%= link_to "<i class='fa fa-times'></i> Abort".html_safe, '#', class: 'btn btn-xs btn-danger abort-submission', title: 'Stop execution of this workflow', data: {toggle: 'tooltip', id: submission['submissionId']} %>
                  <% else %>
                    <%= link_to "<i class='fa fa-files-o'></i> Outputs".html_safe, '#', class: 'btn btn-xs btn-primary', title: 'View outputs from this run', data: {toggle: 'tooltip'} %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Submit a Workflow</h2>
    <%= form_for(:workflow, url: '#', html: {class: 'form', id: 'workflow-submission'}) do |f| %>
      <p class="help-block">Use this form to configure and submit a workflow using the data from this study.
          You will be able to check the status of this workflow in the table above.</p>
      <div class="form-group row">
        <div class="col-sm-9">
          <%= f.label :identifier, 'Workflow' %><br />
          <%= f.select :identifier, options_for_select(@workflows_list), {include_blank: 'Please select a workflow...'}, {class: 'form-control'} %>
        </div>
        <div class="col-sm-3">
          <label>View Workflow</label><br />
          <%= link_to 'View Selected WDL', 'javascript:;', class: 'btn btn-default', id: 'view-selected-wdl', 'data-loading-text' => 'Loading... Please wait' %>
        </div>
      </div>
      <div id="wdl-content-target">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <div class="bs-callout bs-callout-info">
            <h4>Samples & Primary Data Files</h4>
            <p class="help-block">Use the multi-select below to choose either existing samples or primary data directories from this study to use as inputs for this workflow.
              If using directories, samples & paired reads will be determined by the names of the primary data files.  If you wish to edit the list of sample & file pairings, you can export it via the
              <strong>Export Sample & File Parings</strong> button, make any desired changes, and import the new list using the <strong>Upload Sample & File Parings</strong> button.</p>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <%= f.label :samples, 'Please select known samples from the workspace (select all that apply)' %><br />
              <%= f.select :samples, options_for_select(@samples), {}, multiple: true, class: 'form-control', size: @samples.size > 10 ? 10 : @samples.size %>
            </div>
            <div class="col-sm-6">
              <%= f.label :study_data, 'OR choose primary data directories (select all that apply)' %><br />
              <%= f.select :study_data, options_for_select(@primary_data_locations), {}, multiple: true, class: 'form-control', size: @primary_data.size > 10 ? 10 : @primary_data.size %>
            </div>
          </div>
          <div class="well well-sm">
            <div class="table-responsive">
              <table class="table table-striped tabled-condensed" id="samples-table">
                <thead>
                <tr>
                  <th class="col-sm-3">Sample</th>
                  <th class="col-sm-3">Fastq File 1</th>
                  <th class="col-sm-2">Fastq File 2</th>
                  <th class="col-sm-2">Fastq File 3</th>
                  <th class="col-sm-2">Fastq File 4</th>
                </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
          <%= f.file_field :sample_info, class: 'form-control' %>
        </div>
        <div class="col-sm-3">
          <%= link_to "<i class='fa fa-upload'></i> Upload Sample & File Parings".html_safe,
                      'javascript:;', class: 'btn btn-default', id: 'upload-sample-info',
                      data: {toggle: 'tooltip'}, title: 'Upload a five-column tab-delimited file of sample names and 1-4 paired primary data files (per sample).' %>
        </div>
        <div class="col-sm-3">
          <%= link_to "<i class='fa fa-download'></i> Export Sample & File Parings".html_safe,
                      'data:text/plain;base64,', class: 'btn btn-default', id: 'export-sample-info',
                      data: {toggle: 'tooltip'}, title: 'Export the current sample & primary data file pairings as a tab-delimited text file.',
                      download: 'sample_info.txt' %>
        </div>
        <div class="col-sm-3">
          <%= link_to "<i class='fa fa-eraser'></i> Clear Samples & Files".html_safe,
                      'javascript:;', class: 'btn btn-default', id: 'clear-sample-info' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.submit 'Submit Workflow', class: 'btn btn-lg btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $('#submissions-table').dataTable({
        pagingType: "full_numbers",
        order: [[0, 'asc']],
        language: {
            search: "Filter Results By: "
        }
    });

    // display a confirmation when a user tries to abort a submission
    $('#submissions-table').on('click', '.abort-submission', function () {
        var submissionId = $(this).data('id');
        var submissionName = $('#submission-' + submissionId + '-name').text();
        var submissionDate = $('#submission-' + submissionId + '-date').text();
        if (confirm('Are you sure you want to abort this submission of ' + submissionName + ' (' + submissionId + ', submitted on ' + submissionDate + ')?  This cannot be undone.')) {
            alert('Aborted');
        } else {
            alert('Did not abort');
        }
    });

    $('#view-selected-wdl').click(function () {
        var selectedWdl = $('#workflow_identifier').val();
        if (selectedWdl === '') {
            alert('You must select a workflow first.')
        } else {
            $(this).button('loading');
            var workflowNameSpace, workflowName, workflowSnapshotId;
            [workflowNameSpace, workflowName, workflowSnapshotId] = selectedWdl.split('--');
            $.ajax({
                url: '<%= view_workflow_wdl_path %>?namespace=' + workflowNameSpace + '&workflow=' + workflowName + '&snapshot=' + workflowSnapshotId,
                dataType: 'script'
            });
        }
    });

    var samplesTable = $('#samples-table').DataTable({
        pagingType: 'full_numbers',
        order: [[0, 'asc']],
        autoWidth: false,
        columnDefs: [
            { type: 'natural', targets: '_all' }
        ]
    });

    // redraw datatable with new rows
    function updateSampleTable(rows) {
        console.log('adding ' + rows.length + ' rows to samples table');
        samplesTable.clear();
        samplesTable.rows.add(rows);
        samplesTable.draw();
        console.log('samples table update complete');
        createSampleInfo();
    }

    // update samples & files table with entries from study fastq entries
    $('#workflow_study_data').change(function () {
        // unselect the samples area first
        $('#workflow_samples').val('');
        var selected = $(this).val();
        $.ajax({
            url: '<%= get_fastq_files_path(study_name: @study.url_safe_name, mode: 'workflow') %>&selected_entries=' + selected,
            dataType: 'json',
            success: function(data) {
                updateSampleTable(data);
            }
        });
    });

    // retrieve sample information from study entities list
    $('#workflow_samples').change(function () {
        $('#workflow_study_data').val('');
        var requestedSamples = $(this).val();
        $.ajax({
            url: '<%= get_workspace_samples_path(study_name: @study.url_safe_name) %>?samples=' + requestedSamples,
            dataType: 'json',
            success: function(data) {
                updateSampleTable(data)
            }
        });
    });

    // read uploaded file as text and
    var sampleInfoInput = $('#workflow_sample_info')[0];
    var reader = new FileReader();
    $(reader).on('load', function (e) {
        var file = e.target.result,
            results;
        if (file && file.length) {
            results = file.split(/[\n]/);
            var rows = [];
            $(results).each(function(i, line) {
                if (line.trim() !== '' && line.split(/\t/)[0] !== 'entity:sample_id') {
                    rows.push(line.split(/\t/));
                }
            });
            updateSampleTable(rows);
        }
    });

    // upload a tab-delimited sample info file to use as inputs
    $('#upload-sample-info').click(function () {

        if (sampleInfoInput.files.length) {
            var upload = sampleInfoInput.files[0];
            reader.readAsText(upload);
            $(sampleInfoInput).val('');
        } else {
            alert('You must select a file first before proceeding.');
            $('#workflow_sample_info').parent().addClass('has-error');
        }
        $(this).tooltip('hide');
    });

    $('#clear-sample-info').click(function () {
        $('#workflow_study_data').val('');
        updateSampleTable([])
    });

    // base64 encode form data for export via HTML5 download
    function createSampleInfo() {
        var rows = samplesTable.rows().data();
        var fileContents = "entity:sample_id\tfastq_file_1\tfastq_file_2\tfastq_file_3\tfastq_file_4\n";
        $(rows).each(function(i, row) {
            fileContents += row.join("\t") + "\n";
        });
        $('#export-sample-info').attr('href', 'data:text/plain;base64,' + btoa(fileContents));
    }

</script>