<div class="row">
  <div class="col-md-2" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-13" id="render-target">
    <div class="row-offcanvas row-offcanvas-right">
      <div id="view-options-nav"><a href="#view-options" id="view-option-link" data-toggle="offcanvas"><i class="fas fa-cog" aria-hidden="true"></i> View Options </a></div>
      <ul class="nav nav-tabs" role="tablist" id="view-tabs">
        <% if @study.can_visualize_clusters? %>
          <li role="presentation" class="study-nav active" id="plots-tab-nav"><a href="#plots-tab" data-toggle="tab">Clusters </a></li>
        <% end %>
        <% if @study.can_visualize_genome_data? %>
          <li role="presentation" class="study-nav<%= !@study.can_visualize_clusters? ? ' active' : nil %>" id="genome-tab-nav">
            <a href="#genome-tab" data-toggle="tab">Genome </a>
          </li>
        <% end %>
      </ul>
      <%= render partial: 'view_options' %>
      <div class="tab-content">
        <% if @study.can_visualize_clusters? %>
          <div class="tab-pane active" id="plots-tab" role="tabpanel">
            <div class="panel panel-default no-top-border">
              <div id="plots" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-xs-12">
                        <div id="colorscale-target"></div>
                        <div id="toggle-plots"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div id="cluster-plot"></div>
                      <div id="cluster-figure-legend"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @study.can_visualize_genome_data? %>
          <div class="tab-pane<%= !@study.can_visualize_clusters? ? ' active' : nil%>" id="genome-tab" role="tabpanel" >
            <div class="panel panel-default no-top-border">
              <div id="genome-container" class="panel-collapse collapse in">
                <div style="padding: 15px 30px;">
                  <%= render partial: '/site/genome/genome' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
  <% if @study.can_visualize_clusters? %>
    $('#cluster-plot').data('rendered', false);

    var baseCamera = {
        "up":{"x":0,"y":0,"z":1},
        "center":{"x":0,"y":0,"z":0},
        "eye":{"x":1.25,"y":1.25,"z":1.25}
    };

    function renderScatter() {
        // detach listener as it will be re-attached in response; this helps reduce spurious errors
        $(window).off('resizeEnd');
        var url = '<%= render_cluster_path(accession: @study.accession, study_name: @study.url_safe_name) %>';
        var target = $('#cluster-plot')[0];
        var spinner = new Spinner(opts).spin(target);
        $('#cluster-plot').data('spinner', spinner);

        var urlParams = getRenderUrlParams();
        url += '?' + urlParams;

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'script'
        });
    }

    $(document).ready(function() {
      //if tab position was specified in url, show the current tab
      if (window.location.href.split('#')[1] !== '') {
          var tab = window.location.href.split('#')[1];
          $('#study-tabs a[href="#' + tab + '"]').tab('show');
      }
      $('#cluster-plot').data('camera', baseCamera);
      // set default subsample option of 10K (if subsampled) or all cells
      if (<%= @cluster.points > 10000 && @cluster.subsampled? %>) {
          $('#subsample').val(10000);
          $('#search_subsample').val(10000);
      }

      renderScatter();
    });

    // listener for cluster nav, specific to study page
    $("#annotation").change(function() {
        $('#cluster-plot').data('rendered', false);
        var an = $(this).val();
        // keep track for search purposes
        $('#search_annotation').val(an);
        $('#gene_set_annotation').val(an);
        renderScatter();
    });

    $('#subsample').change(function() {
        $('#cluster-plot').data('rendered', false);
        var sample = $(this).val();
        $('#search_subsample').val(sample);
        $('#gene_set_subsample').val(sample);
        renderScatter();
    });

    $("#cluster").change(function() {
        $('#cluster-plot').data('rendered', false);
        var newCluster = $(this).val();
        // keep track for search purposes
        $('#search_cluster').val(newCluster);
        $('#gene_set_cluster').val(newCluster);
        // grab currently selected annotation
        var currSubsample = $('#subsample').val();
        // get new annotation options and re-render
        $.ajax({
            url: "<%= get_new_annotations_path(accession: @study.accession, study_name: @study.url_safe_name)%>?cluster=" + encodeURIComponent(newCluster) + '&subsample=' + encodeURIComponent(currSubsample),
            method: 'GET',
            dataType: 'script',
            complete: function (jqXHR, textStatus) {
                renderWithNewCluster(textStatus, renderScatter);
            }
        });
    });
  <% end %>
    $('#ideogram_annotation').on('change', function() {
        var ideogramFiles = <%= raw @ideogram_files.to_json %>;
        var fileId = $(this).val();
        if (fileId !== '') {
            var ideogramAnnot = ideogramFiles[fileId];
            window.ideogramInferCnvSettings = ideogramAnnot.ideogram_settings;
            initializeIdeogram(ideogramAnnot.ideogram_settings.annotationsPath);
        } else {
            $('#tracks-to-display, #_ideogramOuterWrap').html('');
            $('#ideogramTitle').remove();
        }

    });
  <% if !@study.can_visualize_clusters? && @ideogram_files.present? %>
    // user has no clusters, but does have ideogram annotations
    $(document).ready(function () {
      var ideogramSelect = $('#ideogram_annotation');
      var firstIdeogram = $('#ideogram_annotation option')[1].value;
      ideogramSelect.val(firstIdeogram).trigger('change'); // manually trigger change to cause ideogram to render
    });

  <% end %>
</script>
