<% @studies.each do |study| %>
  <div class="panel panel-primary study-panel" data-page="<%= params[:page].nil? ? 1 : params[:page] %>">
    <div class="panel-heading">
      <div class="panel-title">
        <h4><%= link_to "#{study.name} <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, "#study-#{study.url_safe_name}", "data-toggle" => "collapse", 'data-parent' => '#downloads', style: 'color: white;'  %></h4>
      </div>
    </div>
    <div id="study-<%= study.url_safe_name %>" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-2">
            <%= scp_link_to "View Study".html_safe, view_study_path(study_name: study.url_safe_name), class: 'btn btn-success btn-lg btn-block view-study-page' %>
          </div>
          <div class="col-sm-9">
            <%= strip_tags(study.description).truncate_words(100, omission: '... (continued)') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>