<%= form_for(@study, url: update_study_settings_path, html: {class: 'update-description-form', data: {remote: true}}) do |f| %>
  <% if @study.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@study.errors.count, "error") %> prohibited this study from being saved:</h4>

      <ul>
        <% @study.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.cktext_area :description %>
  </div>

  <div class="form-group row">
    <div class="col-xs-12 text-center">
      <%= f.submit 'Update Description', class: 'btn btn-lg btn-success', id: 'update-study-description' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    $('#update-study-description').click( function() {
        launchModalSpinner('#update-study-settings-spinner', '#update-study-settings-modal');
    });
</script>