var data = [];
<% @coordinates.sort_by {|k,v| k}.each_with_index do |(cluster, data), index| %>
	var cluster_<%= index %> = {
		x: <%= raw data[:x] %>,
		y: <%= raw data[:y] %>,
    <% if @cluster.cluster_type == '3d' %>
      z: <%= raw data[:z] %>,
      textposition: 'bottom right',
    <% end %>
		text: <%= raw data[:text] %>,
		name: "<%= data[:name] %>",
		mode: 'markers',
		type: '<%= @plot_type %>',
    <% if !data[:marker].nil? %>
      marker: <%= raw data[:marker].to_json %>
    <% else %>
      marker: {
        color: colorBrewerSet[<%= index %>],
        size: <%= raw data[:marker_size] %>,
        line: {
          color: plotlyDefaultLineColor,
          width: 0.5
        }
      }
    <% end %>

	};

  data.push(cluster_<%= index %>);
<% end %>

// use partial for layouts to avoid code duplication
<%= render 'study_scatter_layout' %>

Plotly.newPlot('cluster-plot', data, layout);

// listener to redraw expression scatter with new color profile
$("#colorscale").change(function() {
    <%= render 'study_scatter_layout' %>
    var theme = $(this).val();
    data[0].marker.colorscale = theme;
    console.log("setting colorscale to " + theme);

    Plotly.newPlot('cluster-plot', data, layout);

});


// now that we have the legend size, recalculate adding this to the overall size
var legendW = parseInt($('#cluster-plot g.legend rect.bg').attr('width'));
var curSize = $('#cluster-plot').actual('width') * SCATTER_RATIO;
var newWidth = legendW + curSize;
var updatedLayout = {width: newWidth};
Plotly.relayout('cluster-plot', updatedLayout);

$('#cluster-figure-legend').html("<p class='text-center help-block'><%= escape_javascript(render text: @cluster.study_file.description) %></p>");

// access actual target div, not jQuery object wrapper for relayout event
$('#cluster-plot')[0].on('plotly_relayout', function(data) {
  if (data.scene != null) {
    var oldScene = $('#cluster-plot').data('camera');
    var newScene = data.scene;
    console.log('Updating camera information; was ' + JSON.stringify(oldScene));
    $('#cluster-plot').data('camera', newScene);
    console.log('Update complete, camera data now ' + JSON.stringify($('#cluster-plot').data('camera')));
  }
});