<div class="row">
  <div class="col-md-3" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-9" id="render-target">
    <%= render partial: 'view_options' %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "#{@study.name} Clusters <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#plots', 'data-toggle' => 'collapse' %></h4>
        </div>
      </div>
      <div id="plots" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-xs-12">
                <div id="colorscale-target"></div>
                <div id="toggle-plots"></div>
                <div>
                  <%= render partial: 'scattergl_toggle' %>
                </div>
              </div>
            </div>
            <div class="row well" id="selection-well">
              <%= form_tag(create_user_annotations_path(study_name: params[:study_name]), id: 'create_annotations', method: :post, data: {remote: true}) do %>
                <div id="selection-table">
                </div>
                <div class="row" id="selection-button">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                    <%= submit_tag 'Create Annotations', {class:'btn btn-success'} %>
                  </div>
                  <div class="col-lg-4"></div>
                </div>
              <% end %>
            </div>
            <div class="row">
              <div id="cluster-plot"></div>
              <div id="cluster-figure-legend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#cluster-plot').data('rendered', false);

    var baseCamera = {
        "up":{"x":0,"y":0,"z":1},
        "center":{"x":0,"y":0,"z":0},
        "eye":{"x":1.25,"y":1.25,"z":1.25}
    };

    function renderScatter() {
        var url = '<%= render_cluster_path(study_name: @study.url_safe_name) %>';
        var target = $('#cluster-plot')[0];
        var spinner = new Spinner(opts).spin(target);
        $('#cluster-plot').data('spinner', spinner);
        var cluster = $('#cluster').val();
        var annotation = $('#annotation').val();
        var subsample = $('#subsample').val();
        url += '?cluster=' + cluster + '&annotation=' + annotation + '&subsample=' + subsample;

        $.ajax({
            url: url,
            method: 'GET',
            dataType: 'script'
        });
    }

    $(document).ready(function() {
        $('#cluster-plot').data('camera', baseCamera);
        // set default subsample option of 10K or all cells
        if (<%= @cluster.points > 10000 %>) {
            $('#subsample').val(10000);
            $('#search_subsample').val(10000);
        }

        renderScatter();
    });
    var target = $('#cluster-plot')[0];

    //hide table on load
    var selectionWell = $('#selection-well');
    var selectionTable = $('#selection-table');
    var selectionButton = $('#selection-button');
    selectionWell.css('visibility', 'hidden');


    var selections = [];

    //toggle scattergl / scatter for selection
    $("#toggle-scatter").click(function() {
      //var target = $('#cluster-plot')[0];
      selections = [];

      $(target).on('plotly_afterplot', function() {
          if($(target).data('spinner') !== undefined){
              $(target).off('plotly_afterplot');
              $(target).data('spinner').stop();


             if(newType === 'scatter'){
                selectionWell.css('visibility', 'visible');

                 //Set the initial unselected array
                var unselected_cell_name = [];

                var plot_data = $('#cluster-plot')[0].data;

                for(var m = 0; m < plot_data.length; m++){
                   unselected_cell_name.push(plot_data[m].cells);
                }

                unselected_cell_name = [].concat.apply([], unselected_cell_name);

                var unselected = unselected_cell_name;

                selections.push(unselected);
                createSelection();
                console.log('show');
              }
              else{
                 selectionWell.css('visibility', 'hidden');

                 console.log('hide');
              }

              console.log('stopped');
          }
      });


      function createSelection(){
          selectionTable.empty();
          selectionTable.prepend('<table id=\"well-table\" class=\"table table-striped table-bordered\"><tbody></tbody></table>');

          for(var m = 0; m < selections.length; m++){
              var name = 'Selection ' + m.toString();
              if(m === 0){name = 'Unselected'}
              var addS = '<tr><td id=\"' + name + '\">'+ name + ': ' +  selections[m].length.toString() + ' Cells</td><td><input type=\"text\" name=\"name_' + m + '\" id=\"name_' + m + '\" class="form-control\" placeholder=\"Set Annotation Name\"><input name=\"hiddenName_' + m + '\" id=\"hiddenName_' + m + '\" type="hidden" value=\"' + selections[m]+'\" /></td></tr>';

              console.log(addS);
              $('#well-table').prepend(addS);
          }
      }

      function updateSelection(){
        for(var m = 0; m < selections.length-1; m++){
            var name = 'Selection ' + m.toString();
            if(m === 0){name = 'Unselected'}
            var updateDiv = '#Selection' +  m.toString();
            if(m === 0){updateDiv = '#Unselected'}
            var update = $(updateDiv);
            var replace = name + ': ' +  selections[m].length.toString() + ' Cells';

            console.log(replace);
            update.html(replace);

            var updateDiv = '#hiddenName_' +  m.toString();
            update = $(updateDiv);
            replace = selections[m];

            console.log(replace);
            update.val(replace);
        }

        var addInt = selections.length-1;
        var id = "Selection" + addInt.toString();
        name = 'Selection ' + addInt.toString();
        var addS = '<tr><td id=\"' + id + '\">' + name + ': ' +  selections[addInt].length.toString() + ' Cells</td><td><input type=\"text\" name=\"name_' + addInt + '\" id=\"name_' + addInt + '\" class="form-control\" placeholder=\"Set Annotation Name\"><input name=\"hiddenName_' + addInt + '\" id=\"hiddenName_' + addInt + '\" type="hidden" value=\"' + selections[addInt]+'\" /></td></tr>';

        console.log(addS);
        $('#well-table').prepend(addS);

            }



      //launch spinner
      var spinner = new Spinner(opts).spin(target);
      $(target).data('spinner', spinner);
      console.log('started');
      var newType = data[0].type === 'scattergl' ? 'scatter' : 'scattergl';

      data[0].type = newType;
      console.log('Changed scatter to: ' + newType);
      // re-render reference plot if showing numeric annotations
      for(var i = 0; i < data.length; i ++){
          data[i].type = newType;
      }
      Plotly.newPlot('cluster-plot', data, layout);

      console.log('attaching');
      console.log($('#cluster-plot')[0]);
      $('#cluster-plot')[0].on('plotly_selected', function(eventData) {
          var names = [];
          var annotations = [];

          var colors = [];

          var selection =[];
          var selected_cell_name = [];

          eventData.points.forEach(function (pt) {
            selected_cell_name.push(data[pt.curveNumber].cells[pt.pointNumber]);
          });

          var selection = selected_cell_name;

          for(var t = 0; t < selections.length; t++){
              selections[t] = _.difference(selections[t], selection);
          }

          console.log('Selected');
          console.log(names);
          console.log(annotations);
          selections.push(selection);
          updateSelection();
      });

    });

        // listener for cluster nav, specific to study page
    $("#annotation").change(function() {
        $('#cluster-plot').data('rendered', false);
        var an = $(this).val();
        // keep track for search purposes
        $('#search_annotation').val(an);
        $('#gene_set_annotation').val(an);
        renderScatter();
    });

    $('#subsample').change(function() {
        $('#cluster-plot').data('rendered', false);
        var sample = $(this).val();
        $('#search_subsample').val(sample);
        $('#gene_set_subsample').val(sample);
        renderScatter();
    });

    $("#cluster").change(function() {
        $('#cluster-plot').data('rendered', false);
        var newCluster = $(this).val();
        // keep track for search purposes
        $('#search_cluster').val(newCluster);
        $('#gene_set_cluster').val(newCluster);
        // grab currently selected annotation
        var currAnnot = $('#annotation').val();
        // get new annotation options and re-render
        $.ajax({
            url: "<%= get_new_annotations_path(study_name: @study.url_safe_name)%>?cluster=" + newCluster,
            method: 'GET',
            dataType: 'script',
            success: function (data) {
                // parse response as a string and see if currently selected annotation exists in new annotations
                if (data.indexOf(currAnnot) >= 0) {
                    $('#annotation').val(currAnnot);
                }
                $(document).ready(function () {
                    // since we now have new annotations, we need to set them in the search form for persistence
                    var an = $('#annotation').val();
                    $('#search_annotation').val(an);
                    $('#gene_set_annotation').val(an);
                    renderScatter();
                });
            }
        });
    });

</script>