<div class="row">
  <div class="col-md-3" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-9" id="render-target">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h4><%= link_to "Gene List Heatmap <span class='fa fa-chevron-down toggle-glyph'></span>".html_safe, '#plots', 'data-toggle' => 'collapse' %> <%= render partial: 'show_search_options_button' %></h4>
        </div>
      </div>
      <div id="plots" class="panel-collapse collapse in">
        <div class="panel-body">
          <div class="col-md-12">
            <div id="heatmap-plot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

    // monitor status of rendering plots for tests
    $('#heatmap-plot').data('rendered', false);

    $('#row_centered, #expression').change(function() {
        if ($('#expression').val() != '') {
            var newDataPath = '<%= precomputed_results_path(study_name: params[:study_name]) %>';
            var precomputed = $('#expression').val();
            var row_centered = $('#row_centered').prop('checked') ? 1 : 0;
            var requestToken = '<%= user_signed_in? ? current_user.id.to_s + ':' + current_user.authentication_token : nil %>';
            newDataPath += '?precomputed=' + precomputed + '&row_centered=' + row_centered + '&request_token=' + requestToken;

            // reset status on render call
            $('#heatmap-plot').data('rendered', false);
            renderMorpheus(newDataPath, '', '', '', '#heatmap-plot', 'both');
        }
    });

    $(document).ready(function() {
        var dataPath = "<%= precomputed_results_path(study_name: params[:study_name], precomputed: params[:precomputed]) %>";
        var requestToken = '<%= user_signed_in? ? current_user.id.to_s + ':' + current_user.authentication_token : nil %>';
        dataPath += '&request_token=' + requestToken;

        renderMorpheus(dataPath, '', '', '', '#heatmap-plot', 'both');
    });

    // reattach tooltips on render
    $('[data-toggle="tooltip"]').tooltip({container: 'body'});

</script>