<div class="row">
  <div class="col-md-2" id="search-target">
    <%= render partial: 'search_options' %>
  </div>
  <div class="col-md-13" id="render-target">
    <div class="row-offcanvas row-offcanvas-right">
      <div id="view-options-nav"><a href="#view-options" id="view-option-link" data-toggle="offcanvas"><i class="fas fa-cog" aria-hidden="true"></i> View Options </a></div>
      <ul class="nav nav-tabs" role="tablist" id="view-tabs">
        <li role="presentation" class="study-nav active" id="plots-tab-nav"><a href="#plots-tab" data-toggle="tab">Heatmap </a></li>
      </ul>
      <%= render partial: 'view_options' %>
      <div class="tab-content">
        <div class="tab-pane active" id="plots-tab" role="tabpanel">
          <div class="panel panel-default no-top-border">
            <div id="plots" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="col-md-12">
                  <%= render partial: 'morpheus_help' %>
                  <div id="heatmap-plot"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

    // monitor status of rendering plots for tests
    $('#heatmap-plot').data('rendered', false);

    $('#heatmap_row_centering, #expression').change(function() {
        // clear out previous stored heatmap object
        $('#heatmap-plot').data('heatmap', null);
        if ($('#expression').val() != '') {
            var newDataPath = '<%= precomputed_results_path(study_name: params[:study_name]) %>';
            var precomputed = $('#expression').val();
            var heatmap_row_centering = $('#heatmap_row_centering').val();
            var requestToken = '<%= user_signed_in? ? current_user.id.to_s + ':' + current_user.authentication_token : nil %>';
            newDataPath += '?precomputed=' + precomputed + '&row_centered=' + heatmap_row_centering + '&request_token=' + requestToken;

            var colorScalingMode = 'relative';
            // determine whether to scale row colors globally or by row
            if (heatmap_row_centering !== '') {
                colorScalingMode = 'fixed';
            }

            // reset status on render call
            $('#heatmap-plot').data('rendered', false);
            renderMorpheus(newDataPath, '', '', '', '#heatmap-plot', {}, 'both', null, colorScalingMode);
        }
    });

    $(document).ready(function() {
        var dataPath = "<%= precomputed_results_path(study_name: params[:study_name], precomputed: params[:precomputed]) %>";
        var requestToken = '<%= user_signed_in? ? current_user.id.to_s + ':' + current_user.authentication_token : nil %>';
        dataPath += '&request_user_token=' + requestToken;

        var heatmap_row_centering = $('#heatmap_row_centering').val();
        var colorScalingMode = 'relative';
        // determine whether to scale row colors globally or by row
        if (heatmap_row_centering !== '') {
            colorScalingMode = 'fixed';
        }

        renderMorpheus(dataPath, '', '', '', '#heatmap-plot', {}, 'both', null, colorScalingMode);
    });

</script>