<div class="well well-lg jumbotron" id="main-banner">
	<h1 class="lead text-center">Single Cell Portal <sup><small>BETA</small></sup></h1>
	<p class="lead text-center">Visualization portal for single cell RNA-seq data.</p>
</div>
<h2 class="study-lead"><span class="fa fa-book"></span> Studies</h2>
<div class="panel-group" id="studies">
	<% @studies.each_with_index do |study, index| %>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">
					<h4><%= link_to "#{study.name} <span class='fa fa-chevron-#{ index == 0 ? 'down' : 'right' } toggle-glyph'></span>".html_safe, "##{study.url_safe_name}", "data-toggle" => "collapse", 'data-parent' => '#downloads', style: 'color: white;'  %></h4>
				</div>
			</div>
			<div id="<%= study.url_safe_name %>" class="panel-collapse collapse <%= index == 0 ? 'in' : nil %>">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2">
							<%= link_to "View Study".html_safe, view_study_path(study_name: study.url_safe_name), class: 'btn btn-success btn-lg btn-block' %>
						</div>
						<div class="col-sm-9">
							<%= study.description.html_safe %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>