<%= render partial: 'main_banner_content' %>
<div class="container-fluid home-page-fix" id="wrap">
  <div class="row section-pad" id="main-body">
    <div class="col-md-12">
      <% if User.feature_flag_for_user(current_user, "linkable_gene_search") %>
        <div id="home-page-content"></div>
      <% else %>
        <ul class="nav nav-tabs sc-tabs" role="tablist" id="home-page-tabs">
          <li role="presentation" class="home-nav active" id="search-studies-nav">
            <a href="#search-studies" class="home-nav-tab" data-toggle="tab"><span class="fas fa-book"></span> Search Studies</a>
          </li>
          <li role="presentation" class="home-nav" id="search-genes-nav">
            <a href="#search-genes" class="home-nav-tab" data-toggle="tab"><span class="fas fa-dna"></span> Search Genes</a>
          </li>
          <% if User.feature_flag_for_user(current_user, 'covid19_page') && @selected_branding_group.nil? %>
            <li role="presentation" class="home-nav" id="covid19-tab"
                style="float:right;
                       background: url(<%= image_url 'covid19-button.png' %>);
                       background-position: right;
                       background-repeat: no-repeat;
                       background-color: #1d1e20;
                       border-radius: 5px;
                       background-size: contain;">
              <a href="/single_cell/covid19"
                 style="color: #fff;
                        font-size: normal;
                        width:250px;">
                COVID-19 Studies
              </a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content top-pad">
          <div class="tab-pane active in" id="search-studies" role="tabpanel">
            <%#
              This is where React integrates into Rails.

              Ensure any updates to this ID are reflected in the ReactDOM.render call
              in app/javascript/packs/application.js
            #%>
            <% if User.feature_flag_for_user(current_user, "advanced_search") %>
              <div id="home-page-content">
              </div>
            <% else %>
              <%= render partial: '/site/search/search_studies' %>
            <% end %>
          </div>
          <div class="tab-pane" id="search-genes" role="tabpanel">
            <%= render partial: '/site/search/search_genes' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%# render feature flags to html so they can be found by react components #%>
<input type="hidden" id="feature-flags" value='<%= User.feature_flags_for_user(current_user).to_json %>'/>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    $(window).scroll(bindScroll);

    var totalPages = <%= @studies.total_pages %>;
    var currentPage = '<%= params[:page] %>';
    var order = '<%= params[:order] %>';
    var search = '<%= params[:search_terms] %>';
    var project = '<%= params[:scpbr] %>';
    var activeTab = 'search-studies';
    window.SCP = window.SCP ? window.SCP : {}
    window.SCP.featureFlags = <%= User.feature_flags_for_user(current_user).to_json.gsub('"','') %>
    window.SCP.selectedBrandingGroup = '<%= @selected_branding_group %>'

    $('.home-nav-tab').on('shown.bs.tab', function(el) {
        $(window).unbind('scroll');
        activeTab = el.target.toString().split('#')[1];
        console.log('active-tab: ' + activeTab );
        $(window).scroll(bindScroll);
    });

    function bindScroll(){
        if($(window).scrollTop() + $(window).height() > $(document).height() - 1) {
            if ( activeTab === 'search-studies') {
                $(window).unbind('scroll');
                paginateStudies(totalPages, order, search, project);
            } else {
                // event used to submit global gene search form, not attached until search is performed
                $(window).trigger('paginateGeneSearch');
            }
        }
    }

    if ( currentPage === '' && totalPages == 1) {
        $(window).unbind('scroll');
        $("#pagination").toggle();
    }

    $('#pagination').click(function(e) {
        e.preventDefault();
        $(window).unbind('scroll');
        paginateStudies(totalPages, order, search, project);
    });

    if ( search !== '' ) {
        $('#search_terms').val($('<div/>').html(search).text());
    }

    $(document).ready(function() {
        var main = $('.home-page-fix');
        var height = main.actual('height');
        main.css('min-height', height - 245);

    });

</script>
