<%= render partial: 'main_banner_content' %>
<ul class="nav nav-tabs" role="tablist" id="home-page-tabs">
  <li role="presentation" class="home-nav active" id="search-studies-nav">
    <a href="#search-studies" class="home-nav-tab" data-toggle="tab"><span class="fas fa-book"></span> Search Studies</a>
  </li>
  <li role="presentation" class="home-nav" id="search-genes-nav">
    <a href="#search-genes" class="home-nav-tab" data-toggle="tab"><span class="fas fa-dna"></span> Search Genes</a>
  </li>
</ul>
<div class="tab-content top-pad">
  <div class="tab-pane active in" id="search-studies" role="tabpanel">
    <%= render partial: '/site/search/search_studies' %>
</div>
  <div class="tab-pane" id="search-genes" role="tabpanel">
    <%= render partial: '/site/search/search_genes' %>
  </div>
</div>

<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    $(window).scroll(bindScroll);

    var totalPages = <%= @studies.total_pages %>;
    var currentPage = '<%= params[:page] %>';
    var order = '<%= params[:order] %>';
    var search = '<%= params[:search_terms] %>';
    var project = '<%= params[:scpbr] %>';
    var activeTab = 'search-studies';

    $('.home-nav-tab').on('shown.bs.tab', function(el) {
        $(window).unbind('scroll');
        activeTab = el.target.toString().split('#')[1];
        console.log('active-tab: ' + activeTab );
        $(window).scroll(bindScroll);
    });

    function bindScroll(){
        if($(window).scrollTop() + $(window).height() > $(document).height() - 1) {
            if ( activeTab === 'search-studies') {
                $(window).unbind('scroll');
                paginateStudies(totalPages, order, search, project);
            } else {
                // event used to submit global gene search form, not attached until search is performed
                $(window).trigger('paginateGeneSearch');
            }
        }
    }

    if ( currentPage === '' && totalPages == 1) {
        $(window).unbind('scroll');
        $("#pagination").toggle();
    }

    $('#pagination').click(function(e) {
        e.preventDefault();
        $(window).unbind('scroll');
        paginateStudies(totalPages, order, search, project);
    });

    if ( search !== '' ) {
        $('#search_terms').val($('<div/>').html(search).text());
    }

    $('#submit-gene-search').on('click', function() {
        if ( $('#search_genes').val() === '' ) {
            alert('Please enter a term before searching.');
            return false;
        } else {
            $(window).unbind('scroll');
            $("#gene-search-results").empty();
            $('#gene-search-results-count').html($('div.gene-panel').length);
            $('#gene-search-studies-count').html($('div.has-gene-results').length);
            var target = document.getElementById('gene-search-results');
            var spinner = new Spinner(opts).spin(target);
            $(target).data('spinner', spinner);
            var requestUrl = '<%= javascript_safe_url("/single_cell/search_all_genes") %>';
            var genes = $('#search_genes').val().split(' ');
            var numGenes = genes.length;
            requestUrl += '?genes=' + genes.join('+') + '&num_genes=' + numGenes;
            gaTrack(requestUrl, 'Single Cell Portal | Global Gene Search');
            $(window).scroll(bindScroll);
            return true;
        }
    });

</script>