<div id="title-bar">
  <%= render partial: 'study_title_bar' %>
</div>
<div id="tab-root">
  <ul class="nav nav-tabs" role="tablist" id="study-tabs">
    <li role="presentation" class="study-nav active" id="study-summary-nav"><a href="#study-summary" data-toggle="tab">Summary <i class="fa fa-fw fa-file-text-o"></i></a></li>
    <li role="presentation" class="study-nav <%= !@study.initialized? ? 'disabled' : nil %>" id="study-visualize-nav"><a href="#study-visualize" data-toggle="<%= @study.initialized? ? 'tab' : '' %>">Explore <i class="fa fa-fw fa-eye"></i></a></li>
    <% if @allow_downloads && user_signed_in? %>
      <li role="presentation" class="study-nav" id="study-download-nav"><a href="#study-download" data-toggle="tab">Download <i class="fa fa-fw fa-download"></i></a></li>
    <% else %>
      <li role="presentation" class="study-nav disabled" id="study-download-nav"><a href="#study-download" data-toggle="tooltip" title="Please login to download">Download <i class="fa fa-fw fa-download"></i></a></li>
    <% end %>
    <% if user_signed_in? && @study.can_edit?(current_user) %>
      <li role="presentation" class="study-nav" id="study-settings-nav"><a href="#study-settings" data-toggle="tab">Settings <i class="fa fa-fw fa-gears"></i></a></li>
    <% end %>
  </ul>
  <div class="tab-content top-pad">
    <div class="tab-pane active" id="study-summary" role="tabpanel">
      <%= render partial: 'study_description_view' %>
    </div>
    <div class="tab-pane" id="study-visualize" role="tabpanel">
      <% if @study.initialized? %>
        <%= render partial: 'study_visualize' %>
      <% end %>
    </div>
    <div class="tab-pane" id="study-download" role="tabpanel">
      <%= render partial: 'study_download_data' %>
    </div>
    <div class="tab-pane" id="study-settings" role="tabpanel">
      <div class="row">
        <div class="col-xs-12" id="study-settings-form-target">
          <%= render partial: 'study_settings_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-study-settings-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Updating Study... Please wait<br/></h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="update-study-settings-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>