<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene Expression for <%= render partial: 'gene_name_list' %></h1>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= render partial: 'expression_heatmap_nav' %>
		<%= render partial: 'gene_search_form' %>
		<%= render partial: 'gene_nav' %>
	</div>
		<%= render partial: 'centered_view' %>
		<%= javascript_tag do %>

			$('#centered').change(function() {
				if ( $(this).prop('checked') ) {
					$.get('<%= javascript_safe_url(render_heatmap_path(study_name: params[:study_name], search: {genes: params[:search][:genes]}, centered: '1')) %>');
				} else {
					$.get('<%= javascript_safe_url(render_heatmap_path(study_name: params[:study_name], search: {genes: params[:search][:genes]}, centered: '0')) %>');
				}
			});

		<% end %>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="heatmap-plot"></div>
	</div>
</div>
<%= javascript_tag do %>

	$(document).ready(function() {
		var dataPath = '<%= javascript_safe_url(load_heatmap_as_gct_url(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
		if ( '<%= params[:cluster] %>' != '' ) {
			dataPath += '&cluster=<%= params[:cluster ]%>';
		};
		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(dataPath, annotPath, '#heatmap-plot');

		$("#cluster").change(function() {
			// re-render Morpheus on cluster selection
			var newDataPath = '<%= javascript_safe_url(load_heatmap_as_gct_url(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
			var centered = $('#centered').val();
			newDataPath += '&centered=' + centered;
			var cluster = $('#cluster').val();
			$("#search_cluster").val(cluster);
			if (cluster != "") {
				newDataPath += '&cluster=' + cluster;

			};

			renderMorpheus(newDataPath, annotPath, '#heatmap-plot');
		});
	});



<% end %>