<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3" id="search-target">
		<%= render partial: 'search_render_options' %>
	</div>
	<div class="col-md-9" id="render-target"><div id="heatmap-plot"></div></div>
</div>


<%= javascript_tag do %>

	$(document).ready(function() {
		var dataPath = '<%= javascript_safe_url(load_heatmap_as_gct_url(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
		if ( '<%= params[:cluster] %>' != '' ) {
			dataPath += '&cluster=<%= params[:cluster ]%>';
		};
		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(dataPath, annotPath, '#heatmap-plot', 'cols');

		$("#cluster, #centered").change(function() {
			// re-render Morpheus on cluster selection
			var newDataPath = '<%= javascript_safe_url(load_heatmap_as_gct_url(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
			var centered = $('#centered').prop('checked') ? 1 : 0;
			newDataPath += '&centered=' + centered;
			var cluster = $('#cluster').val();
			$("#search_cluster").val(cluster);
			if (cluster != "") {
				newDataPath += '&cluster=' + cluster;

			};

			renderMorpheus(newDataPath, annotPath, '#heatmap-plot', 'cols');
		});
	});



<% end %>