<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene Expression for all genes</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3" id="search-target">
		<%= render partial: 'search_render_options' %>
	</div>
	<div class="col-md-9" id="render-target">
		<div id="heatmap-plot"></div>
	</div>
</div>

<%= javascript_tag do %>

	$('#centered').change(function() {
		if ( $(this).prop('checked') ) {
			var newDataPath = '/data/<%= @study.url_safe_name %>/<%= @study.url_safe_name %>_row_centered.gct'
		} else {
			var newDataPath = '/data/<%= @study.url_safe_name %>/<%= @study.url_safe_name %>.gct'
		}

		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(newDataPath, annotPath, '#heatmap-plot', false);
	});

	$(document).ready(function() {

		if ( <%= params[:centered].to_i %> == 1 ) {
			var dataPath = '/data/<%= @study.url_safe_name %>/<%= @study.url_safe_name %>_row_centered.gct'
		} else {
			var dataPath = '/data/<%= @study.url_safe_name %>/<%= @study.url_safe_name %>.gct'
		}
		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(dataPath, annotPath, '#heatmap-plot', false);
	});

<% end %>