<div class="row">
	<div class="col-md-10">
		<h1>Gene Expression for <em><%= @genes.map {|g| link_to g.gene, "http://www.ncbi.nlm.nih.gov/gene/?term=#{g.gene}[sym]", 'data-toggle' => 'tooltip', title: "Search Entrez for '#{g.gene}'", 'data-placement' => 'right'}.join(', ').html_safe %></em> across <%= params[:cluster] ? "cluster: #{params[:cluster]}" : 'all major cell types' %></h1>
	</div>
	<div class="col-md-2">
		<%= render partial: 'back_link' %>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= render partial: 'expression_heatmap_nav' %>
		<%= render partial: 'gene_search_form' %>
		<%= render partial: 'centered_view' %>
		<%= render partial: 'gene_nav' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12" id="heatmap-plot">

	</div>
</div>
<%= javascript_tag do %>

	$(document).ready(function() {
		var dataPath = '<%= javascript_safe_url(load_heatmap_as_gct_url(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
		if ( '<%= params[:cluster] %>' != '' ) {
			dataPath += '&cluster=<%= params[:cluster ]%>';
		};
		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(dataPath, annotPath, '#heatmap-plot');

	});

<% end %>