<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3" id="search-target">
		<%= render partial: 'search_render_options' %>
	</div>
	<div class="col-md-9" id="render-target">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h4><%= link_to "Expression Heatmap <span class='fa fa-chevron-down'></span>".html_safe, '#plots', 'data-toggle' => 'collapse' %> <%= render partial: 'show_options_button' %></h4>
				</div>
			</div>
			<div id="plots" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="col-md-12">
						<div id="heatmap-plot"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%= javascript_tag do %>

	$(document).ready(function() {
		var dataPath = '<%= javascript_safe_url(expression_query_path(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
		if ( '<%= params[:cluster] %>' != '' ) {
			dataPath += '&cluster=<%= params[:cluster ]%>';
		};
		var annotPath = '/data/<%= @study.url_safe_name %>/CLUSTER_AND_SUBCLUSTER_INDEX.txt';
		renderMorpheus(dataPath, annotPath, '#heatmap-plot', 'both');

		$("#cluster, #row_centered").change(function() {
			// re-render Morpheus on cluster selection
			var newDataPath = '<%= javascript_safe_url(expression_query_path(study_name: params[:study_name], search: {genes: params[:search][:genes] })) %>';
			var row_centered = $('#row_centered').prop('checked') ? 1 : 0;
			newDataPath += '&row_centered=' + row_centered;
			var cluster = $('#cluster').val();
			$("#search_cluster").val(cluster);
			if (cluster != "") {
				newDataPath += '&cluster=' + cluster;

			};

			renderMorpheus(newDataPath, annotPath, '#heatmap-plot', 'both');
		});
	});



<% end %>