<div class="row">
	<div class="col-md-12">
		<h1 class="study-lead">Gene<%= action_name =~ /set/ ? ' Set' : nil %> Expression for <%= render partial: 'gene_name_list' %><%= render partial: 'missing_genes' %></h1>
		<% if action_name =~ /set/ %>
			<h3 class="help-block lead">Expression scores are shown as a mean-centered average across all genes for each cell.</h3>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-3" id="search-target">
		<%= render partial: 'search_options' %>
	</div>
	<div class="col-md-9" id="render-target">
		<%= render partial: 'view_options' %>
		<div id="expression-plots">
			<%= render partial: 'expression_plots_view' %>
		</div>
	</div>
</div>

<%= javascript_tag do %>

	<%= render partial: 'expression_plots_plotly' %>

	// listener for cluster nav, specific to expression pages
	$("#cluster").change(function() {
		var url = '<%= params[:gene] ? render_gene_expression_plots_path(study_name: params[:study_name], gene: params[:gene]) : render_gene_set_expression_plots_path(study_name: params[:study_name], gene_set: params[:gene_set]) %>';
		var target1 = document.getElementById('box-plot');
		var target2 = document.getElementById('scatter-plot');
		var target3 = document.getElementById('reference-plot');

		var spinner1 = new Spinner(opts).spin(target1);
		var spinner2 = new Spinner(opts).spin(target2);
		var spinner3 = new Spinner(opts).spin(target3);
		$(target1).data('spinner', spinner1);
		$(target2).data('spinner', spinner2);
		$(target3).data('spinner', spinner3);
		var cluster = $('#cluster').val();
		$("#search_cluster").val(cluster);
		if (cluster == "") {
			$.get(url);
		} else {
			var delimeter = "<%= params[:gene] ? "?".html_safe : "&".html_safe %>";
			$.get(url + delimeter + 'cluster=' + cluster);
		}
	});

<% end %>