<div class="well well-sm">
	<div class="form-group row">
		<div class="col-sm-6">
			<%= f.label :email %>
        <% if !f.object.new_record? %>
          <span class="fa fa-exclamation-triangle text-danger" data-toggle="tooltip" data-placement="right" title="Editing share emails is not permitted.  If the email is incorrect, please delete the share and create a new one."></span>
        <% end %>
      <br />
			<%= f.text_field :email, class: 'form-control share-email', readonly: !f.object.new_record? %>
		</div>
		<div class="col-sm-5">
			<%= f.label :permission %><br />
			<%= f.select :permission, options_for_select(UserAnnotationShare::PERMISSION_TYPES, f.object.permission), {}, class: 'form-control share-permission' %>
		</div>
		<div class="col-sm-1">
			<%= f.label :delete, "&nbsp;".html_safe %><br />
			<%= f.link_to_remove "<span class='btn btn-sm btn-danger'><span class='fa fa-times'></span></span>".html_safe, data: {confirm: 'Are you sure?  This cannot be undone unless you reload the page before saving.'} %>
		</div>
	</div>
</div>