<div class="tab-pane container-fluid " id="deployment">
  <h3>Deployment Notification</h3>
  <div class="well ">
    <% if @deployment_notification.errors.any? %>
      <div class="row bs-callout bs-callout-danger">
        <ul>
          <% @deployment_notification.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(@deployment_notification, url: create_deployment_notification_path, html: {id: 'create_deployment_notification-form', class: 'form-inline', data: {remote:true}} ) do |f| %>
      <% if !!DeploymentNotification.first %>
        <div class="row" id="deployment-form-group">
          <div class="col-md-6 text-right form-group">
          <%= f.label :deployment_time, "Deployment Start Time:" %>
          <%= f.datetime_field :deployment_time, :disabled => true, :class=> "form-control"%>
          </div>
          <div class="col-md-6 form-group" >
              <label id='display-time-label'>Display Time: </label>
              <span id="display-time"><%= @deployment_notification.display_time.strftime("%a %b %d, %Y %I:%M%p")%> EST </span>
          </div>
        </div>
        <div class="row " id ="message-area">
          <div class="col-md-1 col-md-offset-3">
            <label>Message</label>
          </div>
          <div class="col-md-5" >
          <%= f.text_area :message, :disabled =>true, :class=> "form-control"%>
          </div>
        </div ></br>
        <div class="text-center">
        <%= link_to "<i class='fas fa fa-trash'></i> Delete Notification".html_safe, delete_deployment_notification_path, class: 'btn btn-lg btn-danger', method: :delete%></div>
        </div>
      <%else %>
        <div class="row" id="deployment-form-group">
          <div class="col-md-6 text-right form-group">
            <%= f.label :deployment_time, "Deployment Start Time:" %>
            <%= f.datetime_field :deployment_time, :value =>Time.now.strftime("%Y-%m-%dT%H:%M"), :class=> "form-control", :required => 'required'%>
          </div>
          <div class="col-md-6 form-group">
            <label id="display-time-label">Display Time:</label>
            <span id="display-time"><%= (Time.now - 4.hours).strftime("%a %b %d, %Y %I:%M%p")%></span>
          </div>
        </div>
        <div class="row " id = "message-area">
          <div class="col-md-1 col-md-offset-3 ">
            <label class ="form-group">Message:</label>
          </div>
          <div class="col-md-5" >
            <%= f.text_area :message, :value => "Single Cell Portal will be undergoing scheduled maintenance. During this time users may experience slowness or temporary downtime.",
                            :required => 'required', :class=> "form-control" %>
          </div>
        </div></br>
        <div class="text-center">
          <%= f.submit 'Schedule', class: 'btn btn-lg btn-success submit_btn',   id: 'save-deployment-notifcation' %>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    $('#deployment_notification_deployment_time').change(function() {
        let deploymentTime = new Date($(this).val());
        deploymentTime.setHours(deploymentTime.getHours() -4 )  // 4 hours in milliseconds
        $('#display-time').text(deploymentTime.toString())
    });
    $(document).ready(function() {
        let error_block = document.getElementsByClassName('has-error');
        if (error_block.length >0 ){
            $('.has-error').css(
                "display", "inline-block"
            )
        }
    });
</script>
