<div class="well well-lg">
  <%= nested_form_for(@admin_configuration, html: {multipart: true}) do |f| %>
    <% if @admin_configuration.errors.any? %>
      <div class="bs-callout bs-callout-danger">
        <h4><%= pluralize(@admin_configuration.errors.count, "error") %> prohibited this Admin Configuration from being saved:</h4>

        <ul>
          <% @admin_configuration.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :config_type, 'Configuration Type' %><br>
        <%= f.select :config_type, options_for_select(AdminConfiguration::CONFIG_TYPES, f.object.config_type), {}, {class: 'form-control', disabled: !@admin_configuration.new_record?} %>
      </div>
      <div class="col-sm-3">
        <%= f.label :value_type, 'Type of Value' %><br>
        <%= f.select :value_type, options_for_select(AdminConfiguration::VALUE_TYPES, f.object.value_type), {}, class: 'form-control', disabled: !@admin_configuration.new_record? %>
      </div>
      <div class="col-sm-3" id="value-options">
        <% if @admin_configuration.value_type == 'Boolean' %>
            <%= render partial: 'config_value_select', locals: {f: f} %>
          <% else %>
            <%= render partial: 'config_value_text', locals: {f: f} %>
          <% end %>
      </div>
      <div class="col-sm-3" id="extra-info" style="display: <%= @admin_configuration.value_type == 'Numeric' || @admin_configuration.value_type.nil? ? 'block' : 'none' %>;">
        <%= f.label :multiplier, "Byte Operator <i class='fas fa-question-circle'></i>".html_safe, title: 'Convert a numeric value into a byte value using this multiplier', data: {toggle: 'tooltip'} %><br/>
        <%= f.select :multiplier, options_for_select(AdminConfiguration::NUMERIC_VALS, f.object.multiplier), {include_blank: 'None/As Typed'}, class: 'form-control'%>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.label :options, 'Additional Options (key/value pairs, names must be unique)' %>
        <%= f.fields_for :configuration_options %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.link_to_add "<span class='fas fa-plus'></span> Add options".html_safe, :configuration_options, class: 'btn btn-sm btn-primary',
                          id: 'add-configuration-option' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <%= f.submit 'Save Configuration', class: 'btn btn-success', id: 'save-configuration' %>
      </div>
    </div>

    <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">

        $('#admin_configuration_value_type').change(function() {
            var val = $(this).val();
            if (val == 'Numeric') {
                $('#extra-info').show();
                $('#value-options').html("<%= escape_javascript(render partial: 'config_value_text', locals: {f: f}) %>")
            } else if (val == 'Boolean') {
                $('#admin_configuration_mulitplier').val('');
                $('#extra-info').hide();
                $('#value-options').html("<%= escape_javascript(render partial: 'config_value_select', locals: {f: f}) %>")
            } else {
                $('#admin_configuration_mulitplier').val('');
                $('#extra-info').hide();
                $('#value-options').html("<%= escape_javascript(render partial: 'config_value_text', locals: {f: f}) %>")
            }
        });
    </script>
  <% end %>
</div>

