<h1>Editing <em><%= @user.email %></em> roles</h1>

<%= form_for(@user, url: update_user_path(@user.id), html: {class: 'form'}) do |f| %>
  <% if @user.errors.any? %>
    <div class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id, value: @user.id %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :email %><br/>
      <%= f.text_field :email, class: 'form-control', disabled: true %>
    </div>
    <div class="col-md-3">
      <%= f.label :admin, "Admin Access <i class='fas fa-question-circle'></i>".html_safe, title: 'Grant administrative access.  Admins have access to all site functionality and can view all studies.', data: {toggle: 'tooltip'} %><br/>
      <%= f.select :admin, options_for_select([['Yes',1],['No',0]], @user.admin? ? 1 : 0), {}, class: 'form-control' %>
    </div>
    <div class="col-md-3">
      <%= f.label :reporter, "Reporter Access <i class='fas fa-question-circle'></i>".html_safe, title: 'Grant access to reports section.  Admins have access by default.', data: {toggle: 'tooltip'} %><br/>
      <%= f.select :reporter, options_for_select([['Yes',1],['No',0]], @user.reporter? ? 1 : 0), {}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <label>Feature flags</label>
    </div>
    <% @user.feature_flags_with_defaults.each do |key, value| %>
      <div class="row <%= @user.feature_flags.key?(key) ? 'highlight' : '' %>">
        <div class="col-md-3 text-right">
          <label><%= key %>:</label>
        </div>
        <div class="col-md-6">
          <select name="feature_flag_<%= key %>">
            <option value="0" <%= @user.feature_flags[key] == false ? 'selected' : '' %>>False</option>
            <option value="1" <%= @user.feature_flags[key] == true ? 'selected' : '' %>>True</option>
            <option value="-" <%= @user.feature_flags.key?(key) ? '' : 'selected' %>>Default (<%= User::DEFAULT_FEATURE_FLAGS[key] %>)</option>
          </select>
        </div>
      </div>
     <% end %>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= f.submit 'Update User', class: 'btn btn-lg btn-success', id: 'save-user' %>
    </div>
  </div>

<% end %>
<div class="row">
  <div class="col-md-12">
    <%= link_to "<span class='fas fa-chevron-left'></span> Back".html_safe, admin_configurations_path, class: 'btn btn-warning' %>
  </div>
</div>
