<h1>Admin Control Panel</h1>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <div class="well">
        <h4><i class="fa fa-cog"></i> Configuration Options</h4>
        <table class="table table-striped" id="config">
          <thead>
            <tr>
              <th>Type</th>
              <th>Value</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @admin_configurations.each do |config| %>
              <tr>
                <td class="config-type"><%= config.config_type %></td>
                <td><%= config.display_value.html_safe %></td>
                <td>
                  <%= link_to "<span class='fa fa-edit'></span> Edit".html_safe, edit_admin_configuration_path(config), class: "btn btn-xs btn-primary #{config.url_safe_name}-edit" %>
                  <%= link_to "<span class='fa fa-trash'></span> Delete".html_safe, config, method: :delete, class: "btn btn-xs btn-danger delete-btn #{config.url_safe_name}-delete" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p><%= link_to "<span class='fa fa-plus'></span> New Config Option".html_safe, new_admin_configuration_path, class: 'btn btn-success', id: 'create-new-configuration' %>&nbsp;</p>
      </div>
    </div>
    <p>
      <%= link_to "<span class='fa fa-refresh'></span> Reset User Download Quotas".html_safe, reset_user_download_quotas_path, class: 'btn btn-lg btn-primary', id: 'reset-user-download-quotas', data: {remote: true} %>
      <%= link_to "<span class='fa fa-exclamation-circle'></span> MANAGE FIRECLOUD ACCESS".html_safe, '#', class: 'btn btn-lg btn-danger pull-right panic', id: 'show-panic-modal' %>
    </p>
  </div>
</div>

<div class="modal fade" id="panic-modal" role="dialog" aria-labelledby="sync-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center text-danger">MANAGE FIRECLOUD ACCESS</h4>
      </div>
      <div class="modal-body">
          <p class="lead text-center">FireCloud Access is currently: <%= @download_status_label %></p>
        <p class="lead text-danger">Clicking 'Disable All Access' will revoke all user permissions to workspaces, thereby preventing any users from uploading/downloading data or running computes.  As a result, access to updating studies will be disabled.</p>
        <p class="lead text-danger">Clicking 'Disable Compute Access' will set all user permissions for workspaces to Read Only, thereby preventing any users from uploading data or running computes.  Users can still download data.  Access to updating studies will be still be disabled.</p>
          <p class="lead text-danger text-center"><strong>Are you sure you wish to proceed?</strong></p>
          <div class="row">
            <%= form_for(:firecloud_access, url: manage_firecloud_access_path, html: {class: 'form', id: 'firecloud-status-form'}) do |f| %>
              <%= f.hidden_field :status, value: @current_firecloud_status %>
              <div class="col-md-4">
                <%= link_to "Disable All Access".html_safe, 'javascript:;', class: "btn btn-lg btn-block btn-danger #{@current_firecloud_status == 'off' ? 'disabled' : 'firecloud-status'}", id: 'disable-firecloud-access', method: :post, data: {dismiss: @current_firecloud_status == 'off' ? nil : 'modal', status: 'off'} %>
              </div>
              <div class="col-md-4">
                <%= link_to "Disable Compute Access".html_safe, 'javascript:;', class: "btn btn-lg btn-block btn-warning #{@current_firecloud_status == 'readonly' ? 'disabled' : 'firecloud-status'}", id: 'disable-compute-access', method: :post, data: {dismiss: @current_firecloud_status == 'readonly' ? nil : 'modal', status: 'readonly'} %>
              </div>
              <div class="col-md-4">
                <%= link_to "Enable All Access".html_safe, 'javascript:;', class: "btn btn-lg btn-block btn-success #{@current_firecloud_status == 'on' ? 'disabled' : 'firecloud-status'}", id: 'enable-firecloud-access', method: :post, data: {dismiss: @current_firecloud_status == 'on' ? nil : 'modal', status: 'on'} %>
              </div>
            <% end %>
          </div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="working-modal" role="dialog" aria-labelledby="sync-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Working... Please Wait</h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#config').dataTable({
        pagingType: "full_numbers",
        order: [[0, 'asc']],
        language: {
            search: "Filter Results By: "
        }
    });

    // ask user to confirm delete, then show modal
    // use event delegation to attach to all delete-btn regardless
    // of whether they are visible yet or not
    $('#config').on('click', '.delete-btn', function(){
        // get name of study for confirmation
        var config = $(this).parent().parent().find('.config-type').text();
        if ( confirm('Are you sure you want to delete \"' + config + '\"?')) {
            showModalSpinner('#delete-modal');
        } else {
            return false;
        }
    });

    $('.panic').click(function() {
       $('#panic-modal').modal({show: true, backdrop: 'static'});
    });

    $('#reset-user-download-quotas').click(function(){
        $('#working-modal .spinner-target').empty();
        showModalSpinner('#working-modal');
        $.get("<%= reset_user_download_quotas_path %>");
    });

    $('.firecloud-status').click(function() {
        var statusSetting = $(this).data('status');
        var statusForm = $('#firecloud-status-form');
        $('#panic-modal').on('hidden.bs.modal', function() {
            showModalSpinner('#working-modal');
            statusForm.find('#firecloud_access_status').val(statusSetting);
            statusForm.submit();
        });
    });
</script>