<h1>Reports</h1>
<h3 class="lead">Updated as of <%= DateTime.now.strftime("%A, %B %-d %Y %r") %></h3>
<div class="row">
  <div class="col-md-6">
    <div id="plotly-study-count"></div>
  </div>
  <div class="col-md-6">
    <div id="plotly-cell-count"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="plotly-study-cell-dist"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="plotly-private-study-age-dist"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div id="plotly-study-share-dist"></div>
  </div>
  <div class="col-md-6">
    <div id="plotly-user-study-dist"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="plotly-study-email-domain-dist"></div>
  </div>
</div>

<script type="text/javascript">

    Plotly.newPlot('plotly-study-count',
        [{
            x: ['Public', 'Private'],
            y: [<%= @public_studies.size %>, <%= @private_studies.size %>],
            type: 'bar',
            marker: {
                color: colorBrewerSet[0]
            }
        }],
        {
            title: 'Study counts by type<br><b>Total: ' + <%= @all_studies.size %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

    Plotly.newPlot('plotly-cell-count',
        [{
            x: ['Public', 'Private'],
            y: [<%= @public_studies.map(&:cell_count).reduce(:+) %>, <%= @private_studies.map(&:cell_count).reduce(:+) %>],
            type: 'bar',
            marker: {
                color: colorBrewerSet[1]
            }
        }],
        {
            title: 'Cell counts by type<br><b>Total: ' + <%= @all_studies.map(&:cell_count).reduce(:+) %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

    var cellDistData = [];
    <% @cell_count_bin_dist.each_with_index do |(key, vals), index| %>
      var trace<%= index%> = {
          x: <%= raw vals.keys %>,
          y: <%= raw vals.values %>,
          type: 'bar',
          name: '<%= key %>',
          marker: {
              color: colorBrewerSet[<%= index + 2 %>]
          }
      }
      cellDistData.push(trace<%= index %>);
    <% end %>

    Plotly.newPlot('plotly-study-cell-dist', cellDistData,
        {
            title: 'Distribution of study cells counts<br><b>Average: ' + <%= @cell_avg.round %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5,
            barmode: 'stack',
            annotations: loadBarChartAnnotations(cellDistData)
        }
    );

    Plotly.newPlot('plotly-private-study-age-dist', formatPlotlyHistogramData(<%= raw @private_study_age_dist %>, 4),
        {
            title: 'Distribution of private study ages (in weeks)<br><b>Average: ' + <%= @private_dist_avg.round(2) %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

    Plotly.newPlot('plotly-study-share-dist', formatPlotlyHistogramData(<%= raw @collab_dist %>, 5),
        {
            title: "Distribution of number of collaborators per study <br><b>Average: " + <%= @collab_dist_avg.round(2) %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

    Plotly.newPlot('plotly-user-study-dist', formatPlotlyHistogramData(<%= raw @user_study_dist %>, 7),
        {
            title: 'Distribution of number of studies per user<br><b>Average: ' + <%= @user_study_avg.round(2) %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

    Plotly.newPlot('plotly-study-email-domain-dist',
        [{
            x: <%= raw @user_study_email_dist.keys %>,
            y: <%= raw @user_study_email_dist.values %>,
            type: 'bar',
            marker: {
                color: colorBrewerSet[8]
            }
        }],
        {
            title: 'Distribution of studies by user email domain<br><b>Average: ' + <%= @email_domain_avg.round %> + '</b>',
            titlefont: plotlyTitleFont,
            bargap: 0,
            bargroupgap: 0.5
        }
    );

</script>