<nav class="navbar fluid navbar-inverse navbar-fixed-top sc-navbar rectangle" role="navigation" id="single-cell-navbar">
   <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    <% if @selected_branding_group.present? %>
      <%= scp_link_to "<span class='fas fa-home'></span> #{@selected_branding_group.name}</sup>".html_safe, site_path, class: "navbar-brand hidden-xs check-upload", style: 'margin-top: 6px;' %>
    <% else %>
      <%= link_to image_tag('SCP-white.png'), site_path, class: "navbar-brand hidden-xs check-upload" %><small id="beta-nav"><sup>BETA</sup></small>
    <% end %>
	</div>
	<div class="collapse navbar-collapse">
		<%= render partial: '/layouts/breadcrumbs' %>
		<ul class="nav navbar-nav pull-right">
			<li class='dropdown'><%= scp_link_to "<span class='fas fa-question-circle'></span> Help <span class='caret'></span>".html_safe, "#", class: "dropdown-toggle", "data-toggle" => "dropdown" %>
				<ul class="dropdown-menu dropdown-menu-right">
          <li><%= scp_link_to "<span class='fas fa-fw fa-lock'></span> Privacy Policy".html_safe, privacy_policy_path, class: 'check-upload' %></li>
          <li><%= scp_link_to "<span class='fas fa-fw fa-balance-scale'></span> Terms of Service".html_safe, terms_of_service_path, class: 'check-upload' %></li>
          <li><%= link_to "<span class='fas fa-fw fa-info-circle'></span> Documentation/Wiki".html_safe, 'https://github.com/broadinstitute/single_cell_portal/wiki', target: '_blank' %></li>
          <li><%= link_to "<span class='fas fa-fw fa-exclamation-circle'></span> Issues".html_safe, 'https://github.com/broadinstitute/single_cell_portal/issues', target: '_blank' %></li>
          <li><%= link_to "<span class='fab fa-fw fa-github'></span> Portal Source Code".html_safe, 'https://github.com/broadinstitute/single_cell_portal_core', target: '_blank' %></li>
          <li><%= link_to "<span class='fas fa-fw fa-code'></span> REST API Documentation".html_safe, api_swagger_ui_engine_path, target: '_blank' %></li>
				</ul>
			</li>
			<% if user_signed_in? %>
				<li class="dropdown"><%= scp_link_to "<span class='fas fa-user'></span> #{current_user.email.split('@').first} <span class='caret'></span>".html_safe, "#", class: "dropdown-toggle left-border-0-5", "data-toggle" => "dropdown", id: 'profile-nav' %>
					<ul class="dropdown-menu dropdown-menu-right">
            <% if current_user.admin? %>
              <li><%= link_to "<span class='fas fa-lock fa-fw'></span> Admin Config".html_safe, admin_configurations_path, class: 'check-upload', id: 'admin-nav' %></li>
              <li><%= link_to "<span class='fas fa-flask fa-fw'></span> Analyses".html_safe, analysis_configurations_path, class: 'check-upload', id: 'analysis-nav' %></li>
              <li><%= link_to "<span class='fas fa-dna fa-fw'></span> Species".html_safe, taxons_path, class: 'check-upload', id: 'species-nav' %></li>
              <li><%= scp_link_to "<span class='fas fa-copyright fa-fw'></span> Branding Groups".html_safe, branding_groups_path, class: 'check-upload', id: 'branding-groups-nav' %>
            <% end %>
            <% if current_user.acts_like_reporter? %>
              <li><%= link_to "<span class='fas fa-chart-area fa-fw'></span> Reports".html_safe, reports_path, class: 'check-upload', id: 'reports-nav' %></li>
              <li role="separator" class="divider"></li>
            <% end %>
            <li><%= scp_link_to "<span class='fas fa-user fa-fw'></span> My Profile".html_safe, view_profile_path(current_user.id), class: 'check-upload', id: 'my-profile' %></li>
            <li><%= scp_link_to "<span class='fas fa-tags fa-fw'></span> My Annotations".html_safe, user_annotations_path, class: 'check-upload', id: 'my-annotations' %></li>
            <li><%= scp_link_to "<span class='fas fa-book fa-fw'></span> My Studies".html_safe, studies_path, class: 'check-upload', id: 'my-studies' %>
            <li><%= scp_link_to "<span class='fas fa-dollar-sign fa-fw'></span> My Billing Projects".html_safe, billing_projects_path, class: 'check-upload', id: 'my-firecloud-projects' %>
						<li><%= scp_link_to "<span class='fas fa-plus fa-fw'></span> Add a Study".html_safe, new_study_path, class: 'check-upload' %></li>
            <% if current_user.available_branding_groups.any? %>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">My Brands</li>
              <% current_user.available_branding_groups.each do |branding_group| %>
                <li id="<%= branding_group.name_as_id %>-nav"><%= link_to "<i class='fas fa-copyright fa-fw'></i> #{branding_group.name}".html_safe, site_path(scpbr: branding_group.name_as_id) %></li>
              <% end %>
            <% end %>
            <% if @selected_branding_group.present? %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "<i class='fas fa-chevron-circle-left fa-fw'></i> Return to Single Cell Portal".html_safe, site_path %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= scp_link_to "<span class='fas fa-sign-out-alt fa-fw'></span> Sign Out".html_safe, destroy_user_session_path, method: :delete, class: 'check-upload', id: 'logout-nav' %></li>
          </ul>
				</li>
			<% else %>

				<li><%= scp_link_to "<span class='fas fa-sign-in-alt fa-fw'></span> Sign In".html_safe, user_google_oauth2_omniauth_authorize_path, class: 'left-border-0-5', id: 'login-nav' %></li>
			<% end %>
		</ul>
	</div>
  <% if @deployment_notification.present?%>
    <% if Time.zone.now >= @deployment_notification.display_time%>
    <div class="notification-banner">
      <button type="button" class="close" id='close-notification-banner' aria-label="Close" style="padding-right: 10px;">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="col-sm-3">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <span>Service Alert: Starting on</span></br>
        <span><%= @deployment_notification.deployment_time.strftime("%a %b %d, %Y %I:%M %p") %> ET</span>
      </div>
      <div >
        <span class="align-middle"><%= @deployment_notification.message %></span>
      </div>

    </div>
    <%end %>
    <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
        $('#close-notification-banner').click(function() {
            $(".notification-banner").hide();
            if ( typeof Cookies.get('hide_deployment_notification') === 'undefined' ) {
                Cookies.set('hide_deployment_notification', 'true')
            }
        });
        $(document).ready(function() {
            if ( typeof Cookies.get('hide_deployment_notification') !== 'undefined' ) {
                $(".notification-banner").hide();
            }
        });
    </script>
  <%end %>
</nav>
