<nav class="navbar fluid navbar-inverse navbar-fixed-top sc-navbar" role="navigation" id="single-cell-navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "<span class='fa fa-home'></span> Single Cell Portal <sup class='text-danger'><small>BETA</small></sup>".html_safe, site_path, class: "navbar-brand hidden-xs check-upload" %>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<% set_breadcrumbs.each do |breadcrumb| %>
				<li><%= link_to "<span class='fa fa-chevron-right'></span> 	#{breadcrumb[:title]}".html_safe, breadcrumb[:link], class: 'check-upload' %></li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to "<span class='fa fa-sign-out'></span> Logout: #{current_user.email.split('@').first}".html_safe, destroy_user_session_path, method: :delete, class: 'check-upload' %></li>
			<% end %>
			<li><%= link_to "<span class='fa fa-plus'></span> Add a Study".html_safe, new_study_path, class: 'check-upload' %>
			<li><%= link_to "<span class='fa fa-book'></span> My Studies".html_safe, studies_path, class: 'check-upload', id: 'my-studies' %>
		</ul>
	</div>
</nav>
