<nav class="navbar fluid navbar-inverse navbar-fixed-top sc-navbar" role="navigation" id="single-cell-navbar">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to "<span class='fa fa-home'></span> Single Cell Portal<sup class='text-danger'><small> BETA</small></sup>".html_safe, site_path, class: "navbar-brand hidden-xs check-upload" %>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<% set_breadcrumbs.each do |breadcrumb| %>
				<li><%= link_to "<span class='fa fa-chevron-right'></span> 	#{breadcrumb[:title]}".html_safe, breadcrumb[:link], class: 'check-upload' %></li>
			<% end %>
		</ul>
		<ul class="nav navbar-nav pull-right">
			<li class='dropdown'><%= link_to "<span class='fa fa-question-circle'></span> Help <span class='caret'></span>".html_safe, "#", class: "dropdown-toggle", "data-toggle" => "dropdown" %>
				<ul class="dropdown-menu dropdown-menu-right">
					<li><%= link_to "<span class='fa fa-info-circle fa-fw'></span> Documentation/Wiki".html_safe, 'https://github.com/broadinstitute/single_cell_portal/wiki', class: 'check-upload', target: '_blank' %></li>
					<li><%= link_to "<span class='fa fa-github fa-fw'></span> Issues".html_safe, 'https://github.com/broadinstitute/single_cell_portal/issues', class: 'check-upload', target: '_blank' %></li>
				</ul>
			</li>
			<% if user_signed_in? %>
				<li class="dropdown"><%= link_to "<span class='fa fa-user'></span> #{current_user.email.split('@').first} <span class='caret'></span>".html_safe, "#", class: "dropdown-toggle", "data-toggle" => "dropdown", id: 'profile-nav' %>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><%= link_to "<span class='fa fa-sign-out fa-fw'></span> Logout".html_safe, destroy_user_session_path, method: :delete, class: 'check-upload', id: 'logout-nav' %></li>
						<li><%= link_to "<span class='fa fa-book fa-fw'></span> My Studies".html_safe, studies_path, class: 'check-upload', id: 'my-studies' %>
						<li><%= link_to "<span class='fa fa-plus fa-fw'></span> Add a Study".html_safe, new_study_path, class: 'check-upload' %></li>
					</ul>
				</li>
			<% else %>
				<li><%= link_to "<span class='fa fa-sign-in fa-fw'></span> Login".html_safe, new_user_session_path, id: 'login-nav' %></li>
			<% end %>
		</ul>
	</div>
</nav>
