<!DOCTYPE html>
<html>
<head>
  <title>Single Cell Portal</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= nonced_javascript_include_tag "https://cdn.plot.ly/plotly-1.39.3.min.js" %>
  <%= nonced_javascript_pack_tag 'application' %>
  <%= nonced_javascript_include_tag 'application' %>
  <%= nonced_javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.15/sorting/natural.js" %>

  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
      <%= render '/layouts/ga_script.js' %>
  </script>


	<% if Rails.env == 'production' %>
    <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
        // suppress logging in production
        var console = { log: function() {} };
    </script>
	<% end %>

  <% if @selected_branding_group.present? %>
    <style type="text/css">
      body {
        background-color: <%= @selected_branding_group.background_color %> !important;
        color: <%= @selected_branding_group.font_color %> !important;
        font-family: <%= @selected_branding_group.font_family %> !important;
      }
    </style>
  <% end %>
</head>
<body <%= @selected_branding_group.present? ? "data-branding-id=#{@selected_branding_group.name_as_id}" : nil %>>
<%= render '/layouts/nav' %>
<div id="notices-target">
  <%= render '/layouts/notices' %>
</div>
<div class="container-fluid" id="wrap">
	<div class="row section-pad" id="main-body">
		<div class="col-md-12">
			<%= yield %>
		</div>
	</div>
</div>
<div class="modal fade" id="loading-modal" role="dialog" aria-labelledby="loading-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Loading... Please Wait</h4>
      </div>
      <div class="modal-body">
        <div id="spinner_target"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-modal" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Deleting... Please Wait</h4>
			</div>
			<div class="modal-body">
				<div class="spinner-target" id="delete-modal-spinner"></div>
			</div>
			<div class="modal-footer">
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="generic-modal" role="dialog" aria-labelledby="generic-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="generic-modal-title" class="text-center"></h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="generic-modal-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>
<div id="generic-update-target"></div>
<div class="footer container-fluid">
	<div class="row">
		<div class="col-md-offset-4 col-md-4 text-center">
			<%= link_to image_tag("broad-logo.png", class: "center-block img-responsive"), "http://www.broadinstitute.org" %>
			<p class="text-muted">&copy; <%= Date.today.year %> The Broad Institute of MIT & Harvard</p>
      <p class="text-muted"><%= scp_link_to 'Privacy Policy', privacy_policy_path %></p>
      <% if @selected_branding_group.present? %>
        <small class="text-muted"><%= link_to "<i class='fas fa-chevron-circle-left fa-fw'></i> Return to Single Cell Portal".html_safe, site_path %></small>
      <% end %>
		</div>
	</div>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    // variable used mostly for testing
    PAGE_RENDERED = true;

    // enable default behaviors
    enableDefaultActions();

    // listener to track downloads for reporting
    $('.dl-link').click(function() {
        var url = $(this).attr('href');
        $.ajax({
            url: '<%= log_action_path %>?url_string=' + url,
            dataType: 'script'
        });
    });
</script>
</body>
</html>
