<!DOCTYPE html>
<html>
<head>
  <title>Single Cell Portal</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= javascript_include_tag '//software.broadinstitute.org/morpheus/js/morpheus-latest.min.js' %>
  <%= javascript_include_tag '//software.broadinstitute.org/morpheus/js/morpheus-external-latest.min.js' %>
  <%= stylesheet_link_tag    '//software.broadinstitute.org/morpheus/css/morpheus-latest.min.css', media: 'screen' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

	<% if Rails.env == 'production' %>
		<%= render '/layouts/ga_script' %>
	<% end %>
</head>
<body>
<%= render '/layouts/nav' %>
<%= render '/layouts/notices' %>
<div class="container-fluid" id="wrap">
	<div class="row section-pad" id="main-body">
		<div class="col-md-12">
			<%= yield %>
		</div>
	</div>
</div>
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="loading-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Deleting... Please Wait</h4>
			</div>
			<div class="modal-body">
				<div class="spinner-target"></div>
			</div>
			<div class="modal-footer">
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>
<div class="footer container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">

			<%= link_to image_tag("broad-logo.png", class: "center-block img-responsive"), "http://www.broadinstitute.org" %>
			<p class="text-muted">&copy; <%= Date.today.year %> The Broad Institute of MIT & Harvard</p>
		</div>
	</div>
</div>
</body>
</html>
