<!DOCTYPE html>
<html>
<head>
  <title>Single Cell Portal</title>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
      // if we had search forms to preserve, recall and resubmit
      if ( localStorage.getItem('previous-search-url') ) {
          var searchUrl = localStorage.getItem('previous-search-url');
          localStorage.removeItem('previous-search-url');
          window.location = searchUrl;
      }
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= nonced_javascript_include_tag "https://cdn.plot.ly/plotly-1.47.4.min.js" %>
  <%= nonced_javascript_pack_tag 'application' %>
  <%= nonced_javascript_include_tag 'application' %>
  <%= nonced_javascript_include_tag "https://cdn.datatables.net/plug-ins/1.10.15/sorting/natural.js" %>

  <script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
      <%= render '/layouts/ga_script.js' %>
  </script>

  <% if ENV['TCELL_AGENT_APP_ID'].present? && ENV['TCELL_AGENT_API_KEY'].present? %>
    <script src="https://jsagent.tcell.io/tcellagent.min.js" nonce="<%= content_security_policy_script_nonce %>"
            tcellappid="<%= ENV['TCELL_AGENT_APP_ID'] %>" tcellapikey="<%= ENV['TCELL_AGENT_API_KEY'] %>"></script>
  <% end %>

  <% if @selected_branding_group.present? %>
    <style type="text/css">
      body {
        background-color: <%= @selected_branding_group.background_color %> !important;
        color: <%= @selected_branding_group.font_color %> !important;
        font-family: <%= @selected_branding_group.font_family %> !important;
      }
    </style>
  <% end %>
</head>
<body <%= @selected_branding_group.present? ? "data-branding-id=#{@selected_branding_group.name_as_id}" : nil %>>
<% if DeploymentNotification.present?  %>
     <%= render '/layouts/nav', :deployment_notification => @deployment_notification  %>
<% else %>
    <%= render '/layouts/nav' %>
<%end %>
<div id="notices-target">
  <%= render '/layouts/notices' %>
</div>
<% if controller_name == 'site' && action_name == 'index' %>
  <%= yield %>
<% else %>
  <div class="container-fluid" id="wrap">
    <div class="row section-pad" id="main-body">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="loading-modal" role="dialog" aria-labelledby="loading-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="text-center">Loading... Please Wait</h4>
      </div>
      <div class="modal-body">
        <div id="spinner_target"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-modal" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="text-center">Deleting... Please Wait</h4>
			</div>
			<div class="modal-body">
				<div class="spinner-target" id="delete-modal-spinner"></div>
			</div>
			<div class="modal-footer">
				<button class="close" data-dismiss="modal">×</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="generic-modal" role="dialog" aria-labelledby="generic-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="generic-modal-title" class="text-center"></h4>
      </div>
      <div class="modal-body">
        <div class="spinner-target" id="generic-modal-spinner"></div>
      </div>
      <div class="modal-footer">
        <button class="close" data-dismiss="modal">×</button>
      </div>
    </div>
  </div>
</div>
<div id="generic-update-target"></div>
<div id="scp-footer">
  <% if @selected_branding_group.present? && @selected_branding_group.footer_image.present? %>
    <%= image_tag @selected_branding_group.footer_image.url, class: 'pull-left' %>
  <% else %>
    <%= link_to image_tag('broad-logo-white.png'), "https://www.broadinstitute.org", class: 'pull-left' %>
  <% end %>
    <div class="footer-text-block pull-left">
      &copy; <%= Date.today.year %> The Broad Institute of MIT and Harvard
    </div>
    <div class="footer-text-block pull-left left-border-0-5">
      <%= scp_link_to 'Privacy Policy', privacy_policy_path %>
    </div>
  <% if @selected_branding_group.present? %>
    <div class="footer-text-block">
      <%= link_to "<i class='fas fa-chevron-circle-left fa-fw'></i> Return to Single Cell Portal".html_safe, site_path %>
    </div>
  <% end %>
</div>
<script type="text/javascript" nonce="<%= content_security_policy_script_nonce %>">
    // set the unique cookie for tracking user IDs in GA
    // this is not personally identifiable, lasts for 1 year or until cleared

    if ( typeof Cookies.get('user_id') === 'undefined' ) {
        Cookies.set('user_id', '<%= SecureRandom.uuid %>', {expires: 365})
    }

    // set userId in Google Analytics
    var userId = Cookies.get('user_id');
    ga('set', 'userId', userId);

    // variable used mostly for testing
    PAGE_RENDERED = true;

    // enable default behaviors
    enableDefaultActions();

    // listener to track downloads for reporting
    $('.dl-link').click(function() {
        var url = $(this).attr('href');
        $.ajax({
            url: '<%= log_action_path %>?url_string=' + url,
            dataType: 'script'
        });
    });

    // adjusting margins on page when notification banner is present
    $(document).ready(function() {
        var notification_banner = document.getElementsByClassName('notification-banner');
        var home_page = document.getElementsByClassName('home-page-fix')
        if (notification_banner.length >0 && !home_page.length >0 ){
            $('#main-body').css(
             "margin-top", "100px"
            )
        }
    });
</script>
</body>
</html>
